.flash-messages {
  margin-top: 16px;
  margin-bottom: 16px;
}

.flash {
  font-size: 14px;
  line-height: 1.6;
  color: #246;
  background-color: #e2eef9;
  border: solid 1px #bac6d3;
  border-radius: 3px;
  padding: 16px;

  // Color variations
  &.flash-warn {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2;
  }

  &.flash-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2;
  }

  // Small flashes
  &.flash-sm {
    padding: 8px 16px;

    .btn-sm {
      margin-top: -2px;
    }
  }

  // Add an icon
  > .octicon {
    float: left;
    margin-right: 12px;
    margin-top: 3px;
  }

  // Flashes can have an action button
  .btn {
    float: right;
    margin-top: -6px;
    margin-left: 16px;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  // Make links stand out
  a {
    font-weight: bold;
  }

  // More flashes below
  + .flash {
    margin-top: 10px;
  }
}

// Close a flash
.flash-close {
  color: inherit;
  cursor: pointer;
  float: right;
  margin-top: -16px;
  margin-right: -16px;
  opacity: 0.6;
  padding: 16px 24px; // bigger hit area
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}
