// Custom select
//
// Apply `.select` to any `<select>` element for custom styles.

.select {
  display: inline-block;
  max-width: 100%;
  padding: 7px 24px 7px 8px;
  vertical-align: middle;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 8px center;
  background-size: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.075);
  // Have to include vendor prefixes as the `appearance` property isn't part of the CSS spec.
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // IE9 hacks to hide the background-image and reduce padding
  padding-right: 8px \9;
  background-image: none \9;

  &:focus {
    outline: none;
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  }

  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }
}

.select-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;

  &:not([multiple]) {
    height: 26px;
    min-height: 26px;
  }
}
