// Needs refactoring
// stylelint-disable selector-max-type
.pagination {
  a,
  span,
  em {
    display: inline-block;
    padding: $spacer-1 12px;
    color: $text-black;
    font-style: normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-bottom: 2px $border-style transparent;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-gray-dark;
      outline: 0;
    }

    &:active {
      color: $text-gray-light;
    }
  }

  .current,
  .current:hover,
  [aria-current],
  [aria-current]:hover {
    border-color: $orange-500;
  }

  .gap,
  .disabled,
  [aria-disabled=true],
  .gap:hover,
  .disabled:hover,
  [aria-disabled=true]:hover {
    cursor: default;
    color: $text-gray-light;
    border-color: transparent;
  }
}

// Unified centered pagination across the site
.paginate-container {
  margin-top: $spacer-3;
  margin-bottom: $spacer-3;
  text-align: center;

  .pagination {
    display: inline-block;
  }
}
