.TimelineItem {
  position: relative;
  display: flex;
  padding: $spacer-3 0;
  margin-left: $spacer-3;

  // The Timeline
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 2px;
    content: '';
    background-color: var(--color-border-muted);
  }

  &:target .TimelineItem-badge {
    border-color: var(--color-accent-emphasis);
    // stylelint-disable-next-line primer/box-shadow
    box-shadow: 0 0 0.2em var(--color-accent-muted);
  }
}

.TimelineItem-badge {
  position: relative;
  z-index: 1;
  display: flex;
  width: $spacer-5;
  height: $spacer-5;
  margin-right: $spacer-2;
  margin-left: -$spacer-3 + 1;
  color: var(--color-fg-muted);
  align-items: center;
  background-color: var(--color-timeline-badge-bg);
  // stylelint-disable-next-line primer/borders
  border: 2px $border-style var(--color-canvas-default);
  border-radius: 50%;
  justify-content: center;
  flex-shrink: 0;

  &--success {
    color: var(--color-fg-on-emphasis);
    background-color: var(--color-success-emphasis);
    border: $border-width $border-style transparent;
  }
}

.TimelineItem-body {
  min-width: 0;
  max-width: 100%;
  margin-top: $spacer-1;
  color: var(--color-fg-muted);
  flex: auto;
}

.TimelineItem-avatar {
  position: absolute;
  left: -($spacer-6 + $spacer-5);
  z-index: 1;
}

.TimelineItem-break {
  position: relative;
  z-index: 1;
  height: $spacer-4;
  margin: 0;
  margin-bottom: -$spacer-3;
  // stylelint-disable-next-line primer/spacing
  margin-left: -($spacer-6 + $spacer-3);
  background-color: var(--color-canvas-default);
  border: 0;
  // stylelint-disable-next-line primer/borders
  border-top: 4px $border-style var(--color-border-default);
}

.TimelineItem--condensed {
  padding-top: $spacer-1;
  padding-bottom: 0;

  // TimelineItem--condensed is often grouped. (commits)
  &:last-child {
    padding-bottom: $spacer-3;
  }

  .TimelineItem-badge {
    height: $spacer-3;
    margin-top: $spacer-2;
    margin-bottom: $spacer-2;
    color: var(--color-fg-muted);
    background-color: var(--color-canvas-default);
    border: 0;
  }
}
