# Supported Browsers: https://help.github.com/articles/supported-browsers/
# File used by ESLint

last 10 Chrome versions
last 4 Firefox versions
last 3 Safari versions
not Safari 12
last 4 Edge versions
not Edge <= 18
Firefox ESR
