// Sunken tab nav
//
// Sunken tabbed navigation menu. Really needs to be used with one of the
// following modifier classes in order to make sense and not look like :poop:.

.sunken-menu {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px);
  box-shadow: inset 1px 0 0 #eee;

  &:before,
  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 15px;
    content: "";
    background-color: transparent;
  }

  &:before {
    top: 0;
    background-color: transparent;
    background-image: linear-gradient(#fff, rgba(#fff, 0));
  }

  &:after {
    bottom: 0;
    background-color: transparent;
    background-image: linear-gradient(rgba(#fff, 0), #fff);
  }
}

.sunken-menu-separator {
  position: relative;
  height: 5px;
  margin: 8px 0 6px 1px;
  background-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(#f4f4f4, 0));

  &:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-image: linear-gradient(to right, #eee 70%, #fff 100%);
    border-top: 1px solid #eee\9; // Hack to give IE9 at least some separator
  }
}

.sunken-menu-group {
  list-style-type: none;
}

.sunken-menu-item {
  display: block;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  outline: 0;

  // Inner components
  .counter {
    position: absolute;
    top: 8px;
    right: 10px;
  }

  .octicon {
    left: -1px;
    width: 16px;
    color: $brand-gray-light;
    text-align: center;
  }

  .mini-loader {
    position: absolute;
    top: 9px;
    left: 11px;
    display: none;
  }

  // States
  &:focus,
  &:hover {
    text-decoration: none;
    box-shadow: inset 2px 0 0 #ccc;

    .octicon { color: $brand-gray-dark; }
  }

  &.selected {
    font-weight: bold;
    color: $brand-gray-dark;
    background-color: #fff;
    border-color: #eee #eee #eee transparent;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 3px;
      content: "";
      background-color: #d26911;
      border-radius: 0 3px 3px 0;
    }

    .octicon { color: $brand-gray-dark; }
  }

  &.is-loading {
    .mini-loader {
      display: inline-block;
      animation: mini-nav-loader, 0.4s, forwards;
    }

    .octicon { color: #fff; }
  }
}

@keyframes mini-nav-loader {
  0%,
  90% {
    opacity: 0;
  }

  100% { opacity: 1; }
}
