// Truncate
//
// css-truncate will shorten text with an elipsis. The maximum width
// of the truncated text can be changed by overriding the max-width
// of the .css-truncate-target
//
// ```html
// <span class="branch-ref css-truncate css-truncate-target$modifier_class">really-long-branch-name</span>
// ```
//
// .expandable - When hovered over, the full text expands.
//
// Styleguide 9.1
.css-truncate {

  // Truncate double target
  //
  // css-truncate will shorten text with an elipsis. The maximum width
  // of the truncated text can be changed by overriding the max-width
  // of the .css-truncate-target
  //
  // ```html
  // <span class="css-truncate$modifier_class">
  //   <span class="branch-ref css-truncate-target$modifier_class">thisisareallylongusername</span>:
  //   <span class="branch-ref css-truncate-target">this-is-a-really-long-branch-name</span>
  // </span>
  // ```
  //
  // .expandable - When hovered over, the full text expands.
  //
  // Styleguide 9.1.1
  &.css-truncate-target,
  .css-truncate-target {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
  }

  &.expandable.zeroclipboard-is-hover .css-truncate-target,
  &.expandable.zeroclipboard-is-hover.css-truncate-target,
  &.expandable:hover .css-truncate-target,
  &.expandable:hover.css-truncate-target {
    max-width: 10000px !important;
  }
}
