$container-width: 980px !default;
$grid-gutter:     10px !default;

// Brand colors
//
// The colors we use for everything
//
// ```html
// <div style="background: $modifier_description;" class="styleguide-color">$modifier_class</div>
// ```
//
// .$brand-linkBlue - #4183c4
// .$brand-lightGrey - #999
// .$brand-medGrey - #666
// .$brand-darkGrey - #333
// .$brand-green - #6cc644
// .$brand-red - #bd2c00
// .$brand-orange - #f93
// .$brand-purple - #6e5494
//
// Styleguide 11.1
$brand-linkBlue:  #4183c4 !default;
$brand-lightGrey: #999    !default;
$brand-medGrey:   #666    !default;
$brand-darkGrey:  #333    !default;
$brand-green:     #6cc644 !default;
$brand-red:       #bd2c00 !default;
$brand-orange:    #f93    !default;
$brand-purple:    #6e5494 !default;

// Font stack
//
// The base body font, great everywhere.
// `Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"`
//
// Styleguide 11.2.1
$bodyFont: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// The base body size
$bodySize: 13px !default;

// Monospace font stack
//
// This is the font stack we use to display monospace.
// `Consolas, "Liberation Mono", Menlo, Courier, monospace`
//
// ```html
// <div class="markdown-body">
//   <h3 style='font-family:$modifier_class;'>$modifier_class</h3>
//   <h4 style='font-family:$modifier_class;'>Normal</h4>
//   <pre style='font-family:$modifier_class;'>ABCDEFGHIJKLMNOPQRSTUVWXYZ
// abcdefghijklmnopqrstuvwxyz
// !@#$%^&*()_+-=,./?<>[]\{}|~`
// 1234567890</pre>
//   <h4 style='font-family:$modifier_class;'>Bold</h4>
//   <pre style='font-family:$modifier_class;font-weight:bold;'>ABCDEFGHIJKLMNOPQRSTUVWXYZ
// abcdefghijklmnopqrstuvwxyz
// !@#$%^&*()_+-=,./?<>[]\{}|~`
// 1234567890</pre>
//   <h4 style='font-family:$modifier_class;'>Italic</h4>
//   <pre style='font-family:$modifier_class;font-style:italic;'>ABCDEFGHIJKLMNOPQRSTUVWXYZ
// abcdefghijklmnopqrstuvwxyz
// !@#$%^&*()_+-=,./?<>[]\{}|~`
// 1234567890</pre>
// </div>
// ```
//
// .Consolas                     - Windows
// ."Liberation Mono"            - Linux
// .Menlo                        - Mac
// .Courier                      - Windows, Mac, Linux
// .monospace                    - Everywhere
//
// Styleguide 11.2.2
$monoFont: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// z-index variables
//
// These are encouraged to use with absolutely positioned elements.
//
// - **$minorZ** - for use with small tweaks, like positioning elements
// - **$menuZ** - for use with Menus, Dropdowns, popups
// - **$modalZ** - for use with fullscreen absolute top elements
//
// Styleguide 11.3
$minorZ: 2;
$menuZ: 5;
$modalZ: 10;

// State indicators.
//
// No styleguide reference.
$status-open:     $brand-green;
$status-closed:   $brand-red;
$status-reverted: $status-closed;
$status-merged:   $brand-purple;
$status-renamed:  #fffa5d;
$status-pending:  #cea61b;

// Repository type colors
$repo-private-text: #a1882b;
$repo-private-bg:   #fff9ea;
$repo-private-icon: #e9dba5;
