.Header {
  z-index: 32; // TODO: Figure out z-index system
  display: flex;
  padding: var(--base-size-16);
  font-size: $h5-size;
  line-height: $lh-default;
  color: var(--header-fgColor-default);
  background-color: var(--header-bgColor);
  align-items: center;
  flex-wrap: nowrap;
}

.Header-item {
  display: flex;
  margin-right: var(--base-size-16);
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;
}

.Header-item--full {
  flex: auto;
}

.Header-link {
  font-weight: $font-weight-bold;
  color: var(--header-fgColor-logo);
  white-space: nowrap;

  &:hover,
  &:focus {
    color: var(--header-fgColor-default);
    text-decoration: none;
  }
}

.Header-input {
  color: var(--header-fgColor-default);
  background-color: var(--headerSearch-bgColor);
  border: $border-width $border-style var(--headerSearch-borderColor);
  box-shadow: none;

  &::placeholder {
    // stylelint-disable-next-line primer/colors
    color: rgba(255, 255, 255, 0.75);
  }
}
