.Dialog {
  animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running overlay--dialog-appear;
}

.Dialog-footer {
  justify-content: flex-end;
  gap: 8px;
}

@keyframes overlay--dialog-appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
