//
// ------------------------ Deprecated ------------------------
// Some might get replaced at some point.
// If possible, use functional CSS variables from primer/primitives
//

@import "color-system.scss";
// Color variables

// Border colors
$border-color: 			 var(--color-border-primary) !default;
$border-gray:        var(--color-border-primary) !default;
$border-gray-light:  var(--color-border-primary-light) !default;
$border-gray-dark:   var(--color-border-secondary) !default;
$border-white:       var(--color-border-inverse) !default;
$border-blue:        var(--color-border-info) !default;
$border-green:       var(--color-border-success) !default;
$border-red:         var(--color-border-danger) !default;
$border-yellow:      var(--color-border-warning) !default;

$border-gray-darker: $gray-700 !default;
$border-blue-light:  $blue-200 !default;
$border-red-light:   $red-300 !default;
$border-purple:      $purple-500 !default;
$border-black-fade:  $black-fade-15 !default;
$border-white-fade:  $white-fade-15 !default;

$border-green-light: var(--color-discussion-border) !default; // TODO: Move to dotcom

// Background colors
$bg-white:          var(--color-bg-primary) !default;
$bg-gray:           var(--color-bg-secondary) !default;
$bg-gray-light:     var(--color-bg-tertiary) !default;
$bg-gray-dark:      var(--color-bg-canvas-inverse) !default;
$bg-red:            var(--color-bg-danger-inverse) !default;
$bg-red-light:      var(--color-bg-danger) !default;
$bg-green:          var(--color-bg-success-inverse) !default;
$bg-green-light:    var(--color-bg-success) !default;
$bg-blue:           var(--color-bg-info-inverse) !default;
$bg-blue-light:     var(--color-bg-info) !default;
$bg-yellow:         var(--color-bg-warning-inverse) !default;
$bg-yellow-light:   var(--color-bg-warning) !default;

$bg-black:          $black !default;
$bg-black-fade:     $black-fade-50 !default;
$bg-orange:         $orange-700 !default;
$bg-purple:         $purple-500 !default;
$bg-purple-light:   $purple-000 !default;
$bg-pink:           $pink-500 !default;
$bg-yellow-dark:    $yellow-700 !default;

// Text colors
$text-gray-dark:    var(--color-text-primary) !default;
$text-gray:         var(--color-text-secondary) !default;
$text-gray-light:   var(--color-text-tertiary) !default;
$text-white:        var(--color-text-inverse) !default;
$text-blue:         var(--color-text-link-primary) !default;
$text-green:        var(--color-text-success) !default;
$text-red:          var(--color-text-danger) !default;
$text-yellow:       var(--color-text-warning) !default;

$text-black:        $black !default;
$text-orange:       $orange-900 !default;
$text-orange-light: $orange-600 !default;
$text-purple:       $purple !default;
$text-pink:         $pink-500 !default;

// Misc ------------------------------------

// Box shadow
$box-shadow: var(--color-shadow-small) !default;
$box-shadow-medium: var(--color-shadow-medium) !default;
$box-shadow-large: var(--color-shadow-large) !default;
$box-shadow-extra-large: var(--color-shadow-extra-large) !default;

$box-shadow-highlight: var(--color-shadow-highlight) !default; // top highlight
$box-shadow-inset: var(--color-shadow-inset) !default; // top inner shadow
$box-shadow-focus: var(--color-shadow-focus) !default; // blue focus ring

// Button variables
$border-color-button: var(--color-btn-border) !default;
$btn-active-shadow: var(--color-btn-shadow-active) !default; // TODO: Deprecate?
$btn-input-focus-shadow: var(--color-btn-shadow-input-focus) !default; // TODO: Deprecate?

// Form variables
$form-control-shadow: var(--color-input-shadow) !default; // TODO: Deprecate?

// Tooltips
$tooltip-background-color: var(--color-bg-canvas-inverse) !default; // TODO: Deprecate?
$tooltip-text-color: var(--color-text-inverse) !default; // TODO: Deprecate?

// diffstat background colors
$bg-diffstat-added: var(--color-diff-addition-bg) !default; // TODO: Deprecate?
$bg-diffstat-deleted: var(--color-diff-deletion-bg) !default; // TODO: Deprecate?
$bg-diffstat-neutral: var(--color-diff-neutral-bg) !default; // TODO: Deprecate?
