//
// ------------------------ Deprecated ------------------------
// ------------- Replaced with primer/primitives --------------
//

// Black based on same hue as $gray-900
$black: var(--color-scale-black) !default;
$white: var(--color-scale-white) !default;

//
//
// -------- Grays --------
$gray-000: var(--color-scale-gray-0) !default;
$gray-100: var(--color-scale-gray-1) !default;
$gray-200: var(--color-scale-gray-2) !default;
$gray-300: var(--color-scale-gray-3) !default;
$gray-400: var(--color-scale-gray-4) !default;
$gray-500: var(--color-scale-gray-5) !default;
$gray-600: var(--color-scale-gray-6) !default;
$gray-700: var(--color-scale-gray-7) !default;
$gray-800: var(--color-scale-gray-8) !default;
$gray-900: var(--color-scale-gray-9) !default;

// -------- Blue --------
$blue-000: var(--color-scale-blue-0) !default;
$blue-100: var(--color-scale-blue-1) !default;
$blue-200: var(--color-scale-blue-2) !default;
$blue-300: var(--color-scale-blue-3) !default;
$blue-400: var(--color-scale-blue-4) !default;
$blue-500: var(--color-scale-blue-5) !default;
$blue-600: var(--color-scale-blue-6) !default;
$blue-700: var(--color-scale-blue-7) !default;
$blue-800: var(--color-scale-blue-8) !default;
$blue-900: var(--color-scale-blue-9) !default;

// -------- Green --------
$green-000: var(--color-scale-green-0) !default;
$green-100: var(--color-scale-green-1) !default;
$green-200: var(--color-scale-green-2) !default;
$green-300: var(--color-scale-green-3) !default;
$green-400: var(--color-scale-green-4) !default;
$green-500: var(--color-scale-green-5) !default;
$green-600: var(--color-scale-green-6) !default;
$green-700: var(--color-scale-green-7) !default;
$green-800: var(--color-scale-green-8) !default;
$green-900: var(--color-scale-green-9) !default;

// -------- Yellow --------
$yellow-000: var(--color-scale-yellow-0) !default;
$yellow-100: var(--color-scale-yellow-1) !default;
$yellow-200: var(--color-scale-yellow-2) !default;
$yellow-300: var(--color-scale-yellow-3) !default;
$yellow-400: var(--color-scale-yellow-4) !default;
$yellow-500: var(--color-scale-yellow-5) !default;
$yellow-600: var(--color-scale-yellow-6) !default;
$yellow-700: var(--color-scale-yellow-7) !default;
$yellow-800: var(--color-scale-yellow-8) !default;
$yellow-900: var(--color-scale-yellow-9) !default;

// -------- Orange --------
$orange-000: var(--color-scale-orange-0) !default;
$orange-100: var(--color-scale-orange-1) !default;
$orange-200: var(--color-scale-orange-2) !default;
$orange-300: var(--color-scale-orange-3) !default;
$orange-400: var(--color-scale-orange-4) !default;
$orange-500: var(--color-scale-orange-5) !default;
$orange-600: var(--color-scale-orange-6) !default;
$orange-700: var(--color-scale-orange-7) !default;
$orange-800: var(--color-scale-orange-8) !default;
$orange-900: var(--color-scale-orange-9) !default;

// -------- Red --------
$red-000: var(--color-scale-red-0) !default;
$red-100: var(--color-scale-red-1) !default;
$red-200: var(--color-scale-red-2) !default;
$red-300: var(--color-scale-red-3) !default;
$red-400: var(--color-scale-red-4) !default;
$red-500: var(--color-scale-red-5) !default;
$red-600: var(--color-scale-red-6) !default;
$red-700: var(--color-scale-red-7) !default;
$red-800: var(--color-scale-red-8) !default;
$red-900: var(--color-scale-red-9) !default;

// -------- Purple --------
$purple-000: var(--color-scale-purple-0) !default;
$purple-100: var(--color-scale-purple-1) !default;
$purple-200: var(--color-scale-purple-2) !default;
$purple-300: var(--color-scale-purple-3) !default;
$purple-400: var(--color-scale-purple-4) !default;
$purple-500: var(--color-scale-purple-5) !default;
$purple-600: var(--color-scale-purple-6) !default;
$purple-700: var(--color-scale-purple-7) !default;
$purple-800: var(--color-scale-purple-8) !default;
$purple-900: var(--color-scale-purple-9) !default;

// -------- Pink --------
$pink-000: var(--color-scale-pink-0) !default;
$pink-100: var(--color-scale-pink-1) !default;
$pink-200: var(--color-scale-pink-2) !default;
$pink-300: var(--color-scale-pink-3) !default;
$pink-400: var(--color-scale-pink-4) !default;
$pink-500: var(--color-scale-pink-5) !default;
$pink-600: var(--color-scale-pink-6) !default;
$pink-700: var(--color-scale-pink-7) !default;
$pink-800: var(--color-scale-pink-8) !default;
$pink-900: var(--color-scale-pink-9) !default;

// -------- Fades --------
$black-fade-15: var(--color-fade-black-15) !default;
$black-fade-30: var(--color-fade-black-30) !default;
$black-fade-50: var(--color-fade-black-50) !default;
$black-fade-70: var(--color-fade-black-70) !default;
$black-fade-85: var(--color-fade-black-85) !default;

$white-fade-15: var(--color-fade-white-15) !default;
$white-fade-30: var(--color-fade-white-30) !default;
$white-fade-50: var(--color-fade-white-50) !default;
$white-fade-70: var(--color-fade-white-70) !default;
$white-fade-85: var(--color-fade-white-85) !default;

// -------- Color defaults --------
$red:         $red-500 !default;
$purple:      $purple-500 !default;
$blue:        $blue-500 !default;
$green:       $green-500 !default;
$yellow:      $yellow-500 !default;
$orange:      $orange-500 !default;

$gray-dark:   $gray-900 !default;
$gray-light:  $gray-400 !default;
$gray:        $gray-500 !default;

// -------- Color gradient maps --------

$grays: (
  0: $gray-000,
  1: $gray-100,
  2: $gray-200,
  3: $gray-300,
  4: $gray-400,
  5: $gray-500,
  6: $gray-600,
  7: $gray-700,
  8: $gray-800,
  9: $gray-900,
) !default;

$blues: (
  0: $blue-000,
  1: $blue-100,
  2: $blue-200,
  3: $blue-300,
  4: $blue-400,
  5: $blue-500,
  6: $blue-600,
  7: $blue-700,
  8: $blue-800,
  9: $blue-900,
) !default;

$greens: (
  0: $green-000,
  1: $green-100,
  2: $green-200,
  3: $green-300,
  4: $green-400,
  5: $green-500,
  6: $green-600,
  7: $green-700,
  8: $green-800,
  9: $green-900,
) !default;

$yellows: (
  0: $yellow-000,
  1: $yellow-100,
  2: $yellow-200,
  3: $yellow-300,
  4: $yellow-400,
  5: $yellow-500,
  6: $yellow-600,
  7: $yellow-700,
  8: $yellow-800,
  9: $yellow-900,
) !default;

$oranges: (
  0: $orange-000,
  1: $orange-100,
  2: $orange-200,
  3: $orange-300,
  4: $orange-400,
  5: $orange-500,
  6: $orange-600,
  7: $orange-700,
  8: $orange-800,
  9: $orange-900,
) !default;

$reds: (
  0: $red-000,
  1: $red-100,
  2: $red-200,
  3: $red-300,
  4: $red-400,
  5: $red-500,
  6: $red-600,
  7: $red-700,
  8: $red-800,
  9: $red-900,
) !default;

$purples: (
  0: $purple-000,
  1: $purple-100,
  2: $purple-200,
  3: $purple-300,
  4: $purple-400,
  5: $purple-500,
  6: $purple-600,
  7: $purple-700,
  8: $purple-800,
  9: $purple-900,
) !default;

$pinks: (
  0: $pink-000,
  1: $pink-100,
  2: $pink-200,
  3: $pink-300,
  4: $pink-400,
  5: $pink-500,
  6: $pink-600,
  7: $pink-700,
  8: $pink-800,
  9: $pink-900,
) !default;

$hue-maps: (
  "gray": $grays,
  "blue": $blues,
  "green": $greens,
  "yellow": $yellows,
  "orange": $oranges,
  "red": $reds,
  "purple": $purples,
  "pink": $pinks,
) !default;
