@import "color-system.scss";
// Color variables

// Border colors
$border-white:       $white !default;
$border-black-fade:  $black-fade-15 !default;
$border-white-fade:  $white-fade-15 !default;
$border-gray-dark:   $gray-300 !default;
$border-gray-darker: $gray-700 !default;
$border-gray-light:  lighten($gray-200, 3%) !default;
$border-gray:        $gray-200 !default;
$border-blue:        $blue-500 !default;
$border-blue-light:  $blue-200 !default;
$border-green:       $green-400 !default;
$border-green-light: desaturate($green-300, 40%) !default;
$border-purple:      $purple !default;
$border-red:         $red !default;
$border-red-light:   $red-300 !default;
$border-yellow:      $yellow-600 !default;

// Background colors
$bg-white:          $white !default;
$bg-black:          $black !default;
$bg-black-fade:     $black-fade-50 !default;
$bg-blue-light:     $blue-000 !default;
$bg-blue:           $blue-500 !default;
$bg-gray-dark:      $gray-900 !default;
$bg-gray-light:     $gray-000 !default;
$bg-gray:           $gray-100 !default;
$bg-green:          $green-500 !default;
$bg-green-light:    $green-100 !default;
$bg-orange:         $orange-700 !default;
$bg-purple:         $purple-500 !default;
$bg-purple-light:   $purple-000 !default;
$bg-pink:           $pink-500 !default;
$bg-red:            $red-500 !default;
$bg-red-light:      $red-000 !default;
$bg-yellow:         $yellow-500 !default;
$bg-yellow-light:   $yellow-200 !default;
$bg-yellow-dark:    $yellow-700 !default;

// Text colors
$text-black:        $black !default;
$text-white:        $white !default;
$text-blue:         $blue-500 !default;
$text-gray-dark:    $gray-900 !default;
$text-gray-light:   $gray-500 !default;
$text-gray:         $gray-600 !default;
$text-green:        $green-600 !default;
$text-orange:       $orange-900 !default;
$text-orange-light: $orange-600 !default;
$text-purple:       $purple !default;
$text-pink:         $pink-500 !default;
$text-red:          $red-600 !default;
$text-yellow:       $yellow-800 !default;
