// Typography variables

// Heading sizes - mobile
// h4-h6 remain the same size on both mobile & desktop
$h00-size-mobile: var(--primer-text-display-size, 40px) !default;
$h0-size-mobile: var(--primer-text-title-size-large, 32px) !default;
$h1-size-mobile: var(--primer-text-title-size-large, 26px) !default;
$h2-size-mobile: var(--primer-text-title-size-medium, 22px) !default;
$h3-size-mobile: var(--primer-text-title-size-medium, 18px) !default;

// Heading sizes - desktop
$h00-size: var(--primer-text-display-size, 48px) !default;
$h0-size: var(--primer-text-display-size, 40px) !default;
$h1-size: var(--primer-text-title-size-large, 32px) !default;
$h2-size: var(--primer-text-title-size-medium, 24px) !default;
$h3-size: var(--primer-text-subtitle-size, 20px) !default;
$h4-size: var(--primer-text-body-size-large, 16px) !default;
$h5-size: var(--primer-text-body-size-medium, 14px) !default;
$h6-size: var(--primer-text-body-size-small, 12px) !default;

$font-size-small: var(--primer-text-body-size-small, 12px) !default;

// Font weights
$font-weight-bold: 600 !default;
$font-weight-semibold: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

// Font stacks
$body-font: var(--primer-fontStack-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji') !default;

// Monospace font stack
// Note: SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome
$mono-font: var(--primer-fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !default;

// The base body size
$body-font-size: var(--primer-text-body-size-medium, 14px) !default;
$body-line-height: $lh-default  !default;
