// Typography variables

@function font-size-to-rem($px, $baseFontSize) {
  @return ($px / $baseFontSize) * 1rem;
}

$baseFontSize: 16;

// Heading sizes - mobile
// h4-h6 remain the same size on both mobile & desktop
$h00-size-mobile: font-size-to-rem(40, $baseFontSize) !default;
$h0-size-mobile: font-size-to-rem(32, $baseFontSize) !default;
$h1-size-mobile: font-size-to-rem(26, $baseFontSize) !default;
$h2-size-mobile: font-size-to-rem(22, $baseFontSize) !default;
$h3-size-mobile: font-size-to-rem(18, $baseFontSize) !default;

// Heading sizes - desktop
$h00-size: font-size-to-rem(48, $baseFontSize) !default;
$h0-size: font-size-to-rem(40, $baseFontSize) !default;
$h1-size: font-size-to-rem(32, $baseFontSize) !default;
$h2-size: font-size-to-rem(24, $baseFontSize) !default;
$h3-size: font-size-to-rem(20, $baseFontSize) !default;
$h4-size: font-size-to-rem(16, $baseFontSize) !default;
$h5-size: font-size-to-rem(14, $baseFontSize) !default;
$h6-size: font-size-to-rem(12, $baseFontSize) !default;

$font-size-small: font-size-to-rem(12, $baseFontSize) !default;

// Font weights
$font-weight-bold: 600 !default;
$font-weight-semibold: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

// Font stacks
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !default;

// Monospace font stack
// Note: SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome
$mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !default;

// The base body size
$body-font-size: font-size-to-rem(14, $baseFontSize) !default;
$body-line-height: $lh-default !default;
