// All themes

@import './themes/light.scss';
@import './themes/light_colorblind.scss';
@import './themes/light_high_contrast.scss';
@import './themes/light_tritanopia.scss';
@import './themes/dark.scss';
@import './themes/dark_dimmed.scss';
@import './themes/dark_high_contrast.scss';
@import './themes/dark_colorblind.scss';
@import './themes/dark_tritanopia.scss';
