.dropdown {
  position: relative;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-style: $border-style;
  // stylelint-disable-next-line primer/borders
  border-width: $spacer-1 $spacer-1 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

// Requires a positioning class (e.g., `.dropdown-menu-w`) to determine which
// way the menu should render from the element triggering it.
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 160px;
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
  // stylelint-disable-next-line primer/spacing
  margin-top: 2px;
  list-style: none;
  background-color: $bg-white;
  background-clip: padding-box;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow-large;

  // stylelint-disable-next-line selector-max-type
  > ul {
    list-style: none;
  }
}

.dropdown-menu-no-overflow {
  width: auto;

  .dropdown-item {
    padding: $spacer-1 $spacer-3;
    overflow: visible;
    text-overflow: inherit;
  }
}

// Dropdown items (can be links or buttons)
.dropdown-item {
  display: block;
  padding: $spacer-1 $spacer-2 $spacer-1 $spacer-3;
  overflow: hidden;
  color: $text-gray-dark;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus,
  &:hover {
    color: $text-white;
    text-decoration: none;
    background-color: $bg-blue;
    outline: none;

    > .octicon {
      color: inherit;
      opacity: 1;
    }
  }

  &.btn-link {
    width: 100%;
    text-align: left;
  }
}

.dropdown-signout {
  width: 100%;
  text-align: left;
  background: none;
  border: 0;
}

.dropdown-divider {
  display: block;
  height: 0;
  margin: $spacer-2 0;
  border-top: $border;
}

.dropdown-header {
  padding: $spacer-1 $spacer-3;
  font-size: $h6-size;
  color: $text-gray;
}

.dropdown-item[aria-checked="false"] .octicon-check {
  display: none;
}

// Directional classes
//
// Move the menu and the caret attached to it. Requires at least one of these on
// the `.dropdown-menu` element.

.dropdown-menu-w {
  top: 0;
  right: 100%;
  left: auto;
  width: auto;
  margin-top: 0;
  margin-right: $spacer-2;
}

.dropdown-menu-e {
  top: 0;
  left: 100%;
  width: auto;
  margin-top: 0;
  margin-left: $spacer-2;
}

.dropdown-menu-ne {
  top: auto;
  bottom: 100%;
  left: 0;
  // stylelint-disable-next-line primer/spacing
  margin-bottom: 3px;
}

.dropdown-menu-s {
  right: 50%;
  left: auto;
  transform: translateX(50%);
}

.dropdown-menu-sw {
  right: 0;
  left: auto;
}

// Dark dropdowns
.dropdown-menu-dark {
  color: $text-white;
  // stylelint-disable-next-line primer/colors
  background: $gray-800;
  border-color: $border-gray-darker;
  box-shadow: $box-shadow-large;

  .dropdown-header {
    // stylelint-disable-next-line primer/colors
    color: $gray-300;
  }

  .dropdown-divider {
    border-top-color: $border-gray-darker;
  }

  .dropdown-item {
    color: inherit;
  }
}
