// Counters are rounded-corner badges for numbers
.Counter {
  display: inline-block;
  min-width: 20px; // makes sure it's a circle with just one digit
  // stylelint-disable-next-line primer/spacing
  padding: 2px 6px;
  font-size: $font-size-small;
  // stylelint-disable-next-line primer/typography
  font-weight: 500;
  // stylelint-disable-next-line primer/typography
  line-height: 16px;
  color: $text-gray-dark;
  text-align: center;
  // stylelint-disable-next-line primer/colors
  background-color: rgba($gray-200, 0.5);
  // stylelint-disable-next-line primer/borders
  border-radius: 2em;

  &:empty {
    visibility: hidden;
  }

  .octicon {
    opacity: 0.5;
  }
}

.Counter--gray-light {
  color: $text-gray-light;
}

.Counter--gray {
  color: $text-white;
  // stylelint-disable-next-line primer/colors
  background-color: $gray-500;
}
