// diffstat
//
// Green/red blocks showing additions and deletions

.diffstat {
  font-size: $h6-size;
  font-weight: $font-weight-bold;
  color: $text-gray;
  white-space: nowrap;
  cursor: default;
}

.diffstat-block-deleted,
.diffstat-block-added,
.diffstat-block-neutral {
  display: inline-block;
  width: $spacer-2;
  height: $spacer-2;
  margin-left: 1px;
}

.diffstat-block-deleted {
  background-color: $red-600;
}

.diffstat-block-added {
  background-color: darken($green-400, 5%);
}

.diffstat-block-neutral {
  background-color: $gray-300;
}
