// Issue Labels

.IssueLabel {
  display: inline-block;
  // stylelint-disable-next-line primer/spacing
  padding: 2px $spacer-2;
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
  // stylelint-disable-next-line primer/typography
  line-height: 16px;
  // stylelint-disable-next-line primer/borders
  border-radius: 2em;

  .g-emoji {
    position: relative;
    top: -0.05em;
    display: inline-block;
    font-size: 1em;
    line-height: $lh-condensed-ultra;
  }

  &:hover {
    text-decoration: none;
  }
}

.IssueLabel--big {
  padding: $spacer-1 12px;
}
