// Labels

// Provide a wrapper to ensure labels stick together
.labels {
  position: relative;
}

// Default label

.label, // TODO: Deprecte
.Label {
  @include labels-base;
  background-color: transparent !important; // TODO: Remove again
  border-color: var(--color-border-primary);

  &:hover {
    text-decoration: none;
  }
}

// Large

.Label--large {
  @include labels-large;
}

// Inline

.Label--inline {
  @include labels--inline;
}

// Contrast

.Label--outline, // TODO: Deprecate? It's now the default
.Label--gray {
  color: var(--color-auto-gray-6); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-gray-2); // stylelint-disable-line primer/borders
}

.Label--gray-darker {
  color: var(--color-auto-gray-9); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-gray-5); // stylelint-disable-line primer/borders
}

// Colors

.Label--yellow {
  color: var(--color-auto-yellow-9); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-yellow-8); // stylelint-disable-line primer/borders
}

.Label--orange {
  color: var(--color-auto-orange-8); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-orange-5); // stylelint-disable-line primer/borders
}

.Label--red {
  color: var(--color-auto-red-5); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-red-6); // stylelint-disable-line primer/borders
}

.Label--outline-green, // TODO: Deprecate
.Label--green {
  color: var(--color-auto-green-6); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-green-5); // stylelint-disable-line primer/borders
}

.Label--blue {
  color: var(--color-auto-blue-5); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-blue-5); // stylelint-disable-line primer/borders
}

.Label--purple {
  color: var(--color-auto-purple-5); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-purple-4); // stylelint-disable-line primer/borders
}

.Label--pink {
  color: var(--color-auto-pink-6); // stylelint-disable-line primer/colors
  border-color: var(--color-auto-pink-4); // stylelint-disable-line primer/borders
}
