// Needs refactoring
// Labels
//
// Use labels to add keyword tags or phrases to issues and pull requests. These
// are used within a list of issues/PRs, on individual issues/PRs, and within
// the select menus that manage them.

// Provide a wrapper to ensure labels stick together
.labels {
  position: relative;
}

// Each label gets common styles

.label, // TODO: Deprecte
.Label {
  display: inline-block;
  // stylelint-disable-next-line primer/spacing
  padding: 3px 12px;
  font-size: $font-size-small;
  font-weight: $font-weight-semibold;
  // stylelint-disable-next-line primer/typography
  line-height: 16px;
  background-color: transparent !important; // TODO: Remove again
  border: $border-width $border-style $border-color;
  // stylelint-disable-next-line primer/borders
  border-radius: 2em;

  &:hover {
    text-decoration: none;
  }
}

// Custom GitHub labels (not for issues/PRs/etc)
//
// Commonly used across the site to indicate a particular role. For example,
// "repo owner" within code comments or role in organizations.

.Label--outline, // TODO: Deprecate
.Label--gray {
  color: $text-gray;
  border-color: $border-gray;
}

.Label--gray-darker {
  color: $text-gray-dark;
  // stylelint-disable-next-line primer/borders
  border-color: $gray-500;
}

// Colors

.Label--yellow {
  // stylelint-disable-next-line primer/colors
  color: $yellow-900;
  // stylelint-disable-next-line primer/borders
  border-color: $yellow-600;
}

.Label--orange {
  // stylelint-disable-next-line primer/colors
  color: $orange-800;
  // stylelint-disable-next-line primer/borders
  border-color: $orange-500;
}

.Label--red {
  color: $text-red;
  // stylelint-disable-next-line primer/borders
  border-color: $red-600;
}

.Label--outline-green, // TODO: Deprecate
.Label--green {
  // stylelint-disable-next-line primer/colors
  color: $green-600;
  // stylelint-disable-next-line primer/borders
  border-color: $green-500;
}

.Label--blue {
  // stylelint-disable-next-line primer/colors
  color: $blue-600;
  border-color: $border-blue;
}
