// A rounded corner box containing a label "open" or "closed"

// Default 32px
// Small 24px

.state, // TODO: Deprecate
.State {
  display: inline-block;
  // stylelint-disable-next-line primer/spacing
  padding: 5px 12px;
  font-size: $body-font-size;
  font-weight: $font-weight-semibold;
  // stylelint-disable-next-line primer/typography
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  // stylelint-disable-next-line primer/borders
  border-radius: 2em;
}

.state, // TODO: Deprecate
.State,
.State--draft {
  color: var(--color-fg-on-emphasis);
  background-color: var(--color-neutral-emphasis);
  border: $border-width $border-style transparent;
}

.State--open {
  color: var(--color-fg-on-emphasis);
  background-color: var(--color-success-emphasis);
}

.State--merged {
  color: var(--color-fg-on-emphasis);
  background-color: var(--color-done-emphasis);
}

.State--closed {
  color: var(--color-fg-on-emphasis);
  background-color: var(--color-danger-emphasis);
}

// Small

.State--small {
  // stylelint-disable-next-line primer/spacing
  padding: 0 10px;
  font-size: $font-size-small;
  // stylelint-disable-next-line primer/typography
  line-height: $size-3;

  .octicon {
    width: 1em; // Ensures different icons don't change State indicator width
  }
}
