<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      Layout &middot; Primer
    </title>

    <link rel="stylesheet" href="/docs.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <span class="mega-octicon octicon-package"></span>
          Primer
        </a>

        <nav class="masthead-nav">
          <a class="active" href="/scaffolding">Docs</a>
          <a  href="/about">About</a>
          <a href="https://github.com/primer/primer" target="_blank">GitHub</a>
          <a href="https://github.com/primer/primer/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns docs-layout">
  <div class="one-fourth column">
    
      <nav class="menu docs-menu">
  <a class="menu-item " href="/scaffolding/">
    Scaffolding
  </a>
  <a class="menu-item selected" href="/layout/">
    Layout
  </a>
  <a class="menu-item " href="/type/">
    Type
  </a>
  <a class="menu-item " href="/buttons/">
    Buttons
  </a>
  <a class="menu-item " href="/forms/">
    Forms
  </a>
  <a class="menu-item " href="/nav/">
    Navigation
  </a>
  <a class="menu-item " href="/alerts/">
    Alerts
  </a>
  <a class="menu-item " href="/blankslate/">
    Blankslate
  </a>
  <a class="menu-item " href="/avatars/">
    Avatars
  </a>
  <a class="menu-item " href="/states/">
    States
  </a>
  <a class="menu-item " href="/tooltips/">
    Tooltips
  </a>
  <a class="menu-item " href="/utilities/">
    Utilities
  </a>
</nav>

<nav class="menu docs-menu">
  <a class="menu-item " href="/guidelines/">
    Code guidelines
  </a>
  <a class="menu-item " href="/colors/">
    Colors
  </a>
  <a class="menu-item " href="/markdown/">
    Markdown
  </a>
</nav>

    
  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      Layout
    </h1>
    <div class="markdown-body">
      <p>Primer’s layout includes basic page containers and a single-tiered, fraction-based grid system. That sounds more complicated than it really is though—it’s just containers, rows, and columns.</p>

<p>You can find all the below styles in <code class="highlighter-rouge">_layout.scss</code>.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#container" id="markdown-toc-container">Container</a></li>
  <li><a href="#grid" id="markdown-toc-grid">Grid</a>    <ul>
      <li><a href="#how-it-works" id="markdown-toc-how-it-works">How it works</a></li>
      <li><a href="#demo" id="markdown-toc-demo">Demo</a></li>
      <li><a href="#centered" id="markdown-toc-centered">Centered</a></li>
    </ul>
  </li>
</ul>

<h2 id="container">Container</h2>

<p>Center your page’s contents with a <code class="highlighter-rouge">.container</code>.</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- contents here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<p>The container applies <code class="highlighter-rouge">width: 980px;</code> and uses horizontal <code class="highlighter-rouge">margin</code>s to center it.</p>

<h2 id="grid">Grid</h2>

<h3 id="how-it-works">How it works</h3>

<p>The grid is pretty standard—you create rows with <code class="highlighter-rouge">.columns</code> and individual columns with a column class and fraction class. Here’s how it works:</p>

<ul>
  <li>Add a <code class="highlighter-rouge">.container</code> to encapsulate everything and provide ample horizontal gutter space.</li>
  <li>Create your outer row to clear the floated columns with <code class="highlighter-rouge">&lt;div class="columns"&gt;</code>.</li>
  <li>Add your columns with individual <code class="highlighter-rouge">&lt;div class="column"&gt;</code>s.</li>
  <li>Add your fractional width classes to set the width of the columns (e.g., <code class="highlighter-rouge">.one-fourth</code>).</li>
</ul>

<h3 id="demo">Demo</h3>

<p>In practice, your columns will look like the example below.</p>

<div class="docs-example clearfix"><div class="container">
  <div class="columns">
    <div class="one-fifth column">
      .one-fifth
    </div>
    <div class="four-fifths column">
      .four-fifths
    </div>
  </div>

  <div class="columns">
    <div class="one-fourth column">
      .one-fourth
    </div>
    <div class="three-fourths column">
      .three-fourths
    </div>
  </div>

  <div class="columns">
    <div class="one-third column">
      .one-third
    </div>
    <div class="two-thirds column">
      .two-thirds
    </div>
  </div>

  <div class="columns">
    <div class="one-half column">
      .one-half
    </div>
    <div class="one-half column">
      .one-half
    </div>
  </div>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-fifth column"</span><span class="nt">&gt;</span>
      .one-fifth
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"four-fifths column"</span><span class="nt">&gt;</span>
      .four-fifths
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-fourth column"</span><span class="nt">&gt;</span>
      .one-fourth
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"three-fourths column"</span><span class="nt">&gt;</span>
      .three-fourths
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third column"</span><span class="nt">&gt;</span>
      .one-third
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"two-thirds column"</span><span class="nt">&gt;</span>
      .two-thirds
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column"</span><span class="nt">&gt;</span>
      .one-half
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column"</span><span class="nt">&gt;</span>
      .one-half
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="centered">Centered</h3>

<p>Columns can be <a href="/utilities/#centering-content">centered</a> by adding <code class="highlighter-rouge">.centered</code> to the <code class="highlighter-rouge">.column</code> class.</p>

<div class="docs-example clearfix"><div class="columns">
  <div class="one-half column centered">
    .one-half
  </div>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column centered"</span><span class="nt">&gt;</span>
    .one-half
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

    </div>
  </div>
</div>


      <footer class="footer">
        Copyright GitHub 2016.<br>
        Created and maintained by the CSS team at GitHub. <strong>Currently v3.0.0.</strong>
      </footer>
    </div>

    <script src="/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body > h2, .markdown-body > h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
