<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      Layout &middot; Primer
    </title>

    <link rel="stylesheet" href="/docs.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo left">
          <span class="mega-octicon octicon-package"></span>
          Primer
        </a>

        <nav class="masthead-nav right">
          <a  href="/scaffolding">Documentation</a>
          <a  href="/about">About</a>
          <a href="https://github.com/github/primer" target="_blank">GitHub</a>
          <a href="https://github.com/github/primer/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="columns">
  <div class="one-fourth column">
    <nav class="menu docs-menu">
  <a class="menu-item " href="/guidelines/">
    Guidelines
  </a>
  <a class="menu-item " href="/scaffolding/">
    Scaffolding
  </a>
  <a class="menu-item selected" href="/layout/">
    Layout
  </a>
  <a class="menu-item " href="/type/">
    Type
  </a>
  <a class="menu-item " href="/buttons/">
    Buttons
  </a>
  <a class="menu-item " href="/nav/">
    Navigation
  </a>
  <a class="menu-item " href="/alerts/">
    Alerts
  </a>
  <a class="menu-item " href="/tooltips/">
    Tooltips
  </a>
  <a class="menu-item " href="/utilities/">
    Utilities
  </a>
</nav>

  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      Layout
    </h1>
    <div class="markdown-body">
      <p>Primer’s layout includes basic page containers and a single-tiered, fraction-based grid system. That sounds more complicated than it really is though—it’s just containers, rows, and columns.</p>

<p>You can find all the below styles in <code>_layout.scss</code>.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents">Contents</a></li>
  <li><a href="#container">Container</a></li>
  <li><a href="#grid">Grid</a></li>
</ul>

<h2 id="container">Container</h2>

<p>Center your page’s contents with a <code>.container</code>.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- contents here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<p>The container applies <code>width: 980px;</code> and uses horizontal <code>margin</code>s to center it.</p>

<h2 id="grid">Grid</h2>

<p>The grid is pretty standard—you get create rows with <code>.columns</code> and individual columns with a column class and fraction class. Here’s how it works:</p>

<ul>
  <li>Add a <code>.container</code> to encapsulate everything and provide ample horizontal gutter space.</li>
  <li>Create your outter row to clear the floated columns with <code>&lt;div class="columns"&gt;</code>.</li>
  <li>Add your columns with individual <code>&lt;div class="column"&gt;</code>s.</li>
  <li>Add your fractional width classes to set the width of the columns (e.g., <code>.one-fourth</code>).</li>
</ul>

<p>In practice, your columns will look like the example below.</p>

<div class="docs-example"><div class="container">
  <div class="columns">
    <div class="one-fifth column">
      .one-fifth
    </div>
    <div class="four-fifths column">
      .four-fifths
    </div>
  </div>

  <div class="columns">
    <div class="one-fourth column">
      .one-fourth
    </div>
    <div class="three-fourths column">
      .three-fourths
    </div>
  </div>

  <div class="columns">
    <div class="one-third column">
      .one-third
    </div>
    <div class="two-thirds column">
      .two-thirds
    </div>
  </div>

  <div class="columns">
    <div class="one-half column">
      .one-half
    </div>
    <div class="one-half column">
      .one-half
    </div>
  </div>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-fifth column"</span><span class="nt">&gt;</span>
      .one-fifth
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"four-fifths column"</span><span class="nt">&gt;</span>
      .four-fifths
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-fourth column"</span><span class="nt">&gt;</span>
      .one-fourth
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"three-fourths column"</span><span class="nt">&gt;</span>
      .three-fourths
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-third column"</span><span class="nt">&gt;</span>
      .one-third
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"two-thirds column"</span><span class="nt">&gt;</span>
      .two-thirds
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column"</span><span class="nt">&gt;</span>
      .one-half
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"one-half column"</span><span class="nt">&gt;</span>
      .one-half
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>


    </div>
  </div>
</div>


      
        <footer>
          &copy; 2014. All rights reserved.
        </footer>
      
    </div>

    <script src="/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      addAnchors(selector);
    </script>
  </body>
</html>
