// Box shadow utilities

// Box shadows

.color-shadow-small {
  box-shadow: var(--shadow-resting-small) !important;
}

.color-shadow-medium {
  box-shadow: var(--shadow-resting-medium) !important;
}

.color-shadow-large {
  box-shadow: var(--shadow-floating-large) !important;
}

.color-shadow-extra-large {
  box-shadow: var(--shadow-floating-xlarge) !important;
}

.shadow-floating-small {
  box-shadow: var(--shadow-floating-small) !important;
}

// Turn off box shadow

.box-shadow-none {
  box-shadow: none !important;
}
