// Flex utility classes
@each $breakpoint, $variant in $responsive-variants {
  @include breakpoint($breakpoint) {
    // Flexbox classes
    // Container
    .flex#{$variant}-row            { flex-direction: row; }
    .flex#{$variant}-row-reverse    { flex-direction: row-reverse; }
    .flex#{$variant}-column         { flex-direction: column; }
    .flex#{$variant}-column-reverse { flex-direction: column-reverse; }

    .flex#{$variant}-wrap             { flex-wrap: wrap; }
    .flex#{$variant}-nowrap           { flex-wrap: nowrap; }
    .flex#{$variant}-wrap-reverse     { flex-wrap: wrap-reverse; }

    .flex#{$variant}-justify-start    { justify-content: flex-start; }
    .flex#{$variant}-justify-end      { justify-content: flex-end; }
    .flex#{$variant}-justify-center   { justify-content: center; }
    .flex#{$variant}-justify-between  { justify-content: space-between; }
    .flex#{$variant}-justify-around   { justify-content: space-around; }

    .flex#{$variant}-items-start      { align-items: flex-start; }
    .flex#{$variant}-items-end        { align-items: flex-end; }
    .flex#{$variant}-items-center     { align-items: center; }
    .flex#{$variant}-items-baseline   { align-items: baseline; }
    .flex#{$variant}-items-stretch    { align-items: stretch; }

    .flex#{$variant}-content-start    { align-content: flex-start; }
    .flex#{$variant}-content-end      { align-content: flex-end; }
    .flex#{$variant}-content-center   { align-content: center; }
    .flex#{$variant}-content-between  { align-content: space-between; }
    .flex#{$variant}-content-around   { align-content: space-around; }
    .flex#{$variant}-content-stretch  { align-content: stretch; }

    // Item
    .flex#{$variant}-1        { flex: 1; }
    .flex#{$variant}-auto     { flex: auto; }
    .flex#{$variant}-grow-0   { flex-grow: 0; }
    .flex#{$variant}-shrink-0 { flex-shrink: 0; }

    .flex#{$variant}-self-auto        { align-self: auto; }
    .flex#{$variant}-self-start       { align-self: flex-start; }
    .flex#{$variant}-self-end         { align-self: flex-end; }
    .flex#{$variant}-self-center      { align-self: center; }
    .flex#{$variant}-self-baseline    { align-self: baseline; }
    .flex#{$variant}-self-stretch     { align-self: stretch; }

    .flex#{$variant}-order-1 { order: 1; }
    .flex#{$variant}-order-2 { order: 2; }
    .flex#{$variant}-order-none { order: inherit; }
  }
}
