.h1 {
  font-size: var(--primer-text-title-size-medium, 26px) !important;
  line-height: var(--primer-text-title-lineHeight-large) !important;
}

@media (var(--primer-viewportRange-regular, min-width: 768px)) {
  .h1 {
    font-size: var(--primer-text-title-size-large, 32px) !important;
  }
}

.h2 {
  font-size: var(--primer-text-title-size-medium, 22px) !important;
  line-height: var(--primer-text-title-lineHeight-medium) !important;
}

@media (var(--primer-viewportRange-regular, min-width: 768px)) {
  .h2 {
    font-size: var(--primer-text-title-size-medium, 24px) !important;
  }
}

.h3 {
  font-size: var(--primer-text-subtitle-size, 18px) !important;
  line-height: var(--primer-text-subtitle-lineHeight) !important;
}

@media (var(--primer-viewportRange-regular, min-width: 768px)) {
  .h3 {
    font-size: var(--primer-text-subtitle-size, 20px) !important;
  }
}

.h4 {
  font-size: var(--primer-text-body-size-large, 16px) !important;
  line-height: var(--primer-text-body-lineHeight-large) !important;
}

.h5 {
  font-size: var(--primer-text-body-size-medium, 14px) !important;
  line-height: var(--primer-text-body-lineHeight-medium) !important;
}

.h6 {
  font-size: var(--primer-text-body-size-small, 12px) !important;
  line-height: var(--primer-text-body-lineHeight-small) !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: var(--base-text-weight-semibold, 600) !important;
}

.text-small {
  font-size: var(--primer-text-body-size-small, 12px) !important;
}

.lead {
  margin-bottom: 30px;
  font-size: var(--primer-text-title-size-medium, 20px);
  font-weight: var(--base-text-weight-light, 300);
}

.lh-condensed-ultra {
  line-height: 1 !important;
}

.lh-condensed {
  line-height: 1.25 !important;
}

.lh-default {
  line-height: 1.5 !important;
}

.lh-0 {
  line-height: 0 !important;
}

@media (min-width: var(--primer-breakpoint-small, 544px)) {
  .lh-sm-condensed-ultra {
    line-height: 1 !important;
  }

  .lh-sm-condensed {
    line-height: 1.25 !important;
  }

  .lh-sm-default {
    line-height: 1.5 !important;
  }

  .lh-sm-0 {
    line-height: 0 !important;
  }
}

@media (var(--primer-viewportRange-regular, min-width: 768px)) {
  .lh-md-condensed-ultra {
    line-height: 1 !important;
  }

  .lh-md-condensed {
    line-height: 1.25 !important;
  }

  .lh-md-default {
    line-height: 1.5 !important;
  }

  .lh-md-0 {
    line-height: 0 !important;
  }
}

@media (min-width: var(--primer-breakpoint-large, 1012px)) {
  .lh-lg-condensed-ultra {
    line-height: 1 !important;
  }

  .lh-lg-condensed {
    line-height: 1.25 !important;
  }

  .lh-lg-default {
    line-height: 1.5 !important;
  }

  .lh-lg-0 {
    line-height: 0 !important;
  }
}

@media (min-width: var(--primer-breakpoint-xlarge, 1280px)) {
  .lh-xl-condensed-ultra {
    line-height: 1 !important;
  }

  .lh-xl-condensed {
    line-height: 1.25 !important;
  }

  .lh-xl-default {
    line-height: 1.5 !important;
  }

  .lh-xl-0 {
    line-height: 0 !important;
  }
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: var(--primer-breakpoint-small, 544px)) {
  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (var(--primer-viewportRange-regular, min-width: 768px)) {
  .text-md-right {
    text-align: right !important;
  }

  .text-md-left {
    text-align: left !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: var(--primer-breakpoint-large, 1012px)) {
  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: var(--primer-breakpoint-xlarge, 1280px)) {
  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}

.text-normal {
  font-weight: 400 !important;
}

.text-bold {
  font-weight: var(--base-text-weight-semibold, 600) !important;
}

.text-semibold {
  font-weight: var(--base-text-weight-medium, 500) !important;
}

.text-light {
  font-weight: var(--base-text-weight-light, 300) !important;
}

.text-italic {
  font-style: italic !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-underline {
  text-decoration: underline !important;
}

.no-underline {
  text-decoration: none !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.ws-normal {
  white-space: normal !important;
}

.wb-break-word {
  word-break: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.wb-break-all {
  word-break: break-all !important;
}

.text-emphasized {
  font-weight: var(--base-text-weight-semibold, 600);
}

.list-style-none {
  list-style: none !important;
}

.text-mono {
  font-family: var(--primer-fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace) !important;
}

.user-select-none {
  -webkit-user-select: none !important;
  user-select: none !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}
