@import "primer/mixins/user-select";
@import "primer/mixins/icon-bootstrap";
@import "primer/mixins/gradient";
@import "primer/variables";

// Classy buttons are big clickable buttons, great for form actions and
// primary page actions. This is used extensively around the site.
//
// :hover             - Buttons love hover states.
// :disabled          - For when you shouldn't be able to click on it.
// .disabled          - Same as the disabled pseudo-class.
// .primary           - For the main form action, use whenever creating
//                      something.
//                      like posting a new issue or comment.
// .primary:hover     - Hover state fo primary buttons.
// .mousedown         - A brief moment of polish when the button is pressed.
// .primary.mousedown - Even primary buttons have a down state.
// .danger            - This button is going to do something potentially bad
//                      or destructive.
// .danger:hover      - Hover state for danger buttons.
// .danger.mousedown  - Depressed danger button.
// .danger:disabled   - Disabled danger button.
//
// Styleguide 1.1
button.classy, a.button.classy,
button.classy:disabled:hover, a.button.classy.disabled:hover {
  display: inline-block;
  padding: 8px 15px;
  line-height: normal;
  position: relative;

  font-family: $bodyFont;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px rgba(255,255,255,0.9);

  @include gradient(#f5f5f5, #e5e5e5);
  border-radius: 3px;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  box-shadow: 0 1px 3px rgba(0,0,0,0.10);

  cursor:pointer;
  @include user-select(none);

  &.primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);

    border-color: #74bb5a;
    border-bottom-color: #509338;
    @include gradient(#8add6d, #60b044);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);

    &:hover {
      @include gradient(darken(#8add6d, 10%), darken(#60b044, 10%));
      border-color: #4a993e;
      color: #fff;
    }
    &.mousedown {
      border-bottom-color: darken(#8add6d, 10%);
      @include gradient(darken(#60b044, 10%), darken(#8add6d, 10%));
    }

    &:disabled, &.disabled {
      &, &:hover {
        color: #fff;
        border-color: #74bb5a;
        border-bottom-color: #509338;
        @include gradient(#8add6d, #60b044);
      }
    }
  }

  &.danger {
    color: #990000;

    &:hover {
      color: #fff;
      text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3);
      border-bottom-color: #cd504a;
      @include gradient(#dc5f59, #b33630);
    }

    &:disabled, &.disabled {
      &, &:hover {
        color: #990000;
        text-shadow: 0 1px 0 #fff;
        @include gradient(#ffffff, #e1e1e1);
      }
    }

    &.mousedown {
      border-bottom-color: #dc5f59;
      @include gradient(#b33630, #dc5f59);
    }
  }

  &:hover {
    color: #337797;
    text-decoration: none;
    @include gradient(#f0f7fa, #d8eaf2);
    border-color: #cbe3ee;
    border-bottom-color: #97c7dd;
  }

  &:disabled, &.disabled {
    @extend button.classy;
    opacity: 0.5;
    &:hover {
      color: #666;
      @include gradient(#f5f5f5, #e5e5e5);
      border: 1px solid #ddd;
      border-bottom-color: #bbb;
      cursor: default;
    }
  }

  &.mousedown {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    border-color: #2a65a0;
    border-bottom-color: #0770a0;
    @include gradient(#0770a0, #0ca6dd);
  }
}

// Gets rid of extra space in a weird limbo space of buttons for Firefox
button.classy::-moz-focus-inner { margin: -1px -3px; }

// IE Hax?
a.button.classy { display: inline-block; }

/// Position images inside buttons correctly
button.classy img, a.button.classy img {
  position: relative;
  top: -1px;
  margin-right: 3px;
  vertical-align: middle;
}



// Minibuttons are our general action-style buttons. Generally they link to a
// new page, popup, or activate some piece of the page. They are usually not
// used to submit forms. Also see the `minibutton` rails helper.
//
// :hover            - The hover state.
// :disabled         - A disabled button.
// .disabled         - Same as pseudo class.
// .mousedown        - A brief moment of polish when the button is pressed.
// .selected         - A permenantly depressed minibutton, useful for toggles.
// .danger           - This button might do something bad.
// .danger:hover     - This button might do something bad.
// .danger.mousedown - A depressed danger button.
// .green            - A nice green button, for places like like the merge
// .blue             - A nice blue button, for places like merge button confirm box.
// .dark-grey        - A dark grey button for places like the delete branch (w/ unmerged commits) box.
//
// Styleguide 1.2
.minibutton{
  position: relative;
  display: inline-block;
  padding: 0 10px 0 10px;

  font-family: $bodyFont;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;

  border-radius: 3px;

  &, &.disabled:hover, &:disabled:hover {
    color: #333;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #d4d4d4;
    border-bottom-color: #bcbcbc;
    @include gradient(#fafafa, #eaeaea);
  }

  cursor: pointer;
  @include user-select(none);

  i {
    font-weight:500;
    font-style:normal;
    opacity:0.6;
  }

  &.danger {

    &, &.disabled:hover, &:disabled:hover {
      color: #990000;
      text-shadow: 0 1px 0 #fff;
      border: 1px solid #d4d4d4;
      border-bottom-color: #bcbcbc;
      @include gradient(#fafafa, #eaeaea);
    }

    &:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      border-color: #d4d4d4;
      @include gradient(#dc5f59, #b33630);
    }

    &.mousedown {
      border-color: #a0302a;
      border-bottom-color :#c65651;
      @include gradient(#b33630, #dc5f59);
    }

  }

  &.green, &.green.disabled:hover, &.green:disabled:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    @include gradient(#36b825, #28881b);
    border-color: #4a993e;
  }

  &.blue, &.blue.disabled:hover, &.blue:disabled:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-color: #275666;
    @include gradient(#448da6, #32687b);
  }

  &.dark-grey {

    &, &.disabled:hover, &:disabled:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
      border: 1px solid #707070;
      border-bottom-color: #595959;
      @include gradient(#8c8c8c, #6d6d6d);
    }

    &:hover, &.mousedown {
      border-color: #585858;
      @include gradient(#737373, #545454);
    }

  }

  &.mousedown {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    border-color: #2a65a0;
    border-bottom-color: #518cc6;
    @include gradient(#3072b3, #599bdc);
  }

  &.selected {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    border-color: #686868;
    @include gradient(#767676, #9e9e9e);
  }

  &:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    border-color: #518cc6;
    border-bottom-color: #2a65a0;
    @include gradient(#599bdc, #3072b3);

    .mini-icon-windows:before {
      background-position: -18px 0;
    }
  }

  &:disabled, &.disabled {
    opacity:0.5;
    cursor:default;
  }
}

// Gets rid of extra space in a weird limbo space of buttons for Firefox
button.minibutton::-moz-focus-inner { margin: -1px -3px;}

// I have no idea.
input[type=text] + .minibutton{ margin-left:5px; }

// Minibuttons with an icon.
//
// .mini-icon-wrench           - Admin.
// .mini-icon-watching         - Watch.
// .mini-icon-star             - Star.
// .mini-icon-download         - Download.
// .mini-icon-edit             - Edit.
// .mini-icon-follow           - Follow.
// .mini-icon-member-removed   - Unfollow.
// .mini-icon-pull-request     - Pull Request.
// .mini-icon-fork             - Fork.
// .mini-icon-logout           - Leave.
// .mini-icon-diff             - To the compare view!
// .mini-icon-reply            - Reply.
// .mini-icon-arr-left         - Back.
// .mini-icon-arr-right        - Forward.
// .mini-icon-windows          - Microsoft.
// .mini-icon-apple              - Mac.
//
// Styleguide 1.2.1
.minibutton {
  .mini-icon {
    vertical-align: -2px;
    margin-right: 6px;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
  }
  &.empty-icon .mini-icon {
    margin-right: 0;
  }
  .mini-icon-arr-right {
    float: right;
    margin-right: 0;
    margin-left: 5px;
    margin-top: 4px;
  }
}

// Minibuttons used to switch to something. Like an account dropdown, or
// assignee selector.
//
// .with-image - Assumed to have an avatar-like image embedded in the left.
// :hover - The hover state.
// .selected - A sticky selected state.
// .with-image:hover - With image, hover handed.
// .with-image.selected - With image, selected.
//
// Styleguide 1.2.2
.minibutton.switcher {
  padding: 0;
  height: 24px;
  line-height: 1;

  &>span {
    display: block;
    position: relative;
    padding: 0 26px 0 10px;
    line-height: 24px;
    height: 24px;

    // Dropdown arrow.
    &:before {
      content: "";
      display: block;
      position: absolute;
      border: 3px solid #000;
      border-color: #000 transparent transparent;
      top: 10px;
      right: 7px;
      width: 0px;
      height: 0px;
    }

    // Separator line between content & arrow.
    &:after {
      content: "";
      display:block;
      position: absolute;
      border-left: 1px solid #F9F9F9;
      top: 0;
      bottom: 0;
      right: 0;
      width: 18px;
      box-shadow: #e4e4e4 -1px 0 0;
    }
  }

  // Separator line on hover
  &:hover>span:after {
    border-left: 1px solid #6A9FD3;
    box-shadow: #3C74AB -1px 0 0;
  }

  &.with-image {
    height: 30px;

    &>span {
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 26px 0 5px;

      &:before {
        top: 14px;
      }
    }

    img{
      position: relative;
      top: -1px;
      margin-right: 2px;
      vertical-align: middle;
      border-radius: 2px;
    }

    &.selected span:before {
      top: 14px;
    }
  }
}
.context-menu-container.active .minibutton.switcher {
  @extend .minibutton.selected;
}
.minibutton.switcher.selected,
.context-menu-container.active .minibutton.switcher {
  // Dropdown arrow.
  &>span:before {
    top: 10px;
    border-color: #fff transparent transparent;
  }

  // Separator
  &>span:after {
    border-left: 1px solid #a4a4a4;
    box-shadow: #787878 -1px 0 0;
  }
}
.minibutton.switcher:hover>span:before {
  border-color: #fff transparent transparent;
}

// A simple little button to expand a bigger pane.
//
// :hover - The hover style.
// .selected - Depressed state when the pane is open.
//
// Styleguide 1.2.3
.context-button {
  position: relative;
  width: 32px;
  height: 22px;
  padding: 0;
  line-height: 23px;

  @include user-select(none);

  @if $enable-font-icons {
    @include icon-bootstrap();

    &:before {
      display: block;
      padding :0;
      position: absolute;
      top: 3px;
      left: 3px;
      content: "\f02f";
      font-size: 16px;
      line-height: 16px;
    }
  }

  &:after {
    content: "";
    display:block;
    position: absolute;
    border: 3px solid #000;
    border-color: #000 transparent transparent;
    top: 10px;
    right: 5px;
    width: 0px;
    height: 0px;
  }

  &:hover:after,
  &.selected:after {
    border-color: #fff transparent transparent;
  }
}
// For context menu behavior minibutton selected state
.context-menu-container.active .context-button {
  @extend .minibutton.selected;
}

// A simple button to indicate and expand hidden text.
//
// .inline - button will display inline rather than block
//
// Styleguide 1.2.4
.hidden-text-expander {
  display:block;

  &.inline {
    display: inline-block;
    line-height: 0;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }

  a {
    background: #ddd;
    color: #555;
    padding: 0 5px;
    line-height: 6px;
    height: 12px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    border-radius: 1px;
    text-decoration: none;

    &:hover {
      background-color: #ccc;
      text-decoration: none;
    }

    &:active {
      background-color: #4183C4;
      color: #fff;
    }
  }
}



// A button group is a series of buttons laid out next to each other, all part
// of one visual button, but separated by rules to be separate. It's expected
// that inside of a .button-group are several .button-grouped that are the
// actual buttons.
//
// No styleguide reference.
.button-group {
  display: inline-block;
  overflow: hidden;

  border: 1px solid #d4d4d4;
  border-radius: 3px;
  border-bottom-color: #bcbcbc;
  @include gradient(#f5f5f5, #e5e5e5);

  li {
    margin: 0 !important;

    &:first-child .grouped-button {
      border-left: none;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
    &:last-child .grouped-button {
      border-right: none;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  .grouped-button {
    float: left;

    background: none;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;

    cursor: pointer;

    &:hover {
      @extend .minibutton:hover;
    }
  }

  #files .file .meta &.actions {
    height: auto;
    margin-top: 4px;
  }
}


// A container that is used for social bubbles counts.
//
// .social-count - social count bubble number
//
// Styleguide 1.2.5
.social-count {
  border: 1px solid #D4D4D4;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 7px 5px;
  line-height: 20px;
  margin-left: 8px;
  border-radius: 3px;
  color: $brand-darkGrey;
  background-color: #fafafa;
  position: relative;

  &:hover {
    color: $brand-linkBlue;
    cursor: pointer;
    text-decoration: none;
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 6px solid #D4D4D4;
    border-color: transparent #D4D4D4 transparent transparent;
    position: absolute;
    right: 100%;
    margin-right: 0;
    top: 50%;
    margin-top: -6px;
  }

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 6px solid #fafafa;
    border-color: transparent #fafafa transparent transparent;
    position: absolute;
    right: 100%;
    margin-right: -1px;
    top: 50%;
    margin-top: -6px;
  }
}
