// Needs refactoring
// stylelint-disable selector-max-compound-selectors, selector-max-specificity
// stylelint-disable selector-max-type
.markdown-body {
  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--base-size-24);
    margin-bottom: var(--base-size-16);
    font-weight: $font-weight-bold;

    .octicon-link {
      color: var(--color-fg-default);
      vertical-align: middle;
      visibility: hidden;
    }

    &:hover .anchor {
      text-decoration: none;

      .octicon-link {
        visibility: visible;
      }
    }

    tt,
    code {
      // stylelint-disable-next-line primer/spacing
      padding: 0 0.2em;
      font-size: inherit;
    }
  }

  h1 {
    // stylelint-disable-next-line primer/spacing
    padding-bottom: var(--base-size-12);
    // stylelint-disable-next-line primer/typography
    font-size: var(--text-h1-fontSize);
    line-height: var(--text-h1-lineHeight);
    border-bottom: $border-width $border-style var(--color-border-muted);
  }

  h2 {
    // stylelint-disable-next-line primer/spacing
    padding-bottom: var(--base-size-8);
    // stylelint-disable-next-line primer/typography
    font-size: var(--text-h2-fontSize);
    line-height: var(--text-h2-lineHeight);
    border-bottom: $border-width $border-style var(--color-border-muted);
  }

  h3 {
    // stylelint-disable-next-line primer/typography
    font-size: var(--text-h3-fontSize);
    line-height: var(--text-h3-lineHeight);
  }

  h4 {
    font-size: var(--text-h4-fontSize);
    line-height: var(--text-h4-lineHeight);
  }

  h5 {
    // stylelint-disable-next-line primer/typography
    font-size: var(--text-h5-fontSize);
    line-height: var(--text-h5-lineHeight);
  }

  h6 {
    // stylelint-disable-next-line primer/typography
    font-size: var(--text-h6-fontSize);
    line-height: var(--text-h6-lineHeight);
    color: var(--color-fg-muted);
  }

  &.markdown-body--spacious {
    h1 {
      margin-top: var(--base-size-48);
    }

    h2, h3 {
      margin-top: var(--base-size-48);
    }

    h4, h5, h6 {
      margin-top: var(--base-size-32);
    }

    > h1:first-child {
      font-size: var(--text-display-fontSize);
      line-height: var(--text-display-lineHeight);
      font-weight: var(--text-display-fontWeight);
    }
  }
}
