// Needs refactoring
// stylelint-disable selector-max-compound-selectors, selector-max-specificity
// stylelint-disable selector-max-type
.markdown-body {
  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--base-size-24);
    margin-bottom: var(--base-size-16);
    // stylelint-disable-next-line primer/typography
    font-weight: $font-weight-bold;
    // stylelint-disable-next-line primer/typography
    line-height: $lh-condensed;

    .octicon-link {
      color: var(--fgColor-default, var(--color-fg-default));
      vertical-align: middle;
      visibility: hidden;
    }

    &:hover .anchor {
      text-decoration: none;

      .octicon-link {
        visibility: visible;
      }
    }

    tt,
    code {
      // stylelint-disable-next-line primer/spacing
      padding: 0 0.2em;
      font-size: inherit;
    }
  }

  h1 {
    // stylelint-disable-next-line primer/spacing
    padding-bottom: 0.3em;
    // stylelint-disable-next-line primer/typography
    font-size: 2em;
    // stylelint-disable-next-line primer/borders, primer/colors
    border-bottom: $border-width $border-style var(--borderColor-muted, var(--color-border-muted));
  }

  h2 {
    // stylelint-disable-next-line primer/spacing
    padding-bottom: 0.3em;
    // stylelint-disable-next-line primer/typography
    font-size: 1.5em;
    // stylelint-disable-next-line primer/borders, primer/colors
    border-bottom: $border-width $border-style var(--borderColor-muted, var(--color-border-muted));
  }

  h3 {
    // stylelint-disable-next-line primer/typography
    font-size: 1.25em;
  }

  h4 {
    // stylelint-disable-next-line primer/typography
    font-size: 1em;
  }

  h5 {
    // stylelint-disable-next-line primer/typography
    font-size: 0.875em;
  }

  h6 {
    // stylelint-disable-next-line primer/typography
    font-size: 0.85em;
    color: var(--fgColor-muted, var(--color-fg-muted));
  }

  summary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;

      .anchor {
        // stylelint-disable-next-line primer/spacing
        margin-left: -40px;
      }
    }

    h1,
    h2 {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}
