:root {

  // base scale, to be provided by primer primitives

  // 0.25 unit increments
  --base-size-4: 0.25rem;
  --base-size-8: 0.5rem;
  --base-size-12: 0.75rem;
  --base-size-16: 1rem;
  --base-size-20: 1.25rem;
  --base-size-24: 1.5rem;
  --base-size-28: 1.75rem;
  --base-size-32: 2rem;
  --base-size-36: 2.25rem;
  --base-size-40: 2.5rem;
  --base-size-44: 2.75rem;
  --base-size-48: 3rem;
  
  // 1 unit increments
  --base-size-64: 4rem;
  --base-size-80: 5rem;
  --base-size-96: 6rem;
  --base-size-112: 7rem;
  --base-size-128: 8rem;

  // typography scale

  // display
  --gh-text-display-fontSize: 2.5rem; /* 40px */
  --gh-text-display-fontWeight: 500;
  --gh-text-display-lineHeight: calc(56 / 40);
  --gh-text-display-lineBoxHeight: 3.5rem; /* 56px */

  // title-large
  --gh-text-title-large-fontSize: 2rem; /* 32px */
  --gh-text-title-large-font-weight: 600;
  --gh-text-title-large-lineHeight: calc(40 / 32);
  --gh-text-title-large-lineBoxHeight: 2.5rem; /* 40px */

  // title-medium
  --gh-text-title-medium-fontSize: 1.25rem; /* 20px */
  --gh-text-title-medium-font-weight: 600;
  --gh-text-title-medium-lineHeight: calc(32 / 20);
  --gh-text-title-medium-lineBoxHeight: 2rem; /* 32px */

  // subtitle
  --gh-text-subtitle-fontSize: 1.25rem; /* 20px */
  --gh-text-subtitle-font-weight: 400;
  --gh-text-subtitle-line-height: calc(32 / 20);
  --gh-text-subtitle-lineBoxHeight: 2rem; /* 32px */

  // body-large
  --gh-text-body-large-fontSize: 1rem; /* 16px */
  --gh-text-body-large-font-weight: 400;
  --gh-text-body-large-lineHeight: calc(24 / 16);
  --gh-text-body-large-lineBoxHeight: 1.5rem; /* 24px */

  // body-medium
  --gh-text-body-medium-fontSize: 0.875rem; /* 14px */
  --gh-text-body-medium-fontWeight: 400;
  --gh-text-body-medium-lineHeight: calc(20 / 14);
  --gh-text-body-medium-lineBoxHeight: 1.25rem; /* 20px */

  // body-small
  --gh-text-body-small-fontSize: 0.75rem; /* 12px */
  --gh-text-body-small-fontWeight: 400;
  --gh-text-body-small-lineHeight: calc(20 / 12);
  --gh-text-body-small-lineBoxHeight: 1.25rem; /* 20px */

  // caption
  --gh-text-caption-fontSize: 0.75rem; /* 12px */
  --gh-text-caption-fontWeight: 400;
  --gh-text-caption-lineHeight: calc(16 / 12);
  --gh-text-caption-lineBoxHeight: 1rem; /* 16px */

  // heading 1
  --gh-text-h1-fontSize: 2rem; /* 32px */
  --gh-text-h1-fontWeight: 600;
  --gh-text-h1-lineHeight: calc(40 / 32);
  --gh-text-h1-lineBoxHeight: 2.5rem; /* 40px */

  // heading 2
  --gh-text-h2-fontSize: 1.5rem; /* 24px */
  --gh-text-h2-fontWeight: 600;
  --gh-text-h2-lineHeight: calc(36 / 24);
  --gh-text-h2-lineBoxHeight: 2.25rem; /* 36px */

  // heading 3
  --gh-text-h3-fontSize: 1.25rem; /* 20px */
  --gh-text-h3-fontWeight: 600;
  --gh-text-h3-lineHeight: calc(32 / 20);
  --gh-text-h3-lineBoxHeight: 2rem; /* 32px */

  // heading 4
  --gh-text-h4-fontSize: 1rem; /* 16px */
  --gh-text-h4-fontWeight: 600;
  --gh-text-h4-lineHeight: calc(24 / 16);
  --gh-text-h4-lineBoxHeight: 1.5rem; /* 24px */

  // heading 5
  --gh-text-h5-fontSize: 0.875rem; /* 14px */
  --gh-text-h5-fontWeight: 600;
  --gh-text-h5-lineHeight: calc(20 / 14);
  --gh-text-h5-lineBoxHeight: 1.25rem; /* 20px */

  // heading 6
  --gh-text-h6-fontSize: 0.75rem; /* 12px */
  --gh-text-h6-fontWeight: 600;
  --gh-text-h6-lineHeight: calc(20 / 12);
  --gh-text-h6-lineBoxHeight: 1.25rem; /* 20px */
}

@import '../support/index.scss';
@import './markdown-body.scss';
@import './headings.scss';
@import './lists.scss';
@import './tables.scss';
@import './images.scss';
@import './code.scss';
@import './blob-csv.scss';
@import './footnotes.scss';
