// Needs refactoring
// stylelint-disable selector-max-type
.markdown-body {
  // Tables
  table {

    th {
      font-weight: $font-weight-bold;
    }

    th,
    td {
      padding: ($spacer-2 - 2) ($spacer-3 - 2);
      border: $border;
    }

    tr {
      background-color: $bg-white;

      &:nth-child(2n) {
        background-color: $gray-100;
      }
    }

    img {
      background-color: transparent;
    }
  }
}
