// temporary, pre primitives release
:root {
  --primer-duration-fast: 80ms;
  --primer-easing-easeInOut: cubic-bezier(0.65, 0, 0.35, 1);
}

// base button
.Button {
  position: relative;
  font-size: var(--primer-text-body-size-medium);
  font-weight: var(--base-text-weight-medium);
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: var(--primer-borderWidth-thin) solid;
  border-color: transparent;
  border-radius: var(--primer-borderRadius-medium);
  color: var(--color-btn-text);
  transition: var(--primer-duration-fast) var(--primer-easing-easeInOut);
  transition-property: color, fill, background-color, border-color;
  text-align: center;
  height: var(--primer-control-medium-size);
  padding: 0 var(--primer-control-medium-paddingInline-normal);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--primer-control-medium-gap);

  // mobile friendly sizing
  @media (pointer: course) {
    &::before {
      @include minTouchTarget(48px, 48px);
    }
  }

  // base states

  &:hover,
  [open] > & {
    transition-duration: var(--primer-duration-fast);
  }

  &:active,
  &.Button--active {
    transition: none;
  }

  &:disabled,
  &.Button--disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    box-shadow: none;
  }

  &:focus {
    @include focusOutline;
  }
}

.Button-withTooltip {
    position: relative;
    display: inline-block;
}

a.Button,
summary.Button {
  display: inline-flex;

  &:hover {
    text-decoration: none;
  }
}

// wrap grid content to allow trailingAction to lock-right
.Button-content {
  flex: 1 0 auto;
  display: grid;
  grid-template-areas: 'leadingVisual text trailingVisual';
  grid-template-columns: min-content minmax(0, auto) min-content;
  align-items: center;
  place-content: center;
  //   padding-bottom: 1px; // optical alignment for firefox

  > :not(:last-child) {
    margin-right: var(--primer-control-medium-gap);
  }
}

// center child elements for fullWidth
.Button-content--alignStart {
  justify-content: start;
}

// button child elements

// align svg
.Button-visual {
  display: flex;
  pointer-events: none; // allow click handler to work, avoiding visuals
}

.Button-label {
  grid-area: text;
  white-space: nowrap;
  line-height: var(--primer-text-body-lineHeight-medium);
}

.Button-leadingVisual {
  grid-area: leadingVisual;
}

.Button-trailingVisual {
  grid-area: trailingVisual;
}

.Button-trailingAction {
  margin-right: calc(var(--base-size-4) * -1);
}

// sizes

.Button--small {
  font-size: var(--primer-text-body-size-small);
  height: var(--primer-control-small-size);
  padding: 0 var(--primer-control-small-paddingInline-normal);
  gap: var(--primer-control-small-gap);

  .Button-label {
    line-height: var(--primer-text-body-lineHeight-small);
  }

  .Button-content {
    > :not(:last-child) {
      margin-right: var(--primer-control-small-gap);
    }
  }
}

.Button--large {
  height: var(--primer-control-large-size);
  padding: 0 var(--primer-control-large-paddingInline-normal);
  gap: var(--primer-control-large-gap);

  .Button-label {
    line-height: var(--primer-text-body-lineHeight-large);
  }

  .Button-content {
    > :not(:last-child) {
      margin-right: var(--primer-control-large-gap);
    }
  }
}

.Button--fullWidth {
  width: 100%;
}

// variants

// primary
.Button--primary {
  color: var(--color-btn-primary-text);
  fill: var(--color-btn-primary-icon);
  background-color: var(--color-btn-primary-bg);
  border-color: var(--color-btn-primary-border);
  box-shadow: var(--color-btn-primary-shadow), var(--color-btn-primary-inset-shadow);

  &:hover,
  [open] > & {
    background-color: var(--color-btn-primary-hover-bg);
    border-color: var(--color-btn-primary-hover-border);
  }

  &:active,
  &[aria-pressed='true'],
  &.Button--pressed {
    background-color: var(--color-btn-primary-selected-bg);
    box-shadow: var(--color-btn-primary-selected-shadow);
  }

  &:disabled,
  &.Button--disabled,
  &[aria-disabled='true'] {
    color: var(--color-btn-primary-disabled-text);
    background-color: var(--color-btn-primary-disabled-bg);
    border-color: var(--color-btn-primary-disabled-border);
    fill: var(--color-btn-primary-disabled-text);
  }
}

// default (secondary)
.Button--secondary {
  color: var(--color-btn-text);
  fill: var(--color-fg-muted); // help this
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);

  &:hover,
  [open] > & {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
  }

  &:active,
  &.Button--active {
    background-color: var(--color-btn-active-bg);
    border-color: var(--color-btn-active-border);
  }

  &[aria-pressed='true'],
  &.Button--pressed {
    background-color: var(--color-btn-selected-bg);
    box-shadow: var(--color-primer-shadow-inset);
  }

  &:disabled,
  &.Button--disabled,
  &[aria-disabled='true'] {
    color: var(--color-primer-fg-disabled);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    fill: var(--color-primer-fg-disabled);
  }
}

// link color without svg
.Button--invisible {
  color: var(--color-fg-default);
  fill: var(--color-fg-default);
  border: none;

  &:hover,
  [open] > & {
    background-color: var(--color-segmented-control-button-hover-bg);
  }

  &[aria-pressed='true'],
  &:active,
  &.Button--active,
  &.Button--pressed {
    background-color: var(--color-segmented-control-button-active-bg);
    // box-shadow: var(--color-primer-shadow-inset);
  }

  &:disabled,
  &.Button--disabled,
  &[aria-disabled='true'] {
    color: var(--color-primer-fg-disabled);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    fill: var(--color-primer-fg-disabled);
  }

  // if visual is present, muted label color
  .Button-label:not(:only-child) {
    color: var(--color-btn-text);
  }

  // if trailingAction is present, muted label color
  .Button-content:not(:only-child) {
    .Button-label {
      color: var(--color-btn-text);
    }
  }
}

// danger
.Button--danger {
  color: var(--color-btn-danger-text);
  fill: var(--color-btn-danger-icon);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);

  &:hover,
  [open] > & {
    color: var(--color-btn-danger-hover-text);
    fill: var(--color-btn-danger-hover-text);
    background-color: var(--color-btn-danger-hover-bg);
    border-color: var(--color-btn-danger-hover-border);
    box-shadow: var(--color-btn-danger-hover-shadow), var(--color-btn-danger-hover-inset-shadow);
  }

  &:active,
  &[aria-pressed='true'],
  &.Button--pressed {
    color: var(--color-btn-danger-selected-text);
    fill: var(--color-btn-danger-selected-text);
    background-color: var(--color-btn-danger-selected-bg);
    border-color: var(--color-btn-danger-selected-border);
    box-shadow: var(--color-btn-danger-selected-shadow);
  }

  &:disabled,
  &.disabled,
  &[aria-disabled='true'] {
    color: var(--color-btn-danger-disabled-text);
    fill: var(--color-btn-danger-disabled-text);
    background-color: var(--color-btn-danger-disabled-bg);
    border-color: var(--color-btn-border);
  }
}
