.Button--iconOnly {
  display: grid;
  place-content: center;
  padding: unset;
  width: var(--gh-control-medium-size);

  &.Button--small {
    width: var(--gh-control-small-size);
  }

  &.Button--large {
    width: var(--gh-control-large-size);
  }
}
