.Link {
  color: var(--color-accent-fg);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  // variants

  &.Link--muted {
    color: var(--color-fg-muted);

    &:hover {
      color: var(--color-accent-fg);
    }
  }
}

.Link-trailingVisual {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
