// When you need to make people aware of something in addition to the regular information shown on the page, use an alert. If the notification only relates to the current (or most recent) action, use a normal `.flash`, otherwise, if the notification is a site-wide notification for the person, use a `.flash-global` banner instead.
//
// **Note** it’s important that you place any `.close` buttons or `.flash-action` buttons at the top of the flash container, otherwise you may run into spacing issues with the rest of the content.
//
// Styleguide 15.0

@import "primer/mixins/variables";

// Flash Messages
//
// Use these for temporary, dismissable notifications.
//
// ```html
// <div class="flash-messages">
//   <div class="flash $modifier_class">
//     <span class="octicon octicon-x flash-close js-flash-close"></span>
//     Flash Message
//   </div>
// </div>
// ```
//
// .flash-warn    - Warning notification
// .flash-error   - Error notification
//
// Styleguide 15.1
.flash-messages {
  margin-top: 15px;
  margin-bottom: 15px;
}

.flash,
.flash-global {
  position: relative;
  font-size: 14px;
  line-height: 1.6;
  color: #246;
  background-color: #e2eef9;
  border: solid 1px #bac6d3;

  &.flash-warn {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2;
  }

  &.flash-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2;
  }

  .flash-close {
    float: right;
    padding: 17px;     // bigger hit area
    margin-top: -15px; // negative margins to account for bigger padding
    margin-right: -15px;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  // Flash action buttons
  //
  // Flashes can have an action button instead of the cross.
  //
  // ```html
  // <div class="flash">
  //   <a href="#" class="minibutton primary flash-action">Do something</a>
  //   Flash message with an action button
  // </div>
  // ```
  //
  // Styleguide 15.1.1
  .flash-action {
    float: right;
    margin-top: -4px;
    margin-left: 20px;
  }

  // Make links stand out
  a {
    font-weight: bold;
  }

  .octicon {
    float: left;
    margin-top: 3px;
    margin-left: -25px;
  }
}

.flash {
  padding: 15px;
  border-radius: 3px;

  + .flash { margin-top: 5px; }

  &.flash-with-icon {
    padding-left: 40px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Global notices
//
// Useful for site-wide banners and global notifications.
//
// ```html
// <div class="flash-global $modifier_class">
//   <div class="container">
//     <h2>This is a global notice</h2>
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
//   </div>
// </div>
// ```
//
// .flash-warn    - Warning notification
// .flash-error  - Error notification
//
// Styleguide 15.2
.flash-global {
  padding: 10px;
  border-width: 0 0 1px;

  h2,
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.4;
  }

  // Global flash buttons
  //
  // Global flashes can have an action buttons too. **Note:** In the example code below this, the `.container` class has been renamed
  // so that the action button will show up given the narrower example space. In practice,
  // you’ll need to change `.container-class-goes-here` back to just `.container`.
  //
  // ```html
  // <div class="flash-global">
  //   <div class="container-class-goes-here">
  //     <a href="#" class="minibutton primary flash-action">Do something</a>
  //     <h2>This is a global notice</h2>
  //     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
  //   </div>
  // </div>
  // ```
  //
  // Styleguide 15.2.1
  .flash-action {
    margin-top: 5px;
  }
}

// Content within flash messages.
//
// No styleguide reference.
.flash-title {
  margin-top: 0;
  margin-bottom: 5px;
}
