@import "primer/mixins/variables";

// Flash Messages. Use these for temporary, dismissable notifications.
//
// .flash-warn    - Warning notification
// .flash-error   - Error notification
//
// Styleguide 15.0
.flash-messages {
  margin-top: 15px;
  margin-bottom: 15px;
}

.flash,
.flash-global {
  position: relative;
  font-size: 14px;
  color: #264c72;
  background-color: #d9e6f3;

  &.flash-warn {
    color: #613a00;
    background-color: #ffebd6;
  }

  &.flash-error {
    color: #911;
    background-color: #fed0d0;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding: 17px; // bigger hit area
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  // Flashes can have an action button instead of the cross.
  //
  // Styleguide 15.0.1
  .flash-action {
    float: right;
    margin-top: -4px;
    margin-left: 20px;
  }

  // Make links stand out
  a {
    font-weight: bold;
  }
}

.flash {
  padding: 15px 50px 15px 15px; // right padding for close icon
  border-radius: 3px;

  + .flash { margin-top: 5px; }
}

// Global notices. Useful for site-wide banners and global notifications.
//
// .flash-warn    - Warning notification
// .flash-error  - Error notification
//
// Styleguide 15.1
.flash-global {
  padding: 10px;
  border-width: 1px 0;

  h2,
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.4;
  }

  // Used to vertically center close icon
  .container {
    position: relative;
  }

  .close {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px; // 50% of total icon height
  }

  // Global flashes can have an action buttons too.
  //
  // Styleguide 15.1.1
  .flash-action {
    margin-top: 5px;
  }
}

// Content within flash messages.
//
// No styleguide reference.
.flash-title {
  margin-top: 0;
  margin-bottom: 5px;
}

