// Buttons have a few required constraints for proper functionality, accessibility, and styling.
//
// - Whenever possible, use `<button type="button">` over `<a href="#">`.
// - Always declare a `type` on your `<button>` elements to ensure zero hiccups
// with nearby forms and property order.
// - Never set `tabindex` on buttons—let the browser automatically set that.
// - For [tooltips](/styleguide/css/9.0#9.1), always place the
// `aria-label` and `.tooltipped` classes directly on the `<button>` or `<a>`.
// - Octicons and tooltips conflict, therefore Octicons should always be children
// elements of `<button>`s or `<a>`s.
//
// For more general guidelines, consult the [markup and template guidelines](/styleguide/templates).
//
// Styleguide 1.0

@import "primer/mixins/user-select";
@import "primer/mixins/icon-bootstrap";
@import "primer/mixins/gradient";
@import "primer/mixins/box-sizing";
@import "primer/mixins/clearfix";
@import "primer/mixins/variables";

// Button
//
// Use the standard, but classy, `.button` for form actions and primary
// page actions. These are used extensively around the site.
//
// ```html
// <button class="button$modifier_class">Button (button.button)</button>
// <a href="#" class="button$modifier_class">Button (a.button)</a>
// ```
//
// .disabled            - Same as the disabled pseudo-class.
// .primary             - For the main form action, use whenever creating something.
// .primary.disabled    - Same as the disabled pseudo-class.
// .danger              - For potentially bad or destructive actions.
// .danger.disabled     - Same as the disabled pseudo-class.
//
// Styleguide 1.1
.button,
.minibutton {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  @include gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  @include user-select(none);
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.

  i {
    font-style: normal;
    font-weight: 500;
    opacity: 0.6;
  }

  &:focus {
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    text-decoration: none;
    @include gradient(#eee, #ddd);
    border-color: #ccc;
  }

  &:active,
  &.selected,
  &.selected:hover,
  &.zeroclipboard-is-active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: rgba(102, 102, 102, 0.5);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      border-color: rgba(197, 197, 197, 0.5);
      box-shadow: none;
    }
  }

  // Green primary button
  &.primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    @include gradient(#8add6d, #60b044);
    border-color: darken(#60b044, 2%);

    &:hover {
      color: #fff;
      @include gradient(darken(#8add6d, 5%), darken(#60b044, 5%));
      border-color: #4a993e;
    }

    &:active,
    &.selected {
      background-color: darken(#60b044, 5%);
      background-image: none;
      border-color: darken(#4a993e, 5%);
    }

    &:disabled,
    &.disabled {
      &,
      &:hover {
        color: #fefefe;
        text-shadow: 0 -1px 0 rgba(39, 39, 39, 0.25);
        @include gradient(#c3ecb4, #add39f);
        border-color: #b9dcac #b9dcac #a7c89b;
      }
    }
  }

  // Red danger button
  &.danger {
    color: #900;

    &:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      @include gradient(#dc5f59, #b33630);
      border-color: #cd504a;
    }

    &:active,
    &.selected {
      color: #fff;
      background-color: #b33630;
      background-image: none;
      border-color: darken(#cd504a, 15%);
    }

    &:disabled,
    &.disabled {
      &,
      &:hover {
        color: #cb7f7f;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
        @include gradient(#fefefe, #efefef);
        border-color: #e1e1e1;
      }
    }
  }

  &.with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Octicon buttons
//
// Improve alignemnt of Octicons within buttons and minibuttons. Also auto tweak
// the right arrow to float right for ease of use.
//
// ```html
// <button class="button" type="button">
//   <span class="octicon $modifier_class"></span>
//   Button icon
// </button>
// <a href="#" class="minibutton"><span class="octicon $modifier_class"></span> Minibutton</a>
// ```
//
// .octicon-tools            - Admin
// .octicon-eye-watch        - Watch
// .octicon-star             - Star
// .octicon-cloud-download   - Download
// .octicon-pencil           - Edit
// .octicon-git-pull-request - Pull Request
// .octicon-log-out          - Leave
// .octicon-diff             - To the compare view
// .octicon-arrow-left       - Back
// .octicon-arrow-right      - Forward
//
// Styleguide 1.1.1
.button,
.minibutton {
  > .octicon {
    vertical-align: -1px;
  }

  > .octicon-arrow-right {
    float: right;
    margin-left: 5px;
  }
}

// Required because we nuke the padding on minibuttons
.minibutton > .octicon-arrow-right {
  margin-top: 4px;
}

// Minibutton
//
// Minibuttons are our general action-style buttons. Generally they link to a
// new page, popup, or activate some piece of the page. They are usually not
// used to submit forms. Also see the `minibutton` rails helper.
//
// ```html
// <a href="#" class="minibutton$modifier_class">Minibutton</a>
// ```
//
// .selected         - A permenantly depressed minibutton, useful for toggles.
// .disabled         - Same as pseudo class.
// .primary           - For the main form action, use whenever creating something.
// .danger           - This button might do something bad.
//
// Styleguide 1.2
.minibutton {
  padding: 0 10px;
  line-height: 24px;
}

// Hidden text button
//
// Use `.hidden-text-expander` to indicate and expand hidden text.
//
// ```html
// <span class="hidden-text-expander$modifier_class"><a href="#">…</a></span>
// ```
//
// .inline - button will display inline rather than block
//
// Styleguide 1.2.2
.hidden-text-expander {
  display: block;

  &.inline {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 5px;
    line-height: 0;
  }

  a {
    display: inline-block;
    height: 12px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 6px;
    color: #555;
    text-decoration: none;
    vertical-align: middle;
    background: #ddd;
    border-radius: 1px;

    &:hover {
      text-decoration: none;
      background-color: #ccc;
    }

    &:active {
      color: #fff;
      background-color: #4183c4;
    }
  }
}

// Social count bubble
//
// A container that is used for social bubbles counts.
//
// ```html
// <a href="#" class="minibutton with-count">
//   <span class="octicon octicon-eye"></span>
//   Watch
// </a>
// <a class="social-count" href="#">6</a>
// ```
//
// Styleguide 1.2.3
.social-count {
  float: left;
  padding: 0 7px;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  color: $brand-gray-dark;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  &:hover {
    color: $brand-blue;
    text-decoration: none;
    cursor: pointer;
  }
}

// Full-width button
//
// These buttons expand to the full width of their parent container
//
// ```html
// <a class="button button-block" href="#">Full width button</a>
// <button class="button button-block" type="button">Full width button</button>
// ```
//
// Styleguide 1.3
.button-block {
  display: block;
  width: 100%;
  text-align: center;
  @include box-sizing(border-box);
}

// Button group
//
// A button group is a series of buttons laid out next to each other, all part
// of one visual button, but separated by rules to be separate. Inside each group
// are either `.button`s or `.minibutton`s as immediate children. No extra markup is
// required, and they work with any button modifier class.
//
// ```html
// <p>
//   <div class="button-group">
//     <button type="button" class="button">Raw</button>
//     <button type="button" class="button">Normal</button>
//     <button type="button" class="button">History</button>
//   </div>
// </p>
// <p>
//   <div class="button-group">
//     <button type="button" class="minibutton">Raw</button>
//     <button type="button" class="minibutton">Normal</button>
//     <button type="button" class="minibutton">History</button>
//   </div>
//   <button type="button" class="minibutton $modifier_class">Blame</button>
// </p>
// ```
//
// Styleguide 1.4
.button-group {
  display: inline-block;
  @include clearfix();
  vertical-align: middle;

  .button,
  .minibutton,
  .button-outline {
    position: relative;
    float: left;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    // Bring any button into forefront for proper borders given negative margin below
    &:hover,
    &:focus,
    &:active,
    &.selected {
      z-index: 2;
    }
  }

  // Tuck buttons into one another to prevent double border
  .button + .button,
  .minibutton + .minibutton {
    margin-left: -1px;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2);

    &:hover {
      box-shadow: none;
    }

    &:active,
    &.selected {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    }
  }

  .button-outline + .button-outline {
    margin-left: -1px;
  }
}

// Proper spacing for multiple button groups (a la, gollum editor)
.button-group + .button-group,
.button-group + .button,
.button-group + .minibutton {
  margin-left: 5px;
}

// Radio buttons
//
// Buttons backed by radio or checkbox control. Requires the use of `.hidden`
// on the `input` to properly hide it.
//
// ```html
// <p>
//   <div class="button-group">
//     <label class="button">
//       <input type="radio" name="styleguide_state" class="labeled-button hidden" checked>
//       Open
//     </label>
//     <label class="button">
//       <input type="radio" name="styleguide_state" class="labeled-button hidden">
//       Closed
//     </label>
//   </div>
// </p>
// <p>
//   <div class="button-group">
//     <label class="minibutton">
//       <input type="checkbox" name="styleguide_label" class="labeled-button hidden" checked>
//       Bug
//     </label>
//     <label class="minibutton">
//       <input type="checkbox" name="styleguide_label" class="labeled-button hidden">
//       Feature
//     </label>
//     <label class="minibutton">
//       <input type="checkbox" name="styleguide_label" class="labeled-button hidden">
//       Idea
//     </label>
//   </div>
// </p>
// ```
//
// Styleguide 1.5

// No styles to accompany this. See styleguide for usage guidelines.

// Link button
//
// For when you want the appearance of a link, but the
// behavior of a button. Ideal for avoiding `href="#"`.
//
// ```html
// <button class="button-link" type="button">Link button</button>
// ```
//
// Styleguide 1.6
.button-link {
  display: inline;
  padding: 0;
  font-size: inherit;
  color: $brand-blue;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  @include user-select(none);
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: none; // Prevents the blue ring when clicked.
  }
}

// Outline button
//
// for when we need a linky-action that's not too heavy in busier
// areas like conversation timelines.
//
// ```html
// <p>
//   <button class="button-outline" type="button">Outline button</button>
// </p>
// <div class="button-group">
//   <button class="button-outline" type="button">Outline button</button>
//   <button class="button-outline" type="button">Outline button</button>
//   <button class="button-outline" type="button">Outline button</button>
// </div>
// ```
//
// Styleguide 1.7
.button-outline {
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: $brand-blue;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #fff; // Reset default gradient backgrounds and colors
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  @include user-select(none);
  -webkit-appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover,
  &.zeroclipboard-is-hover {
    color: #fff;
    text-decoration: none;
    background-color: $brand-blue;
    border-color: $brand-blue;
  }

  &:disabled,
  &.disabled,
  &:disabled:hover,
  &.disabled:hover {
    color: #777;
    cursor: default;
    background-color: #f5f5f5;
    border-color: #e5e5e5;
  }
}
