@import "primer/variables";
@import "primer/mixins/transition";
@import "primer/mixins/icon-bootstrap";

@if $enable-font-icons {
  @font-face {
    font-family: 'github-octicons';
    src: font-url('octicons/github-octicons.eot');
    src: font-url('octicons/github-octicons.eot#iefix') format('embedded-opentype'),
         font-url('octicons/github-octicons.svg') format('svg'),
         font-url('octicons/github-octicons.woff') format('woff'),
         font-url('octicons/github-octicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  // .octicon is optimized for 16px.
  // .mega-octicon is optimized for 32px but can be used larger.
  //
  // .octicon-logo-github           - UTF+f092
  // .octicon-mark-github-detail    - UTF+f093
  // .octicon-alert                 - UTF+f02d
  // .octicon-alignment-align       - UTF+f08a
  // .octicon-alignment-aligned-to  - UTF+f08e
  // .octicon-alignment-unalign     - UTF+f08b
  // .octicon-arrow-up              - UTF+f03d
  // .octicon-arrow-down            - UTF+f03f
  // .octicon-arrow-left            - UTF+f040
  // .octicon-arrow-right           - UTF+f03e
  // .octicon-arrow-small-up        - UTF+f09f
  // .octicon-arrow-small-down      - UTF+f0a0
  // .octicon-arrow-small-left      - UTF+f0a1
  // .octicon-arrow-small-right     - UTF+f071
  // .octicon-beer                  - UTF+f069
  // .octicon-book                  - UTF+f007
  // .octicon-bookmark              - UTF+f07b
  // .octicon-bug                   - UTF+f091
  // .octicon-calendar              - UTF+f068
  // .octicon-check                 - UTF+f03a
  // .octicon-checklist             - UTF+f076
  // .octicon-chevron-up            - UTF+f0a2
  // .octicon-chevron-down          - UTF+f0a3
  // .octicon-chevron-left          - UTF+f0a4
  // .octicon-chevron-right         - UTF+f078
  // .octicon-circle-slash          - UTF+f084
  // .octicon-clippy                - UTF+f035
  // .octicon-clock                 - UTF+f046
  // .octicon-cloud-download        - UTF+f00b
  // .octicon-cloud-upload          - UTF+f00c
  // .octicon-code                  - UTF+f05f
  // .octicon-color-mode            - UTF+f065
  // .octicon-comment               - UTF+f02b
  // .octicon-comment-add           - UTF+f06f
  // .octicon-comment-discussion    - UTF+f04f
  // .octicon-credit-card           - UTF+f045
  // .octicon-dashboard             - UTF+f07d
  // .octicon-database              - UTF+f096
  // .octicon-device-desktop        - UTF+f27c
  // .octicon-device-mobile         - UTF+f038
  // .octicon-diff-added            - UTF+f06b
  // .octicon-diff-ignored          - UTF+f099
  // .octicon-diff-renamed          - UTF+f06e
  // .octicon-diff-removed          - UTF+f06c
  // .octicon-diff-modified         - UTF+f06d
  // .octicon-diff                  - UTF+f04d
  // .octicon-ellipsis              - UTF+f09a
  // .octicon-eye                   - UTF+f04e
  // .octicon-eye-watch             - UTF+f01d
  // .octicon-eye-unwatch           - UTF+f01e
  // .octicon-broadcast             - UTF+f048
  // .octicon-file-add              - UTF+f086
  // .octicon-file-binary           - UTF+f094
  // .octicon-file-code             - UTF+f010
  // .octicon-file-media            - UTF+f012
  // .octicon-file-pdf              - UTF+f014
  // .octicon-file-text             - UTF+f011
  // .octicon-file-zip              - UTF+f013
  // .octicon-file-directory        - UTF+f016
  // .octicon-file-directory-create - UTF+f095
  // .octicon-file-submodule        - UTF+f017
  // .octicon-gear                  - UTF+f02f
  // .octicon-gift                  - UTF+f042
  // .octicon-gist                  - UTF+f00e
  // .octicon-gist-fork             - UTF+f079
  // .octicon-gist-new              - UTF+f07a
  // .octicon-gist-private          - UTF+f00f
  // .octicon-gist-secret           - UTF+f08c
  // .octicon-git-commit            - UTF+f01f
  // .octicon-git-branch            - UTF+f020
  // .octicon-git-branch-create     - UTF+f098
  // .octicon-git-branch-delete     - UTF+f09b
  // .octicon-git-fork-private      - UTF+f021
  // .octicon-git-merge             - UTF+f023
  // .octicon-git-pull-request      - UTF+f009
  // .octicon-git-compare           - UTF+f0ac
  // .octicon-graph                 - UTF+f043
  // .octicon-history               - UTF+f07e
  // .octicon-home                  - UTF+f08d
  // .octicon-horizontal-rule       - UTF+f070
  // .octicon-hourglass             - UTF+f09e
  // .octicon-hubot                 - UTF+f09d
  // .octicon-info                  - UTF+f059
  // .octicon-issue-opened          - UTF+f026
  // .octicon-issue-reopened        - UTF+f027
  // .octicon-issue-closed          - UTF+f028
  // .octicon-jump-up               - UTF+f073
  // .octicon-jump-down             - UTF+f072
  // .octicon-jump-left             - UTF+f0a5
  // .octicon-jump-right            - UTF+f0a6
  // .octicon-key                   - UTF+f049
  // .octicon-keyboard              - UTF+f00d
  // .octicon-link-external         - UTF+f07f
  // .octicon-link                  - UTF+f05c
  // .octicon-list-ordered          - UTF+f062
  // .octicon-list-unordered        - UTF+f061
  // .octicon-location              - UTF+f060
  // .octicon-lock                  - UTF+f06a
  // .octicon-log-out               - UTF+f032
  // .octicon-mail                  - UTF+f03b
  // .octicon-mail-read             - UTF+f03c
  // .octicon-mail-reply            - UTF+f051
  // .octicon-mark-github           - UTF+f00a
  // .octicon-megaphone             - UTF+f077
  // .octicon-microscope            - UTF+f089
  // .octicon-milestone             - UTF+f075
  // .octicon-mirror-private        - UTF+f025
  // .octicon-mirror-public         - UTF+f024
  // .octicon-move-up               - UTF+f0a7
  // .octicon-move-down             - UTF+f0a8
  // .octicon-move-left             - UTF+f074
  // .octicon-move-right            - UTF+f0a9
  // .octicon-mute                  - UTF+f080
  // .octicon-no-newline            - UTF+f09c
  // .octicon-octoface              - UTF+f008
  // .octicon-pencil                - UTF+f058
  // .octicon-person                - UTF+f018
  // .octicon-person-add            - UTF+f01a
  // .octicon-person-follow         - UTF+f01c
  // .octicon-person-remove         - UTF+f01b
  // .octicon-person-team           - UTF+f019
  // .octicon-pin                   - UTF+f041
  // .octicon-plus                  - UTF+f05d
  // .octicon-primitive-dot         - UTF+f052
  // .octicon-primitive-square      - UTF+f053
  // .octicon-pulse                 - UTF+f085
  // .octicon-question              - UTF+f02c
  // .octicon-quote                 - UTF+f063
  // .octicon-radio-tower           - UTF+f030
  // .octicon-remove-close          - UTF+f050
  // .octicon-repo                  - UTF+f001
  // .octicon-repo-clone            - UTF+f04c
  // .octicon-repo-create           - UTF+f003
  // .octicon-repo-delete           - UTF+f004
  // .octicon-repo-force-push       - UTF+f04a
  // .octicon-repo-forked           - UTF+f002
  // .octicon-repo-pull             - UTF+f006
  // .octicon-repo-push             - UTF+f005
  // .octicon-repo-sync             - UTF+f04b
  // .octicon-rocket                - UTF+f033
  // .octicon-rss                   - UTF+f034
  // .octicon-ruby                  - UTF+f047
  // .octicon-screen-full           - UTF+f066
  // .octicon-screen-normal         - UTF+f067
  // .octicon-search                - UTF+f02e
  // .octicon-server                - UTF+f097
  // .octicon-settings              - UTF+f07c
  // .octicon-star                  - UTF+f02a
  // .octicon-star-add              - UTF+f082
  // .octicon-star-delete           - UTF+f083
  // .octicon-stop                  - UTF+f08f
  // .octicon-sync                  - UTF+f087
  // .octicon-tag                   - UTF+f015
  // .octicon-tag-add               - UTF+f054
  // .octicon-tag-remove            - UTF+f055
  // .octicon-telescope             - UTF+f088
  // .octicon-three-bars            - UTF+f05e
  // .octicon-tools                 - UTF+f031
  // .octicon-triangle-up           - UTF+f0aa
  // .octicon-triangle-down         - UTF+f05b
  // .octicon-triangle-left         - UTF+f044
  // .octicon-triangle-right        - UTF+f05a
  // .octicon-versions              - UTF+f064
  // .octicon-x                     - UTF+f081
  // .octicon-zap                   - UTF+f090
  //
  // Styleguide 7.1
  .octicon {
    @include icon-bootstrap(16px);
  }
  .mega-octicon {
    @include icon-bootstrap(32px);
  }

  .octicon-logo-github:before { content: '\f092'; } /* '' */
  .octicon-mark-github-detail:before { content: '\f093'; } /* '' */
  .octicon-alert:before { content: '\f02d'; } /* '' */
  .octicon-alignment-align:before { content: '\f08a'; } /* '' */
  .octicon-alignment-aligned-to:before { content: '\f08e'; } /* '' */
  .octicon-alignment-unalign:before { content: '\f08b'; } /* '' */
  .octicon-arrow-up:before { content: '\f03d'; } /* '' */
  .octicon-arrow-down:before { content: '\f03f'; } /* '' */
  .octicon-arrow-left:before { content: '\f040'; } /* '' */
  .octicon-arrow-right:before { content: '\f03e'; } /* '' */
  .octicon-arrow-small-up:before { content: '\f09f'; } /* '' */
  .octicon-arrow-small-down:before { content: '\f0a0'; } /* '' */
  .octicon-arrow-small-left:before { content: '\f0a1'; } /* '' */
  .octicon-arrow-small-right:before { content: '\f071'; } /* '' */
  .octicon-beer:before { content: '\f069'; } /* '' */
  .octicon-book:before { content: '\f007'; } /* '' */
  .octicon-bookmark:before { content: '\f07b'; } /* '' */
  .octicon-bug:before { content: '\f091'; } /* '' */
  .octicon-calendar:before { content: '\f068'; } /* '' */
  .octicon-check:before { content: '\f03a'; } /* '' */
  .octicon-checklist:before { content: '\f076'; } /* '' */
  .octicon-chevron-up:before { content: '\f0a2'; } /* '' */
  .octicon-chevron-down:before { content: '\f0a3'; } /* '' */
  .octicon-chevron-left:before { content: '\f0a4'; } /* '' */
  .octicon-chevron-right:before { content: '\f078'; } /* '' */
  .octicon-circle-slash:before { content: '\f084'; } /* '' */
  .octicon-clippy:before { content: '\f035'; } /* '' */
  .octicon-clock:before { content: '\f046'; } /* '' */
  .octicon-cloud-download:before { content: '\f00b'; } /* '' */
  .octicon-cloud-upload:before { content: '\f00c'; } /* '' */
  .octicon-code:before { content: '\f05f'; } /* '' */
  .octicon-color-mode:before { content: '\f065'; } /* '' */
  .octicon-comment:before { content: '\f02b'; } /* '' */
  .octicon-comment-add:before { content: '\f06f'; } /* '' */
  .octicon-comment-discussion:before { content: '\f04f'; } /* '' */
  .octicon-credit-card:before { content: '\f045'; } /* '' */
  .octicon-dashboard:before { content: '\f07d'; } /* '' */
  .octicon-database:before { content: '\f096'; } /* '' */
  .octicon-device-desktop:before { content: '\f27c'; } /* '' */
  .octicon-device-mobile:before { content: '\f038'; } /* '' */
  .octicon-diff-added:before { content: '\f06b'; } /* '' */
  .octicon-diff-ignored:before { content: '\f099'; } /* '' */
  .octicon-diff-renamed:before { content: '\f06e'; } /* '' */
  .octicon-diff-removed:before { content: '\f06c'; } /* '' */
  .octicon-diff-modified:before { content: '\f06d'; } /* '' */
  .octicon-diff:before { content: '\f04d'; } /* '' */
  .octicon-ellipsis:before { content: '\f09a'; } /* '' */
  .octicon-eye:before { content: '\f04e'; } /* '' */
  .octicon-eye-watch:before { content: '\f01d'; } /* '' */
  .octicon-eye-unwatch:before { content: '\f01e'; } /* '' */
  .octicon-broadcast:before { content: '\f048'; } /* '' */
  .octicon-file-add:before { content: '\f086'; } /* '' */
  .octicon-file-binary:before { content: '\f094'; } /* '' */
  .octicon-file-code:before { content: '\f010'; } /* '' */
  .octicon-file-media:before { content: '\f012'; } /* '' */
  .octicon-file-pdf:before { content: '\f014'; } /* '' */
  .octicon-file-text:before { content: '\f011'; } /* '' */
  .octicon-file-zip:before { content: '\f013'; } /* '' */
  .octicon-file-directory:before { content: '\f016'; } /* '' */
  .octicon-file-directory-create:before { content: '\f095'; } /* '' */
  .octicon-file-submodule:before { content: '\f017'; } /* '' */
  .octicon-gear:before { content: '\f02f'; } /* '' */
  .octicon-gift:before { content: '\f042'; } /* '' */
  .octicon-gist:before { content: '\f00e'; } /* '' */
  .octicon-gist-fork:before { content: '\f079'; } /* '' */
  .octicon-gist-new:before { content: '\f07a'; } /* '' */
  .octicon-gist-private:before { content: '\f00f'; } /* '' */
  .octicon-gist-secret:before { content: '\f08c'; } /* '' */
  .octicon-git-commit:before { content: '\f01f'; } /* '' */
  .octicon-git-branch:before { content: '\f020'; } /* '' */
  .octicon-git-branch-create:before { content: '\f098'; } /* '' */
  .octicon-git-branch-delete:before { content: '\f09b'; } /* '' */
  .octicon-git-fork-private:before { content: '\f021'; } /* '' */
  .octicon-git-merge:before { content: '\f023'; } /* '' */
  .octicon-git-pull-request:before { content: '\f009'; } /* '' */
  .octicon-git-compare:before { content: '\f0ac'; } /* '' */
  .octicon-graph:before { content: '\f043'; } /* '' */
  .octicon-history:before { content: '\f07e'; } /* '' */
  .octicon-home:before { content: '\f08d'; } /* '' */
  .octicon-horizontal-rule:before { content: '\f070'; } /* '' */
  .octicon-hourglass:before { content: '\f09e'; } /* '' */
  .octicon-hubot:before { content: '\f09d'; } /* '' */
  .octicon-info:before { content: '\f059'; } /* '' */
  .octicon-issue-opened:before { content: '\f026'; } /* '' */
  .octicon-issue-reopened:before { content: '\f027'; } /* '' */
  .octicon-issue-closed:before { content: '\f028'; } /* '' */
  .octicon-jump-up:before { content: '\f073'; } /* '' */
  .octicon-jump-down:before { content: '\f072'; } /* '' */
  .octicon-jump-left:before { content: '\f0a5'; } /* '' */
  .octicon-jump-right:before { content: '\f0a6'; } /* '' */
  .octicon-key:before { content: '\f049'; } /* '' */
  .octicon-keyboard:before { content: '\f00d'; } /* '' */
  .octicon-link-external:before { content: '\f07f'; } /* '' */
  .octicon-link:before { content: '\f05c'; } /* '' */
  .octicon-list-ordered:before { content: '\f062'; } /* '' */
  .octicon-list-unordered:before { content: '\f061'; } /* '' */
  .octicon-location:before { content: '\f060'; } /* '' */
  .octicon-lock:before { content: '\f06a'; } /* '' */
  .octicon-log-out:before { content: '\f032'; } /* '' */
  .octicon-mail:before { content: '\f03b'; } /* '' */
  .octicon-mail-read:before { content: '\f03c'; } /* '' */
  .octicon-mail-reply:before { content: '\f051'; } /* '' */
  .octicon-mark-github:before { content: '\f00a'; } /* '' */
  .octicon-megaphone:before { content: '\f077'; } /* '' */
  .octicon-microscope:before { content: '\f089'; } /* '' */
  .octicon-milestone:before { content: '\f075'; } /* '' */
  .octicon-mirror-private:before { content: '\f025'; } /* '' */
  .octicon-mirror-public:before { content: '\f024'; } /* '' */
  .octicon-move-up:before { content: '\f0a7'; } /* '' */
  .octicon-move-down:before { content: '\f0a8'; } /* '' */
  .octicon-move-left:before { content: '\f074'; } /* '' */
  .octicon-move-right:before { content: '\f0a9'; } /* '' */
  .octicon-mute:before { content: '\f080'; } /* '' */
  .octicon-no-newline:before { content: '\f09c'; } /* '' */
  .octicon-octoface:before { content: '\f008'; } /* '' */
  .octicon-pencil:before { content: '\f058'; } /* '' */
  .octicon-person:before { content: '\f018'; } /* '' */
  .octicon-person-add:before { content: '\f01a'; } /* '' */
  .octicon-person-follow:before { content: '\f01c'; } /* '' */
  .octicon-person-remove:before { content: '\f01b'; } /* '' */
  .octicon-person-team:before { content: '\f019'; } /* '' */
  .octicon-pin:before { content: '\f041'; } /* '' */
  .octicon-plus:before { content: '\f05d'; } /* '' */
  .octicon-primitive-dot:before { content: '\f052'; } /* '' */
  .octicon-primitive-square:before { content: '\f053'; } /* '' */
  .octicon-pulse:before { content: '\f085'; } /* '' */
  .octicon-question:before { content: '\f02c'; } /* '' */
  .octicon-quote:before { content: '\f063'; } /* '' */
  .octicon-radio-tower:before { content: '\f030'; } /* '' */
  .octicon-remove-close:before { content: '\f050'; } /* '' */
  .octicon-repo:before { content: '\f001'; } /* '' */
  .octicon-repo-clone:before { content: '\f04c'; } /* '' */
  .octicon-repo-create:before { content: '\f003'; } /* '' */
  .octicon-repo-delete:before { content: '\f004'; } /* '' */
  .octicon-repo-force-push:before { content: '\f04a'; } /* '' */
  .octicon-repo-forked:before { content: '\f002'; } /* '' */
  .octicon-repo-pull:before { content: '\f006'; } /* '' */
  .octicon-repo-push:before { content: '\f005'; } /* '' */
  .octicon-repo-sync:before { content: '\f04b'; } /* '' */
  .octicon-rocket:before { content: '\f033'; } /* '' */
  .octicon-rss:before { content: '\f034'; } /* '' */
  .octicon-ruby:before { content: '\f047'; } /* '' */
  .octicon-screen-full:before { content: '\f066'; } /* '' */
  .octicon-screen-normal:before { content: '\f067'; } /* '' */
  .octicon-search:before { content: '\f02e'; } /* '' */
  .octicon-server:before { content: '\f097'; } /* '' */
  .octicon-settings:before { content: '\f07c'; } /* '' */
  .octicon-star:before { content: '\f02a'; } /* '' */
  .octicon-star-add:before { content: '\f082'; } /* '' */
  .octicon-star-delete:before { content: '\f083'; } /* '' */
  .octicon-stop:before { content: '\f08f'; } /* '' */
  .octicon-sync:before { content: '\f087'; } /* '' */
  .octicon-tag:before { content: '\f015'; } /* '' */
  .octicon-tag-add:before { content: '\f054'; } /* '' */
  .octicon-tag-remove:before { content: '\f055'; } /* '' */
  .octicon-telescope:before { content: '\f088'; } /* '' */
  .octicon-three-bars:before { content: '\f05e'; } /* '' */
  .octicon-tools:before { content: '\f031'; } /* '' */
  .octicon-triangle-up:before { content: '\f0aa'; } /* '' */
  .octicon-triangle-down:before { content: '\f05b'; } /* '' */
  .octicon-triangle-left:before { content: '\f044'; } /* '' */
  .octicon-triangle-right:before { content: '\f05a'; } /* '' */
  .octicon-versions:before { content: '\f064'; } /* '' */
  .octicon-x:before { content: '\f081'; } /* '' */
  .octicon-zap:before { content: '\f090'; } /* '' */
}
