.breadcrumb-item {
  display: inline-block;
  // stylelint-disable-next-line primer/spacing
  margin-left: -0.35em;
  white-space: nowrap;
  list-style: none;

  &::after {
    display: inline-block;
    height: 0.8em;
    margin: 0 $em-spacer-5;
    content: '';
    // stylelint-disable-next-line primer/borders
    border-right: 0.1em $border-style var(--color-text-disabled);
    transform: rotate(15deg);
  }

  &:first-child {
    margin-left: 0;
  }
}

.breadcrumb-item-selected,
.breadcrumb-item[aria-current]:not([aria-current=false]) {
  color: var(--color-text-primary);

  &::after {
    content: none;
  }
}
