/**
 * Buttons
 */

/**
 * Remove the default Webkit glow to more closely mimic native mobile apps
 */

button:focus {
  outline: none;
}

/**
 * Vanilla styles for any element with .Button class
 */

.Button {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.08) rgba(0,0,0,0.15) rgba(0,0,0,0.28) rgba(0,0,0,0.15);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  @include border-radius(default);
  @include box-shadow(0, 1px, 0, rgba(0,0,0,0.05));
  @include font-size(default);
  @include font-weight(semi-bold);
  @include linear-gradient(#fff,darken(#fff,6%));
  @include padding-bottom(3);
  @include padding-left(6);
  @include padding-right(6);
  @include padding-top(3);
  @include tap-highlight(none);
  @include text-color(base);
  @include user-select(none);
}

.Button:active,
.Button:focus,
.Button:hover {
  background: darken(#fff, 6%);
  border-color: rgba(0, 0, 0, 0.08);
  color: darken($color--base, 10%);
  text-decoration: none;
  @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
}

/**
 * Button disabled state
 *
 * 'disabled' HTML attribute should also be applied to the <button> element
 */

.Button.is-disabled {
  background: rgba(0, 0, 0, 0.10) !important;
  border: 0;
  color: rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
  text-shadow: none;
  @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
}

/**
 * Positive button variant
 *
 * Used as primary CTA for completing tasks e.g. sending an invoice
 */

.Button--positive {
  border-color: darken($color--fa-green, 3%) darken($color--fa-green, 5%) darken($color--fa-green, 10%) darken($color--fa-green, 5%);
  color: #fff;
  text-shadow: 0 1px 0 darken($color--fa-green, 10%);
  @include linear-gradient($color--fa-green, darken($color--fa-green, 5%));
}

.Button--positive:active,
.Button--positive:focus,
.Button--positive:hover {
  background: darken($color--fa-green, 5%);
  border-color: darken($color--fa-green, 3%);
  color: #fff;
  text-shadow: none;
  @include box-shadow(0,0,0,rgba(0,0,0,0));
}
