@import "primer/mixins/variables";
@import "primer/mixins/gradient";

// A menu on the side of a page, defaults to left side. e.g. github.com/about
//
// .menu li.active - Something
//
// Styleguide 8.3
.menu-container {
  float: left;
  width: 200px;
}

.menu {
  overflow: hidden;
  list-style: none;
  background: #fafafb;
  border: 1px solid #d8d8d8;
  border-radius: 3px;

  // Get rid of underlines on hover
  a:hover { text-decoration: none; }

  li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;

    &:last-child { border-bottom: 0; }

    &:first-child { border-top: 0; }
  }

  a {
    display: block;
    padding: 8px 10px 8px 8px;
    text-shadow: 0 1px 0 #fff;
    border-left: 2px solid #fafafb;

    &:hover {
      background: #fdfdfe;
    }

    .octicon {
      width: 16px;
      color: $brand-darkGrey;
      text-align: center;
    }

    &.selected {
      font-weight: bold;
      color: #222;
      cursor: default;
      background: #fff;
      border-left: 2px solid #d26911;
    }

    .counter {
      float: right;
      margin-left: 5px;
    }
  }

  .menu-warning {
    float: right;
    color: #d26911;
  }
}

// Turn a menu into an accordion menu
//
// Styleguide 8.3.1
.accordion {
  list-style: none;
  background: #fafafb;

  .section {
    border-bottom: 0;

    &:first-child {
      border-top: 0;
    }
  }

  .section-head {
    display: block;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #222;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    @include gradient(#fafafa, #efefef);
    border-bottom: 1px solid #ccc;
    border-left: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);

    img {
      float: left;
      margin: 0 10px 0 0;
      border-radius: 2px;
    }
  }

  // The nested ul is the actual navigation for the section
  .section-nav {
    display: none;
    list-style: none;
    border-bottom: 1px solid #ddd;

    &.expanded { display: block; }
  }
}
