@import "primer/mixins/clearfix";
@import "primer/mixins/gradient";
@import "primer/mixins/transition";
@import "primer/mixins/animation";
@import "primer/mixins/variables";

// Sunken tabbed navigation menu. Really needs to be used with one of the
// following modifier classes in order to make sense and not look like : poop:.
//
// Styleguide 8.6
.sunken-menu {

  .sunken-menu-contents,
  .sunken-menu-item,
  .sunken-menu-separator {
    position: relative;
  }

  .sunken-menu-contents:before,
  .sunken-menu-contents:after,
  .sunken-menu-item.selected:after,
  .sunken-menu-separator:before {
    position: absolute;
    content: "";
  }

  .sunken-menu-contents {
    margin: 0;
  }

  .sunken-menu-group {
    list-style-type: none;
  }

  .sunken-menu-item {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid transparent;
    outline: 0;

    &.selected {
      font-weight: bold;
      color: $brand-darkGrey;
      background: #fff;
      border: 1px solid #eee;

      &:after {
        @include gradient(#d26911, darken(#d26911, 5%));
        box-shadow: inset -1px -1px 0 rgba(#000, .1);
      }
    }

    .octicon {
      left: -1px;
      width: 16px;
      color: $brand-lightGrey;
      text-align: center;
      @include transition($property: color, $time: .25s);
    }

    &:hover .octicon {
      color: $brand-darkGrey;
    }

    &.selected .octicon {
      color: $brand-darkGrey;
    }

    .mini-loader {
      position: absolute;
      top: 9px;
      left: 9px;
      display: none;
    }

    &.is-loading {
      .mini-loader {
        display: inline-block;
        @include animation(mini-nav-loader, .4s, forwards);
      }

      .octicon {
        color: #fff;
      }
    }
  }
}

.sunken-menu.vertical-right {
  max-width: 250px;

  .sunken-menu-contents {
    padding: 12px 0 15px;
    background-image: -webkit-linear-gradient(left, #f6f6f6 0%, #fff 8px);
    background-image: -moz-linear-gradient(left, #f6f6f6 0%, #fff 8px);
    background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px);
    box-shadow: inset 1px 0 0 #eee;

    &:before,
    &:after {
      left: 0;
      width: 100%;
      height: 15px;
      background-color: transparent;
    }

    &:before {
      top: 0;
      @include gradient(#fff, rgba(#fff, 0));
      background-color: transparent;
    }

    &:after {
      bottom: 0;
      @include gradient(rgba(#fff, 0), #fff);
      background-color: transparent;
    }
  }

  .sunken-menu-item {
    margin: 5px 0;

    &:focus,
    &:hover {
      box-shadow: inset 2px 0 0 #ccc;
    }

    &.selected {
      border-left: 1px solid transparent;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .05);

      &:after {
        top: -1px;
        right: -1px;
        bottom: -1px;
        width: 3px;
        border-radius: 0 2px 2px 0;
      }
    }

    .counter {
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }

  .sunken-menu-separator {
    height: 5px;
    margin: 8px 0 6px 1px;
    background-image: -webkit-radial-gradient(left top, farthest-side, #f4f4f4, rgba(#f4f4f4, 0));
    background-image: -moz-radial-gradient(left top, farthest-side, #f4f4f4, rgba(#f4f4f4, 0));
    background-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(#f4f4f4, 0));

    &:before {
      top: 0;
      width: 100%;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #eee 70%, #fff 100%);
      background-image: -moz-linear-gradient(left, #eee 70%, #fff 100%);
      background-image: linear-gradient(to right, #eee 70%, #fff 100%);
      border-top: 1px solid #eee\9; // Hack to give IE9 at least some separator
    }
  }
}

@-webkit-keyframes mini-nav-pulse {
  0% { -webkit-transform: scale(.9); }

  25% { -webkit-transform: scale(1); }

  70% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes mini-nav-pulse {
  0% { -moz-transform: scale(.9); }

  25% { -moz-transform: scale(1); }

  70% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}

@keyframes mini-nav-pulse {
  0% { transform: scale(.9); }

  25% { transform: scale(1); }

  70% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@-webkit-keyframes mini-nav-loader {
  0% { opacity: 0; }

  90% { opacity: 0; }

  100% { opacity: 1; }
}

@-moz-keyframes mini-nav-loader {
  0% { opacity: 0; }

  90% { opacity: 0; }

  100% { opacity: 1; }
}

@keyframes mini-nav-loader {
  0% { opacity: 0; }

  90% { opacity: 0; }

  100% { opacity: 1; }
}
