@import './action-list-helpers-temporary.scss';

// emtpy divider

.ActionList-sectionDivider {
  height: 1px;
  background: $actionList-item-divider;
  border: 0;
  margin: ($spacer-2 - 1px) ($spacer-2 * -1) $spacer-2;
  padding: 0;
  list-style: none;
}

.ActionList-sectionDivider--filled {
  margin: $spacer-2 ($spacer-2 * -1);
  background: var(--color-canvas-subtle);
  border-top: 1px solid var(--color-scale-gray-2);
  border-bottom: 1px solid var(--color-scale-gray-2);

  // if no children, treat as divider
  &:empty {
    height: $spacer-2;
    box-sizing: border-box;
  }

  &:first-child {
    margin-top: 0;
  }
}

// section header

.ActionList-sectionHeader {
  // 32px total height considering 20px line-height
  padding: (($spacer-5 - $s-20) / 2) $spacer-2;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  color: var(--color-fg-muted);
  display: flex;
  flex-direction: column;

  .ActionList-sectionHeader--description {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
  }
}
