// @import './action-list-variables.scss';

@mixin focusOutline {
  position: relative;
  z-index: 1;
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent-fg); // this color breaks convention
}

// <li>
.ActionList-item {
  position: relative;
  list-style: none;
  border-radius: $border-radius;

  &:hover,
  &:active {
    cursor: pointer;

    // a href
    .ActionList-item-content {
      text-decoration: none;
    }
  }

  // only hover li without list as children
  &:not(.ActionList-item--has-sub-item) {
    &:hover {
      cursor: pointer;
      background-color: var(--color-action-list-item-default-hover-bg);
    }

    &:active {
      background: var(--color-action-list-item-default-active-bg);

      @media screen and (prefers-reduced-motion: no-preference) {
        animation: ActionList-item-active-bg 4s forwards cubic-bezier(0.33, 1, 0.68, 1);
      }

      @keyframes ActionList-item-active-bg {
        0% {
        }

        50% {
          box-shadow: inset 0 0 0 rgba(#000, 0.04);
          transform: scale(1);
        }

        100% {
          box-shadow: inset 0 3px 9px rgba(#000, 0.04);
          transform: scale(0.97);
        }
      }
    }

    &:hover,
    &:active {
      // hide dividers
      .ActionList-item-content--label::before,
      + .ActionList-item .ActionList-item-content--label::before {
        visibility: hidden;
      }
    }
  }

  // target contents of li if sub-item (li wraps item label + nested ul)
  // collapse styles here
  &.ActionList-item--has-sub-item {
    // first child
    > .ActionList-item-content {
      &:hover {
        background-color: var(--color-action-list-item-default-hover-bg);
      }
    }
  }

  // active state [aria-current]

  &.ActionList-item--nav-active:not(.ActionList-item--danger) {
    background: var(--color-action-list-item-default-selected-bg);

    &::before,
    + .ActionList-item::before {
      visibility: hidden;
    }

    // blue accent line
    &::after {
      position: absolute;
      top: calc(50% - #{$spacer-4} * 0.5);
      left: -$actionList-item-padding-horizontal;
      width: $spacer-1;
      height: $spacer-4;
      content: '';
      background: var(--color-accent-fg);
      border-radius: $border-radius-1;
    }
  }

  // collapsible item [aria-expanded]

  &[aria-expanded='true'] {
    .ActionList-item-content--collapseIcon {
      transition: transform 120ms linear;
      transform: scaleY(-1);
    }

    .ActionList--sub-group {
      display: block;
    }

    &.ActionList-item--has-sub-item {
      > .ActionList-item-content > .ActionList-item-content--label {
        font-weight: $font-weight-bold;
      }
    }
  }

  &[aria-expanded='false'] {
    .ActionList-item-content--collapseIcon {
      transition: transform 120ms linear;
      transform: scaleY(1);
    }

    .ActionList--sub-group {
      display: none;
    }
  }

  // checkbox item [aria-checked]
  // listbox [aria-selected]

  &[aria-checked='true'],
  &[aria-selected='true'] {
    // multiselect checkmark
    .ActionList-item-content--multiSelect-checkmark {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity $actionList-item-checkmark-transition-timing;
    }

    // singleselect checkmark
    .ActionList-item-content--singleSelect {
      visibility: visible;

      @media screen and (prefers-reduced-motion: no-preference) {
        animation: checkmarkIn 200ms cubic-bezier(0.11, 0, 0.5, 0) forwards;
      }
    }

    // checkbox
    .ActionList-item-content--multiSelect {
      .ActionList-item-content--multiSelect-rectangle {
        fill: var(--color-accent-fg);
        stroke: var(--color-accent-fg);
        stroke-width: $border-width;
      }

      .ActionList-item-content--multiSelect-checkmark {
        fill: var(--color-fg-on-emphasis);
      }
    }
  }

  &[aria-checked='false'],
  &[aria-selected='false'] {
    // multiselect checkmark
    .ActionList-item-content--multiSelect-checkmark {
      visibility: hidden;
      opacity: 0;
      transition:
 visibility 0s linear $actionList-item-checkmark-transition-timing,
        opacity $actionList-item-checkmark-transition-timing;
    }

    // singleselect checkmark
    .ActionList-item-content--singleSelect {
      visibility: hidden;
      transition: visibility 0s linear 200ms;
      clip-path: inset(16px 0 0 0);

      @media screen and (prefers-reduced-motion: no-preference) {
        animation: checkmarkOut 200ms cubic-bezier(0.11, 0, 0.5, 0) forwards;
      }
    }

    // checkbox
    .ActionList-item-content--multiSelect {
      .ActionList-item-content--multiSelect-rectangle {
        fill: var(--color-canvas-default);
        stroke: var(--color-border-default);
        stroke-width: $border-width;
      }
    }

    .ActionList-item-content--multiSelect-rectangle {
      fill: var(--color-canvas-default);
      border: $border-width $border-style var(--color-border-default);
    }
  }

  @keyframes checkmarkIn {
    from {
      clip-path: inset(16px 0 0 0);
    }

    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes checkmarkOut {
    from {
      clip-path: inset(0 0 0 0);
    }

    to {
      clip-path: inset(16px 0 0 0);
    }
  }

  // variants

  &.ActionList-item--danger {
    .ActionList-item-content--label {
      color: var(--color-danger-fg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-action-list-item-danger-hover-bg);

        .ActionList-item-content--label {
          color: var(--color-action-list-item-danger-hover-text);
        }
      }
    }

    &:active {
      background: var(--color-action-list-item-danger-active-bg);
    }
  }

  // if nested list exists, remove default padding
  .ActionList {
    padding: unset;
  }
}

// span or a href
.ActionList-item-content {
  position: relative;
  display: grid;
  padding: $actionList-item-padding-vertical $actionList-item-padding-horizontal;
  font-weight: $font-weight-normal;
  color: var(--color-fg-default);
  user-select: none;
  border-radius: $border-radius;
  transition: $actionList-item-bg-transition;
  grid-template-rows: minmax(20px, max-content); // 20px + 12px padding [32]
  grid-template-areas: 'leadingAction leadingVisual label trailingVisual trailingAction';
  grid-template-columns: min-content min-content minmax(min-content, auto) min-content min-content;
  align-items: center;

  // column-gap persists with empty grid-areas, margin applies only when children exist
  & > :not(:last-child) {
    margin-right: $spacer-2;
  }

  &:focus-visible {
    @include focusOutline;
  }

  // sizes

  &.ActionList-item-content--sizeMedium {
    grid-template-rows: minmax(28px, max-content); // 28px + 12px padding [40]
  }

  &.ActionList-item-content--sizeLarge {
    grid-template-rows: minmax(36px, max-content); // 36px + 12px padding [48]
  }

  // On pointer:coarse (mobile), all list items are large
  @media (pointer: coarse) {
    grid-template-rows: minmax(36px, max-content);
  }

  &.ActionList-item-content--blockDescription {
    // if leading/trailing visual, align with first line of content
    .ActionList-item-content--visual {
      place-self: start;
    }
  }
}

// place children on grid

.ActionList-item-content--action-leading {
  grid-area: leadingAction;
}

.ActionList-item-content--visual-leading {
  grid-area: leadingVisual;
}

.ActionList-item-content--label {
  grid-area: label;
}

.ActionList-item-content--visual-trailing {
  grid-area: trailingVisual;
}

.ActionList-item-content--action-trailing {
  grid-area: trailingAction;
}

// wrapper span
.ActionList-item-content--label-blockDescription,
.ActionList-item-content--label-inlineDescription {
  grid-area: label;
  display: flex;

  .ActionList-item-content--label {
    font-weight: $font-weight-bold;
  }
}

// block
.ActionList-item-content--label-blockDescription {
  flex-direction: column;

  .ActionList-item-content--description {
    margin-top: $spacer-1;
  }
}

// inline
.ActionList-item-content--label-inlineDescription {
  flex-direction: row;
  align-items: baseline;

  .ActionList-item-content--description {
    margin-left: $actionList-item-padding-horizontal;
  }
}

// description
.ActionList-item-content--description {
  font-size: $font-size-small;
  line-height: $lh-default;
  color: var(--color-fg-muted);
}

// helper for grid alignment with multi-line content
// span wrapping svg or text
.ActionList-item-content--visual,
.ActionList-item-content--action {
  display: flex;
  min-height: 20px;
  color: var(--color-fg-muted); // if visual is text
  fill: var(--color-fg-muted);
  align-items: center;
}

// text
.ActionList-item-content--label {
  position: relative; // for pseudo dividers
  font-weight: $font-weight-normal;
  color: var(--color-fg-default);
}

// nested lists (only supports 1 level currently)
// target ActionList-item--sub-item for padding-left to maintain :active :after state

.ActionList-item--sub-item > .ActionList-item-content {
  font-size: $font-size-small;
}

// no leading visual
.ActionList--sub-group {
  .ActionList-item--sub-item {
    padding-left: 16px;
  }
}

// has 16px leading visual
.ActionList-item-content--visual--16 + .ActionList--sub-group {
  .ActionList-item--sub-item {
    padding-left: 24px;
  }
}

// has 20px leading visual
.ActionList-item-content--visual--20 + .ActionList--sub-group {
  .ActionList-item--sub-item {
    padding-left: 28px;
  }
}

// has 24px leading visual
.ActionList-item-content--visual--24 + .ActionList--sub-group {
  .ActionList-item--sub-item {
    padding-left: 32px;
  }
}
