@import './action-list-helpers-temporary.scss';

// <ul>
.ActionList {
  padding: $actionList-padding;
}

// dividers

.ActionList--divided {
  .ActionList-item-content--label:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: $actionList-item-divider;
    top: -$actionList-item-padding-vertical;
  }

  // hide divider if item is active
  .ActionList-item--nav-active {
    .ActionList-item-content--label:before,
    + .ActionList-item .ActionList-item-content--label:before {
      visibility: hidden;
    }
  }
}

.ActionList-item:first-of-type .ActionList-item-content--label:before,
.ActionList-sectionDivider + .ActionList-item .ActionList-item-content--label:before,
.ActionList-sectionHeader + .ActionList-item .ActionList-item-content--label:before {
  visibility: hidden;
}
