@import './action-list-helpers-temporary.scss';

@mixin focusOutline {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-accent-fg); // this color breaks convention
  position: relative;
  z-index: 1;
}

// <li>
.ActionList-item {
  list-style: none;
  position: relative;
  border-radius: $border-radius-2;

  &:hover,
  &:active {
    cursor: pointer;

    // a href
    .ActionList-item-content {
      text-decoration: none;
    }
  }

  // only hover li without list as children
  &:not(.ActionList-item--has-sub-item) {
    &:hover {
      background-color: $actionList-item-hover-bg;
      cursor: pointer;
    }

    &:active {
      background: $actionList-item-active-bg;

      @media screen and (prefers-reduced-motion: no-preference) {
        animation: ActionList-item-active-bg 4s forwards $ease-out-cubic;
      }

      @keyframes ActionList-item-active-bg {
        0% {
        }
        50% {
          transform: scale(1);
          box-shadow: inset 0 0 0 rgba(#000, 0.04);
        }
        100% {
          transform: scale(0.97);
          box-shadow: inset 0 3px 9px rgba(#000, 0.04);
        }
      }
    }

    &:hover,
    &:active {
      // hide dividers
      .ActionList-item-label:before,
      + .ActionList-item .ActionList-item-label:before {
        visibility: hidden;
      }
    }
  }

  // target contents of li if sub-item
  // has-sub-item will never be :active
  // collapse styles here
  &.ActionList-item--has-sub-item {
    // first child
    > .ActionList-item-content {
      &:hover {
        background-color: $actionList-item-hover-bg;
      }
    }
  }

  .ActionList-item--sub-group {
  }

  // active state [aria-current]

  &.ActionList-item--nav-active:not(.ActionList-item--danger) {
    background: $actionList-item-selected-bg;
    &:before,
    + .ActionList-item:before {
      visibility: hidden;
    }

    // blue accent line
    &:after {
      content: '';
      width: $spacer-1;
      height: $spacer-4;
      border-radius: $border-radius-1;
      position: absolute;
      left: -$actionList-item-padding-horizontal;
      top: calc(50% - (24px / 2));
      background: var(--color-accent-fg);
    }
  }

  // collapsible item [aria-expanded]

  &[aria-expanded='true'] {
    .ActionList-item-content--collapseIcon {
      transform: rotate(0deg);
      transition: transform linear $actionList-item-checkmark-transition-timing;
    }

    .ActionList-item--sub-group {
      display: block;
    }

    &.ActionList-item--has-sub-item {
      > .ActionList-item-content > .ActionList-item-label {
        font-weight: $font-weight-bold;
      }
    }
  }

  &[aria-expanded='false'] {
    .ActionList-item-content--collapseIcon {
      transform: rotate(180deg);
      transition: transform linear $actionList-item-checkmark-transition-timing;
    }

    .ActionList-item--sub-group {
      display: none;
    }
  }

  // variants

  &.ActionList-item--danger {
    .ActionList-item-label {
      color: var(--color-danger-fg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-danger-subtle);
      }
    }

    &:active {
      background: var(--color-danger-subtle);
    }
  }

  // if nested list exists, remove default padding
  .ActionList {
    padding: unset;
  }
}

// span or a href
.ActionList-item-content {
  display: grid;
  padding: $actionList-item-padding-vertical $actionList-item-padding-horizontal;
  grid-template-rows: minmax(20px, max-content); // 20px + 12px padding [32]
  grid-template-areas: 'leadingAction leadingVisual label trailingVisual trailingAction';
  grid-template-columns: min-content min-content minmax(min-content, auto) min-content min-content;
  align-items: center;
  position: relative;
  border-radius: $border-radius-2;
  font-weight: $font-weight-normal;
  color: var(--color-fg-default);
  user-select: none;
  transition: $actionList-item-bg-transition;

  // column-gap persists with empty grid-areas, margin applies when children exist
  & > :not(:last-child) {
    margin-right: $spacer-2;
  }

  &:focus-visible {
    @include focusOutline;
  }

  // sizes

  &.ActionList-item-content--sizeMedium {
    grid-template-rows: minmax(28px, max-content); // 28px + 12px padding [40]
  }

  &.ActionList-item-content--sizeLarge {
    grid-template-rows: minmax(36px, max-content); // 36px + 12px padding [48]
  }

  // On pointer:coarse (mobile), all list items are large
  @media (pointer: coarse) {
    grid-template-rows: minmax(36px, max-content);
  }

  // place children on grid

  .ActionList-item-action--leading {
    grid-area: leadingAction;
  }

  .ActionList-item-visual--leading {
    grid-area: leadingVisual;
  }

  .ActionList-item-label {
    grid-area: label;
  }

  .ActionList-item-visual--trailing {
    grid-area: trailingVisual;
  }

  .ActionList-item-action--trailing {
    grid-area: trailingAction;
  }

  &.ActionList-item-content--blockDescription {
    // if leading/trailing visual, align with first line of content
    .ActionList-item-visual {
      place-self: start;
    }
  }

  // TODO: better organize these for nesting
  // wrapper span
  .ActionList-item-label--blockDescription,
  .ActionList-item-label--inlineDescription {
    grid-area: label;
    display: flex;

    .ActionList-item-label {
      font-weight: $font-weight-bold;
    }
  }

  // block
  .ActionList-item-label--blockDescription {
    flex-direction: column;

    .ActionList-item-description {
      margin-top: $spacer-1;
    }
  }

  // inline
  .ActionList-item-label--inlineDescription {
    flex-direction: row;
    align-items: baseline;

    .ActionList-item-description {
      margin-left: $actionList-item-padding-horizontal;
    }
  }

  // description
  .ActionList-item-description {
    font-size: $font-size-small;
    line-height: $lh-default;
    color: var(--color-fg-muted);
  }
}

// helper for grid alignment with multi-line content
// span wrapping svg or text
.ActionList-item-visual,
.ActionList-item-action {
  min-height: 20px;
  display: flex;
  align-items: center;
  fill: var(--color-fg-muted);
  color: var(--color-fg-muted); // if visual is text
}

// text
.ActionList-item-label {
  font-weight: $font-weight-normal;
  color: var(--color-fg-default);
  position: relative; // for pseudo dividers
}

// nested groups

.ActionList-item--sub-item > .ActionList-item-content {
  font-size: $font-size-small;
}

// target ActionList-item--sub-item for padding-left to maintain :active :after state

// no leading visual

// 1 level nested
.ActionList-item--sub-group {
  .ActionList-item--sub-item {
    padding-left: 16px;
  }
}

// has 16px leading visual

// 1 level nested
.ActionList-item-visual--16 + .ActionList-item--sub-group {
  .ActionList-item--sub-item {
    padding-left: 24px;
  }
}

// has 20px leading visual

.ActionList-item-visual--20 + .ActionList-item--sub-group {
  .ActionList-item--sub-item {
    padding-left: 28px;
  }
}

// has 24px leading visual

.ActionList-item-visual--24 + .ActionList-item--sub-group {
  .ActionList-item--sub-item {
    padding-left: 32px;
  }
}
// single select

// maintain space on grid while check is hidden
// .ActionList-item-content--singleSelect {
//   .ActionList-item-check {
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0s linear $actionList-item-checkmark-transition-timing,
//       opacity $actionList-item-checkmark-transition-timing;
//   }
// }

// &[aria-checked='true'] {
//   .ActionList-item-content--singleSelect {
//     .ActionList-item-check {
//       visibility: visible;
//       opacity: 1;
//       transition: visibility 0s linear 0s, opacity $actionList-item-checkmark-transition-timing;
//     }
//   }
// }
