// waiting on https://github.com/primer/primitives/pull/256 for these primitives
$actionList-item-hover-bg: #f0f3f5;
$actionList-item-active-bg: #e8ebed;
$actionList-item-selected-bg: #f0f3f5;
$actionList-item-focus-bg: #e0e4e7;
$actionList-item-divider: #e9e9ed;

$actionList-item-danger-hover-bg: #fff0f2;
$actionList-item-danger-active-bg: #ffebed;
$actionList-item-danger-focus-bg: #ffdbe0;

// expanded from src/support/variables/layout.scss
// adds 12px to the scale as of https://github.com/github/design-systems/issues/992
//
// https://github.com/github/design-systems/issues/1272

$s-20: 20px;
$s-28: 28px;

// CSS Easing

$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
// $actionList-item-padding-vertical: (($spacer-5 - $s-20) / 2); hmmmmm
$actionList-item-padding-vertical: 6px;
$actionList-item-padding-horizontal: $spacer-2;
$actionList-item-bg-transition: background 33.333ms linear; // 2 frames on a 60hz monitor

$actionList-padding: $spacer-2;

// ul
.actionList {
  padding: $actionList-padding;
  list-style: none;

  ul,
  li {
    list-style: none;
  }
}

// li
.actionList-item {
  position: relative;
  // hide divider of item and next item on hover & active
  &:hover {
    .actionList-item-label:before,
    + .actionList-item .actionList-item-label:before {
      visibility: hidden;
    }
  }

  &:active {
    .actionList-item-label:before,
    + .actionList-item .actionList-item-label:before {
      visibility: hidden;
    }
  }

  // span or a href
  .actionList-item-content {
    display: grid;
    padding: $actionList-item-padding-vertical $actionList-item-padding-horizontal;
    grid-template-rows: minmax(20px, max-content); // 20px + 12px padding [32]
    grid-template-columns: minmax(min-content, 100%); // default one column
    column-gap: $spacer-2;
    align-items: center;
    position: relative;
    border-radius: $border-radius-2;
    font-weight: $font-weight-normal;
    color: var(--color-fg-default);
    user-select: none;
    transition: $actionList-item-bg-transition;
    // vini: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color
    // -webkit-tap-highlight-color: transparent;

    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-accent-fg); // this color breaks convention
      position: relative;
      z-index: 1;
    }

    // desktop
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $actionList-item-hover-bg;
        cursor: pointer;
      }
    }

    &:active {
      background: $actionList-item-active-bg;

      @media screen and (prefers-reduced-motion: no-preference) {
        animation: actionList-item-active-bg 4s forwards $ease-out-cubic;
      }

      @keyframes actionList-item-active-bg {
        0% {
        }
        50% {
          transform: scale(1);
          box-shadow: inset 0 0 0 rgba(#000, 0.04);
        }
        100% {
          transform: scale(0.97);
          box-shadow: inset 0 3px 9px rgba(#000, 0.04);
        }
      }
    }

    // sizes

    &.actionList-item-content--sizeMedium {
      grid-template-rows: minmax(28px, max-content); // 28px + 12px padding [40]
    }

    &.actionList-item-content--sizeLarge {
      grid-template-rows: minmax(36px, max-content); // 36px + 12px padding [48]
    }

    // On pointer:coarse (mobile), all list items are large
    @media (pointer: coarse) {
      grid-template-rows: minmax(36px, max-content);
    }

    // variants

    &.actionList-item-content--danger {
      .actionList-item-label {
        color: var(--color-danger-fg);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--color-danger-subtle);
        }
      }

      &:active {
        background: var(--color-danger-subtle);
      }
    }

    // children grid definitions

    &.actionList-item-content--blockDescription {
      // if leading/trailing visual, align with first line of content
      .actionList-item-visual {
        place-self: start;
      }
    }

    // leading visual
    &.actionList-item-content--leadingVisual {
      grid-template-columns: min-content minmax(min-content, auto);
    }

    // trailing visual
    &.actionList-item-content--trailingVisual {
      grid-template-columns: minmax(min-content, auto) min-content;
    }

    // leading + trailing visuals
    &.actionList-item-content--leadingVisual.actionList-item-content--trailingVisual {
      grid-template-columns: min-content minmax(min-content, auto) min-content;
    }

    // checkmark
    &.actionList-item-content--singleSelect,
    &.actionList-item-content--multiSelect {
      grid-template-columns: min-content minmax(min-content, auto);

      // checkmark + leading visual
      &.actionList-item-content--leadingVisual {
        grid-template-columns: min-content min-content minmax(min-content, auto);
      }

      // checkmark + trailing visual
      &.actionList-item-content--trailingVisual {
        grid-template-columns: min-content minmax(min-content, auto) min-content;
      }

      // checkmark + leading * trailing visuals
      &.actionList-item-content--leadingVisual.actionList-item-content--trailingVisual {
        grid-template-columns: min-content min-content minmax(min-content, auto) min-content;
      }
    }

    // helper for grid alignment with multi-line content
    // span wrapping svg or text
    .actionList-item-visual {
      min-height: 20px;
      display: flex;
      align-items: center;
      fill: var(--color-fg-muted);
      color: var(--color-fg-muted); // if visual is text
    }

    // text
    .actionList-item-label {
      font-weight: $font-weight-normal;
      color: var(--color-fg-default);
      position: relative; // for pseudo dividers
    }

    // wrapper span
    .actionList-item-label--blockDescription,
    .actionList-item-label--inlineDescription {
      display: flex;

      .actionList-item-label {
        font-weight: $font-weight-bold;
      }
    }

    // block
    .actionList-item-label--blockDescription {
      flex-direction: column;

      .actionList-item-description {
        margin-top: $spacer-1;
      }
    }

    // inline
    .actionList-item-label--inlineDescription {
      flex-direction: row;
      align-items: baseline;

      .actionList-item-description {
        margin-left: $spacer-2;
      }
    }

    // description
    .actionList-item-description {
      font-size: $font-size-small;
      line-height: $lh-default;
      color: var(--color-fg-muted);
    }
  }

  // single select

  // maintain space on grid while check is hidden
  .actionList-item-content--singleSelect {
    .actionList-item-check {
      visibility: hidden;
    }
  }

  &[aria-checked='true'] {
    .actionList-item-content--singleSelect {
      .actionList-item-check {
        visibility: visible;
      }
    }
  }

  // navigational

  // we could also use [aria-current] selector, and/or just conditionally add this class
  &.actionList-item--active {
    &:before,
    + .actionList-item:before {
      visibility: hidden;
    }

    // not: safegaurd that danger items aren't nav active
    // blue accent line
    > :not(.actionList-item-content--danger):after {
      content: '';
      width: $spacer-1;
      height: $spacer-4;
      border-radius: $border-radius-1;
      position: absolute;
      left: -8px;
      top: calc(50% - (24px / 2));
      background: var(--color-accent-fg);
    }

    .actionList-item-content:not(.actionList-item-content--danger) {
      background: $actionList-item-selected-bg;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: $actionList-item-active-bg;
        }
      }
    }
  }
}

// dividers

.actionList--divided .actionList-item-label:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: $actionList-item-divider;
  top: -$spacer-2;
}

.actionList-item:first-of-type .actionList-item-label:before,
.actionList-sectionDivider + .actionList-item .actionList-item-label:before,
.actionList-sectionHeader + .actionList-item .actionList-item-label:before {
  visibility: hidden;
}

// Section divider

.actionList-sectionDivider {
  height: 1px;
  background: $actionList-item-divider;
  border: 0;
  margin: ($spacer-2 - 1px) ($spacer-2 * -1) $spacer-2;
  padding: 0;
}

.actionList-sectionDivider--filled {
  height: $spacer-2;
  border-top: 1px solid var(--color-scale-gray-2);
  border-bottom: 1px solid var(--color-scale-gray-2);
  background: var(--color-scale-gray-1);
  box-sizing: border-box;
  margin: $spacer-2 ($spacer-2 * -1);
}

// Section header

.actionList-sectionHeader {
  // 32px total height considering 20px line-height
  padding: (($spacer-5 - $s-20) / 2) $spacer-2;
  font-size: 12px; // text-small

  // is this a variable in primer css?
  font-weight: 600;

  color: var(--color-fg-muted);
}

.actionList-sectionHeader--filled {
  background: var(--color-canvas-subtle);
  margin: $spacer-2 ($spacer-2 * -1);
  border-top: 1px solid var(--color-scale-gray-2);
  border-bottom: 1px solid var(--color-scale-gray-2);

  &:first-child {
    margin-top: 0;
  }
}

// Nested content
// Doesn't work with dividers

.actionList-item-nestedContent {
  padding-left: $spacer-3;
  padding-bottom: $spacer-2;
}
