// Text alignment
.text-right { text-align: right !important; }

.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.no-underline {
  text-decoration: none !important;
}

.text-small {
  font-size: 12px !important;
}
