// TODO: add fallbacks before merge

:root {
  accent-color: var(--color-accent-fg);
}

// group label, field, caption and error message
.FormGroup {
  display: inline-flex;
  flex-direction: column;
  gap: var(--primer-controlStack-medium-gap-condensed);
}

// fill container
.FormGroup--fullWidth {
  display: flex;

  // stretch field to fill container
  .FormControl-fieldWrap {
    flex-grow: 1;
  }
}

// <label>
.FormControl-label {
  font-size: var(--primer-text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--primer-text-body-lineHeight-medium);
  user-select: none;
}

// optional caption
.FormControl-caption {
  margin-bottom: 0;
  font-size: var(--primer-text-body-size-small);
  font-weight: var(--base-text-weight-normal);
  color: var(--color-fg-muted);
}

// shared among all form control components (input, select, textarea, checkbox, radio)
.FormControl {
  background-color: var(--color-canvas-default);
  border: solid var(--primer-borderWidth-thin) var(--color-border-default);

  &[disabled] {
    color: var(--color-primer-fg-disabled);
    background-color: var(--color-input-disabled-bg);
    border-color: var(--color-border-default);
    -webkit-text-fill-color: var(--color-primer-fg-disabled); // Fix for Safari
    opacity: 1; // Fix for Safari iOS
  }

  &[invalid] {
    border-color: var(--color-attention-emphasis);
  }

  // <select> and <input>
  &.FormControl--input,
  &.FormControl--select {
    height: var(--primer-control-medium-size);
    font-size: var(--primer-text-body-size-medium);
    line-height: var(--primer-text-body-lineHeight-medium);
    border-radius: var(--primer-borderRadius-medium);
    padding-inline: var(--primer-control-medium-paddingInline-condensed);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;

    &[disabled] {
      &::placeholder {
        color: var(--color-primer-fg-disabled);
      }
    }

    ::placeholder {
      color: var(--color-fg-subtle);
      opacity: 1;
    }
  }

  // sizes

  &.FormControl--small {
    height: var(--primer-control-small-size);
    font-size: var(--primer-text-body-size-small);
  }

  &.FormControl--medium {
    height: var(--primer-control-medium-size);
  }

  &.FormControl--large {
    height: var(--primer-control-large-size);
    padding-inline: var(--primer-control-large-paddingInline-normal);
  }
}

// pseudo input styles to allow for visual and action slots
// set input styles on -fieldWrap, remove styles from <input>
.FormControl-fieldWrap {
  display: inline-grid;
  grid-template-rows: auto;
  gap: var(--primer-controlStack-medium-gap-condensed);
  align-items: center;
  align-content: center;
  height: var(--primer-control-medium-size);
  border-radius: var(--primer-borderRadius-medium);
  box-shadow: var(--primer-borderInset-thin) var(--color-border-default);
  padding-inline: var(--primer-control-medium-paddingInline-condensed);
  background-color: var(--color-canvas-default);

  .FormControl {
    border: 0;
    padding: unset;
    background-color: transparent;

    &:focus-visible,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:focus-within {
    @include focusBoxShadowInset(2px, var(--color-accent-fg));
  }

  &.FormControl-fieldWrap--disabled {
    color: var(--color-primer-fg-disabled);
    background-color: var(--color-input-disabled-bg);
  }

  &.FormControl-fieldWrap--invalid {
    box-shadow: var(--primer-borderInset-thin) var(--color-danger-emphasis);
  }

  // if leadingVisual is present
  &.FormControl-fieldWrap--input-leadingVisual {
    grid-template-columns: var(--base-size-16) minmax(0, auto);

    .FormControl--input {
      padding-inline-start: calc(var(--base-size-16) + var(--primer-control-medium-paddingInline-condensed));
    }

    // if leadingVisual and trailingAction are present
    &.FormControl-fieldWrap--input-trailingAction {
      grid-template-columns: var(--base-size-16) minmax(0, auto) min-content;
    }
  }

  // if trailingAction is present
  &.FormControl-fieldWrap--input-trailingAction {
    grid-template-columns: minmax(0, auto) min-content;
  }

  &.FormControl-fieldWrap--input {
    grid-template-rows: max-content;

    .FormControl--input-leadingVisual {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    // <input> spans entire grid
    .FormControl--input {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    // TODO: replace with new Button component
    // trailingAction will auto fill last grid slot
    .FormControl--input-trailingAction {
      grid-row: 1;
      display: grid;
      width: calc(var(--primer-control-medium-size) - 4px);
      height: calc(var(--primer-control-medium-size) - 4px);
      color: var(--color-fg-muted);
      cursor: pointer;
      user-select: none;
      background-color: transparent;
      border: solid var(--primer-borderWidth-thin) transparent;
      border-radius: var(--primer-borderRadius-medium);
      transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      transition-property: color, background-color, border-color;
      place-content: center;
      // optically align the icon with field padding
      margin-right: calc(calc(var(--primer-control-medium-paddingInline-condensed) - 0.125rem) * -1);
      padding: 0;

      &:hover {
        background-color: var(--color-btn-hover-bg);
        border: $border-width $border-style var(--color-btn-hover-bg);
      }

      &[disabled] {
        color: var(--color-primer-fg-disabled);
        pointer-events: none;
      }
    }

    // sizes

    // these selectors can be refactored to use :has()
    &.FormControl--small {
      height: var(--primer-control-small-size);
      font-size: var(--primer-text-body-size-small);

      .FormControl--input-trailingAction {
        width: calc(var(--primer-control-small-size) - var(--base-size-8));
        height: calc(var(--primer-control-small-size) - var(--base-size-8));
      }
    }

    &.FormControl--medium {
      height: var(--primer-control-medium-size);

      .FormControl--input-trailingAction {
        width: calc(var(--primer-control-medium-size) - var(--base-size-8));
        height: calc(var(--primer-control-medium-size) - var(--base-size-8));
      }
    }

    &.FormControl--large {
      height: var(--primer-control-large-size);
      padding-inline: var(--primer-control-large-paddingInline-normal);

      .FormControl--input-trailingAction {
        width: calc(var(--primer-control-large-size) - var(--base-size-8));
        height: calc(var(--primer-control-large-size) - var(--base-size-8));
        margin-right: calc(calc(var(--primer-control-medium-paddingInline-normal) - 0.125rem) * -1);
      }
    }
  }
}

.FormControl-fieldWrap--select {
  grid-template-columns: minmax(0, auto) var(--base-size-16);
  padding-inline-end: var(--primer-control-medium-paddingInline-condensed);

  // mask allows for background-color to respect themes
  &::after {
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=');
    background-color: var(--color-fg-muted);
    height: var(--base-size-16);
    width: var(--base-size-16);
    mask-size: cover;
    pointer-events: none;
    grid-column: 2;
    grid-row: 1;
    place-self: center end;
  }

  // spans entire grid below mask
  .FormControl {
    grid-column: 1/-1;
    grid-row: 1;
    appearance: none;
    padding-right: var(--base-size-16);
  }
}

.FormGroup--checkbox {
  display: inline-grid;
  grid-template-areas: 'field label' '. caption';

  .FormControl-label {
    grid-area: label;
  }

  .FormControl-caption {
    grid-area: caption;
  }
}

// checkbox + radio specific styles
.FormControl--checkbox,
.FormControl--radio {
  position: absolute;
  width: var(--base-size-16);
  height: var(--base-size-16);
  opacity: 0;

  &:checked {
    + .FormControl--checkbox-svg {
      .FormControl--checkbox-background {
        fill: var(--color-accent-fg);
        stroke: var(--color-accent-fg);
      }

      .FormControl--checkbox-check {
        fill: var(--color-fg-on-emphasis);
        visibility: visible;
        opacity: 1;
        transition: visibility 0 linear 0, opacity 50ms;

        @media screen and (prefers-reduced-motion: no-preference) {
          animation: checkmarkIn 200ms cubic-bezier(0.11, 0, 0.5, 0) forwards;
        }
      }
    }
  }

  @keyframes checkmarkIn {
    from {
      clip-path: inset(16px 0 0 0);
    }

    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes checkmarkOut {
    from {
      clip-path: inset(0 0 0 0);
    }

    to {
      clip-path: inset(16px 0 0 0);
    }
  }
}

.FormControl--checkbox-svg {
  margin-top: 0.125rem;
  cursor: pointer;
  width: var(--base-size-16);
  height: var(--base-size-16);

  .FormControl--checkbox-background {
    fill: var(--color-canvas-default);
    stroke: var(--color-border-default);
  }

  .FormControl--checkbox-check {
    fill: transparent;
    opacity: 0;

    @media screen and (prefers-reduced-motion: no-preference) {
      animation: checkmarkOut 200ms cubic-bezier(0.11, 0, 0.5, 0) forwards;
    }
  }
}
