// Tab like radio group

.radio-group {
  @include clearfix;
}

.radio-label {
  float: left;
  padding: var(--base-size-6) var(--base-size-16) var(--base-size-6) calc(var(--base-size-16) + var(--base-size-12) + var(--base-size-8)); // 12px is the size of the radio-input
  margin-left: -1px;
  font-size: var(--body-font-size);
  line-height: 20px; // Specifically not inherit our `<body>` default
  color: var(--fgColor-default, var(--color-fg-default));
  cursor: pointer;
  border: var(--borderWidth-default) solid var(--borderColor-default, var(--color-border-default));

  :checked + & {
    position: relative;
    z-index: 1;
    border-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
  }

  &:first-of-type {
    margin-left: 0;
    border-top-left-radius: var(--borderRadius-default);
    border-bottom-left-radius: var(--borderRadius-default);
  }

  &:last-of-type {
    border-top-right-radius: var(--borderRadius-default);
    border-bottom-right-radius: var(--borderRadius-default);
  }

  .octicon {
    margin-left: var(--base-size-4);
    color: var(--fgColor-muted, var(--color-fg-subtle));
  }
}

.radio-input {
  z-index: 3;
  float: left;
  margin: 10px calc(var(--base-size-32) * -1) 0 var(--base-size-16);

  &:disabled {
    position: relative; // enables z-index

    + .radio-label {
      color: var(--fgColor-disabled, var(--color-primer-fg-disabled));
      cursor: default;
      background-color: var(--bgColor-neutral-muted, var(--color-neutral-subtle));

      .octicon {
        color: inherit;
      }
    }
  }
}
