.link-mktg {
  &:active {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  .octicon {
    position: relative;
    top: -1px;
    left: 0;
    margin-right: -$spacer-3;
    transition: transform 0.2s;
    transform: translateX(0);
  }
}

.link-mktg-inner {
  &::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    width: calc(100% - 0.15em);
    height: 2px;
    pointer-events: none;
    content: '';
    background-color: currentColor;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  .link-mktg:hover &::after,
  .link-mktg:focus &::after,
  .link-mktg:active &::after {
    transform: scaleX(1);
  }
}

.link-mktg-symbol-large {
  position: relative;
  top: -1px;
  left: -2px;
  display: inline-block;
  margin-bottom: -2px;
}