.link-mktg {
  display: inline-block;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &::after,
  &.link-emphasis-mktg::before {
    position: absolute;
    bottom: -0.15em;
    left: 0;
    display: block;
    width: calc(100% - 1.25em);
    height: 2px;
    pointer-events: none;
    content: '';
    // stylelint-disable-next-line primer/colors
    background-color: currentColor;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  &.link-emphasis-mktg::before {
    transform: scaleX(1);
    opacity: 0.2;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      transform: scaleX(1);
    }
  }

  .octicon {
    width: 1em;
    height: 1em;
  }

  .octicon-chevrow {
    transition: transform 0.2s;
    transform: translateX(-4px);

    // stylelint-disable-next-line selector-max-type selector-max-specificity
    path:last-child {
      stroke-dasharray: 10;
      stroke-dashoffset: 10;
      transition: stroke-dashoffset 0.2s;
    }
  }

  &:hover,
  &:focus {
    .octicon-chevrow {
      transform: translateX(0);

      // stylelint-disable-next-line selector-max-type selector-max-specificity
      path:last-child {
        stroke-dashoffset: 20;
      }
    }
  }

  &:active {
    outline: none;

    .octicon-chevrow {
      transform: translateX(6px);
    }
  }
}
