// Text hiding for image based text replacement.
// Higher performance than -9999px because it only renders
// the size of the actual text, not a full 9999px box.
@mixin hide-text() {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// Heading mixins for use within components
// These match heading utilities in utilities/typography
@mixin h1 {
  font-size: $h1-size;
  font-weight: $font-weight-bold;
  font: var(--primer-text-title-shorthand-large, 600 32px/calc(48/32) $body-font);
}

@mixin h2 {
  font-size: $h2-size;
  font-weight: $font-weight-bold;
  font: var(--primer-text-title-shorthand-large, 600 20px/calc(32/20) $body-font);
}

@mixin h3 {
  font-size: $h3-size;
  font-weight: $font-weight-bold;
  font: var(--primer-text-title-shorthand-large, 400 20px/calc(32/20) $body-font);
}

@mixin h4 {
  font-size: var(--primer-text-body-size-large, 16px);
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: var(--primer-text-body-lineHeight-large, calc(24/16))
}

@mixin h5 {
  font-size: var(--primer-text-body-size-medium, 14px);
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: var(--primer-text-body-lineHeight-medium, calc(20/14));
}

@mixin h6 {
  font-size: var(--primer-text-body-size-small, 12px);
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: var(--primer-text-body-lineHeight-small, calc(20/12));
}

// Responsive heading mixins
// There are no responsive mixins for h4-h6 because they are small
// and don't need to be smaller on mobile.
@mixin f1-responsive {
  font-size: var(--primer-text-title-size-large, 26px);
  line-height: var(--primer-text-title-lineHeight-large, calc(48/32));

  // 32px on desktop
  @include breakpoint(md) {
    font-size: var(--primer-text-title-size-large, 32px);
    line-height: var(--primer-text-title-lineHeight-large);
  }
}

@mixin f2-responsive {
  font-size: var(--primer-text-title-size-medium, 22px);
  line-height: var(--primer-text-title-lineHeight-medium);

  // 24px on desktop
  @include breakpoint(md) {
    font-size: var(--primer-text-title-size-medium, 24px);
    line-height: var(--primer-text-title-lineHeight-medium);
  }
}

@mixin f3-responsive {
  font-size: var(--primer-text-title-size-medium, 18px);
  line-height: var(--primer-text-title-lineHeight-medium);

  // 20px on desktop
  @include breakpoint(md) {
    font-size: var(--primer-text-subtitle-size, 20px);
    line-height: var(--primer-text-subtitle-lineHeight);
  }
}

// These use the mixins from above for responsive heading sizes.
// The following mixins can be used where it's convenient or necessary to
// couple the responsive font-size with the font-weight.
@mixin h1-responsive {
  @include f1-responsive;

  font-weight: var(--base-text-weight-semibold, 600);
}

@mixin h2-responsive {
  @include f2-responsive;

  font-weight: var(--base-text-weight-semibold, 600);
}

@mixin h3-responsive {
  @include f3-responsive;

  font-weight: var(--base-text-weight-semibold, 600);
}
