// A clearfix suitable for modern browsers.
//
// Compatibility untested.
@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}
