// Creates a linear gradient background, from top to bottom.
//
// $start - The color hex at the top.
// $end   - The color hex at the bottom.
//
// Compatibility untested.
@mixin gradient($start: #fafafa, $end: #eaeaea) {
  background-color: $end;
  // FF 3.6+
  background-image: -moz-linear-gradient($start, $end);
  // Safari 5.1+, Chrome 10+
  background-image: -webkit-linear-gradient($start, $end);
  background-image: linear-gradient($start, $end);
  background-repeat: repeat-x;
}
