$siteWidth: 980px !default;

// Brand colors
//
// Styleguide 11.1
$brand-blue:       #4183c4 !default;
$brand-gray-light: #999    !default;
$brand-gray:       #666    !default;
$brand-gray-dark:  #333    !default;
$brand-green:      #6cc644 !default;
$brand-red:        #bd2c00 !default;
$brand-orange:     #f93    !default;
$brand-purple:     #6e5494 !default;

// The base body font, great everywhere.
$body-font: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// The base body size
$body-font-size: 13px !default;

// This is the font stack we use to display monospace.
//
// Consolas                     - Windows
// "Liberation Mono"            - Linux
// Menlo                        - Mac
// Courier                      - Windows, Mac, Linux
// monospace                    - Everywhere
//
// Styleguide 3.1
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// z-index variables
//
// $minorZ        - for use with small tweaks, like positioning elements
// $menuZ         - for use with Menus, Dropdowns, popups
// $modalZ        - for use with fullscreen absolute top elements
//
// Styleguide 3.2
$minorZ: 2;
$menuZ: 5;
$modalZ: 10;

// State indicators.
//
// No styleguide reference.
$status-open:     $brand-green;
$status-closed:   $brand-red;
$status-reverted: $status-closed;
$status-merged:   $brand-purple;
$status-renamed:  #fffa5d;
$status-pending:  #cea61b;

// Repository type colors
$repo-private-text: #a1882b;
$repo-private-bg:   #fff9ea;
$repo-private-icon: #e9dba5;
