// Site width is 920px on most logged in pages, some marketing pages are 960px
$siteWidth: 920px !default;

// Brand colors
//
// Styleguide 11.1
$brand-linkBlue:  #4183c4 !default;
$brand-lightGrey: #999    !default;
$brand-medGrey:   #666    !default;
$brand-darkGrey:  #333    !default;
$brand-green:     #6CC644 !default;
$brand-red:       #BD2C00 !default;
$brand-orange:    #f93    !default;

// The base body font, great everywhere.
$bodyFont: Helvetica, arial, freesans, clean, sans-serif !default;

// The base body size
$bodySize: 13px !default;

// This is the font stack we use to display monospace.
//
// Consolas                     - Windows, Mac
// "Liberation Mono"            - Linux
// Courier                      - Windows, Mac, Linux
// monospace                    - Everywhere
//
// Styleguide 3.1
$monoFont: Monaco, "Liberation Mono", Courier, monospace !default;

// This is the font stack we use to display code.
//
// Consolas                     - Windows, Mac
// "Liberation Mono"            - Linux
// Courier                      - Windows, Mac, Linux
// monospace                    - Everywhere
//
// Styleguide 3.3
$codeFont: Consolas, "Liberation Mono", Courier, monospace !default;

// z-index variables
//
// $minorZ        - for use with small tweaks, like positioning elements
// $menuZ         - for use with Menus, Dropdowns, popups
// $modalZ        - for use with fullscreen absolute top elements
//
// Sytleguide 3.2
$minorZ: 2;
$menuZ: 5;
$modalZ: 10;
