@import "primer/mixins/variables";
@import "primer/mixins/clearfix";
@import "primer/mixins/box-sizing";

* {
  @include box-sizing;
}

input,
select,
textarea,
button {
  font: #{$bodySize}/1.4 $bodyFont;
}

body {
  min-width: 1020px; // 980px container + 20px padding on either side
  font: #{$bodySize}/1.4 $bodyFont;
  color: $brand-darkGrey;
  background-color: #fff;
}

a {
  color: $brand-blue;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

// Horizontal lines
//
// TODO-MDO: Remove `.rule` from everywhere and replace with `<hr>`s
hr,
.rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  @include clearfix();
}
