// size
// label placement
// hidden label
// placeholder
// leading visual
// clear button
// invisible?
// focus-within
// state

.FormControl {
  height: var(--primer-control-medium-size);
  font-size: var(--primer-text-body-size-medium);
  line-height: var(--primer-text-body-lineHeight-medium);
  border: solid var(--primer-borderWidth-thin) var(--color-border-default);
  border-radius: var(--primer-borderRadius-medium);
  padding-inline: var(--primer-control-medium-paddingInline-normal);
  background-color: var(--color-canvas-default);
}

// size

.FormControl--small {
  height: var(--primer-control-small-size);
}

.FormControl--medium {
  height: var(--primer-control-medium-size);
}

.FormControl--large {
  height: var(--primer-control-large-size);
}

.FormControl-label {
  font-size: var(--primer-text-body-size-medium);
  font-weight: var(--base-text-weight-semibold);
  line-height: var(--primer-text-body-lineHeight-medium);
}

.FormGroup {
  display: grid;
  gap: var(--primer-controlStack-medium-gap-condensed);
}

.FormControl-fieldWrap {
  display: inline-grid;
  grid-template-areas: 'leadingVisual input trailingAction';
  grid-template-columns: min-content minmax(0, auto) min-content;
  grid-template-rows: var(--primer-control-medium-size);
  gap: var(--primer-controlStack-medium-gap-condensed);
  align-items: center;
  height: var(--primer-control-medium-size);
  //   border: solid var(--primer-borderWidth-thin) var(--color-border-default);
  border-radius: var(--primer-borderRadius-medium);
  box-shadow: var(--primer-borderInset-thin) var(--color-border-default);
  padding-inline: var(--primer-control-medium-paddingInline-normal);
  overflow: hidden;
  background-color: var(--color-canvas-default);
  padding-bottom: 1px; // optical alignment for firefox

  .FormControl-leadingVisual {
    grid-area: leadingVisual;
  }

  .FormControl {
    grid-area: input;
    border: 0;
    padding: unset;
    height: calc(var(--primer-control-medium-size) - 2px);
    background-color: transparent;

    &:focus-visible,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .FormControl-trailingAction {
    grid-area: trailingAction;
    display: grid;
    width: calc(var(--primer-control-medium-size) - 2px);
    height: calc(var(--primer-control-medium-size) - 2px);
    color: var(--color-fg-muted);
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: solid var(--primer-borderWidth-thin) transparent;
    border-radius: var(--primer-borderRadius-medium);
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    place-content: center;
    margin-right: calc(var(--primer-control-medium-paddingInline-normal) * -1);

    &:hover {
      background-color: var(--color-btn-hover-bg);
      border: $border-width $border-style var(--color-btn-hover-bg);
    }
  }

  &:focus-within {
    // box-shadow: var(--primer-borderInset-thin) var(--color-accent-fg);

    @include focusBoxShadowInset(2px, var(--color-accent-fg));
  }
}
