// Toast

.Toast {
  display: flex;
  background-color: white;
  color: $black;
  padding: $spacer-3;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px $border-gray-dark, $box-shadow-medium;
  margin: $spacer-2;
  transition: 0.2s ease;

  @include breakpoint(sm) {
    max-width: 450px;
    width: max-content;
    margin: $spacer-3;
  }
}

.Toast-icon {
  margin-right: $spacer-2;
  display: flex;
  align-items: center;
}


// Temporarily splitting this out
// to play with static styles.
.Toast-animated {
  position: fixed;
  bottom: -100px;
  left: 0;
  animation-name: toast;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

// Pop up animation
@keyframes toast {
  0%   {bottom:-100px;}
  10%  {bottom:0px;}
  90%  {bottom:0px;}
  100% {bottom:-100px;}
}

.Toast-block-default,
.Toast-block-error,
.Toast-block-warning,
.Toast-block-success {
  padding: 0;

  .Toast-icon {
    color: white;
    padding: $spacer-3;
    margin-right: 0;
    fill: white;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .Toast-content {
    padding: $spacer-3;
  }

  .Toast-dismiss {
    padding: $spacer-3;
    align-self: center;

    &:hover {
      cursor: pointer;
      fill: $text-gray;
    }
  }
}

.Toast-block-default {

  .Toast-icon {
    background-color: $blue-500;
  }
}

.Toast-block-error {

  .Toast-icon {
    background-color: $red-500;
  }
}

.Toast-block-warning {

  .Toast-icon {
    background-color: $yellow-600;
    fill: $gray-900;
  }
}

.Toast-block-success {

  .Toast-icon {
    background-color: $green-500;
  }
}
