// Toast

.Toast {
  display: flex;
  background-color: white;
  color: $black;
  padding: $spacer-3;
  border-radius: 3px;
  border: 1px solid $black-fade-15;
  margin: $spacer-2;
  box-shadow: $box-shadow-medium;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: $box-shadow-large;
  }

  @include breakpoint(sm) {
    max-width: 500px;
    width: max-content;
    margin: $spacer-3;
  }
}

.Toast-octicon {
  margin-right: $spacer-2;
}

.Toast-action {
  margin-top: $spacer-2;
}

.Toast-dismiss {
  margin-left: $spacer-3;
  color: $text-gray;

  &:hover {
    cursor: pointer;
    color: $text-gray-dark;
  }
}


// Temporarily splitting this out
// to play with static styles.
.Toast-animated {
  position: fixed;
  bottom: -100px;
  left: 0;
  animation-name: toast;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

// Pop up animation
@keyframes toast {
  0%   {bottom:-100px;}
  10%  {bottom:0px;}
  90%  {bottom:0px;}
  100% {bottom:-100px;}
}




// Style options
// -----

// 1. Classic GitHub style

.Toast-classic-default {
  background-color: $blue-100;
  color: $blue-900;
}

.Toast-classic-error {
  background-color: $red-100;
  color: $red-900;
}

.Toast-classic-warning {
  background-color: $yellow-100;
  color: $yellow-900;
}

.Toast-classic-success {
  background-color: $green-100;
  color: $green-900;
}



// 2. Light style

.Toast-light-default {
  border-top: 4px solid $blue-500;

  .Toast-octicon {
    color: $blue-500;
  }
}

.Toast-light-error {
  border-top: 4px solid $red-500;

  .Toast-octicon {
    color: $red-500;
  }
}

.Toast-light-warning {
  border-top: 4px solid $yellow-600;

  .Toast-octicon {
    color: $yellow-800;
  }
}

.Toast-light-success {
  border-top: 4px solid $green-500;

  .Toast-octicon {
    color: $green-500;
  }
}

// 3. Bright style

.Toast-bright-default {
  background-color: $blue-500;
  color: white;

  .Toast-octicon {
    color: white;
  }

  .Toast-dismiss {
    color: white;
  }
}


.Toast-bright-error {
  background-color: $red-500;
  color: white;

  .Toast-octicon {
    color: white;
  }

  .Toast-dismiss {
    color: white;
  }
}

.Toast-bright-warning {
  background-color: $yellow-500;
  color: black;

  .Toast-octicon {
    color: black;
  }

  .Toast-dismiss {
    color: black;
  }
}

.Toast-bright-success {
  background-color: $green-500;
  color: white;

  .Toast-octicon {
    color: white;
  }

  .Toast-dismiss {
    color: white;
  }
}

// 4. Block style

.Toast-block-default,
.Toast-block-error,
.Toast-block-warning,
.Toast-block-success {
  padding: 0;

  .Toast-octicon {
    color: white;
    padding: $spacer-3;
    margin-right: 0;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .Toast-content {
    padding: $spacer-3;
  }

  .Toast-dismiss {
    padding: $spacer-3 $spacer-3 $spacer-3 0;
    margin: 0;
  }

  .Toast-action {
    margin: auto $spacer-3 auto $spacer-2;
  }
}

.Toast-block-default {
  .Toast-octicon {
    background-color: $blue-500;
  }
}

.Toast-block-error {

  .Toast-octicon {
    background-color: $red-500;
  }
}

.Toast-block-warning {

  .Toast-octicon {
    background-color: $yellow-600;
    color: black;
  }
}

.Toast-block-success {

  .Toast-octicon {
    background-color: $green-500;
  }
}
