// color blocks

.colorBlockWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.colorBlockItem {
  aspect-ratio: 1/1;
  width: 100px;
}

.toc {
  list-style: none !important;
  padding: 0 !important;
  li {
    margin-left: 0 !important;
  }
}
