// Site width is 920px on most logged in pages, some marketing pages are 960px
$siteWidth: 920px;

// Basic colors
$linkBlue: #4183c4;
$bodyColor: #333;
$greenOpen: #6CC644;
$redClosed: #BD2C00;

// The base body font, great everywhere.
$bodyFont: Helvetica, arial, freesans, clean, sans-serif;

// The base body size
$bodySize: 13px;

// This is the font stack we use to display code.
//
// Consolas                     - Windows, Mac
// Menlo                        - Mac
// "Liberation Mono"            - Linux
// Courier                      - Windows, Mac, Linux
// monospace                    - Everywhere
//
// Styleguide 3.1
$monoFont: Consolas, Menlo, "Liberation Mono", Courier, monospace;

// A clearfix suitable for modern browsers.
//
// Compatibility untested.
@mixin clearfix{
  &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }
  display: inline-block;
  display: block;
}

// Creates a linear gradient background, from top to bottom.
//
// $start - The color hex at the top.
// $end   - The color hex at the bottom.
//
// Compatibility untested.
@mixin gradient($start: #fafafa, $end: #eaeaea){
  background:$start;
  // FF 3.6+
  background: -moz-linear-gradient(#{$start}, #{$end});
  // IE10
  // background: -ms-linear-gradient(#{$start}, #{$end});
  // Safari 5.1+, Chrome 10+
  background: -webkit-linear-gradient(#{$start}, #{$end});
  // IE8+
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$end}')";
  // background: linear-gradient(#{$start}, #{$end});
}

// Has all the necessities for font icons
//
// Compatibility untested.
@mixin font-icon-stuff() {
  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// Browser compatibility for box-sizing.
//
// Compatibility untested.
@mixin box-sizing($sizing: border-box) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

// Browser compatibility for user-select.
//
// Compatibility untested.
@mixin user-select($select: none) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
