// Has all the necessities for font icons
//
// Compatibility untested.
@mixin font-icon-stuff() {
  font-family: 'Octicons Regular';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
