// Site width is 920px on most logged in pages, some marketing pages are 960px
$siteWidth: 920px !default;

// Basic colors
$linkBlue: #4183c4 !default;
$bodyColor: #333 !default;
$greenOpen: #6CC644 !default;
$redClosed: #BD2C00 !default;

// The base body font, great everywhere.
$bodyFont: Helvetica, arial, freesans, clean, sans-serif !default;

// The base body size
$bodySize: 13px !default;

// This is the font stack we use to display code.
//
// Consolas                     - Windows, Mac
// "Liberation Mono"            - Linux
// Courier                      - Windows, Mac, Linux
// monospace                    - Everywhere
//
// Styleguide 3.1
$monoFont: Consolas, "Liberation Mono", Courier, monospace !default;
