.Popover {
  position: absolute;
  z-index: 100;
}

.Popover-message {
  position: relative;
  width: 232px;
  margin-right: auto;
  margin-left: auto;
}

// Top & Bottom: Right-oriented carets
.Popover-message--top-right,
.Popover-message--bottom-right {
  right: -9px;
  margin-right: 0;
}

// Top & Bottom: Left-oriented carets
.Popover-message--top-left,
.Popover-message--bottom-left {
  left: -9px;
  margin-left: 0;
}

.Popover-message--large {

  @include breakpoint(sm) {
    min-width: 320px;
  }
}
