// SegmentedControl

.SegmentedControl {
  display: inline-flex;
  background-color: var(--color-neutral-muted);
  border-radius: $border-radius;
  // stylelint-disable-next-line primer/box-shadow
  box-shadow: inset 0 0 0 $border-width var(--color-border-default);
}

// Item -----------------------------------------

.SegmentedControl-item {
  position: relative;

  &[aria-pressed='true'] {
    background-color: var(--color-btn-bg);
    box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
  }

  &:not([aria-pressed='true']) {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: var(--color-action-list-item-default-hover-bg); // TODO: Replace
    }

    &:active {
      background-color: var(--color-action-list-item-default-active-bg); // TODO: Replace
    }
  }

  & + .SegmentedControl-item::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 5px;
    height: 16px; // TODO: Replace
    border-left: $border-width $border-style var(--color-border-default);
  }

  // Remove dividers
  &[aria-pressed='true'] + .SegmentedControl-item::before {
    border-color: transparent;
  }

  &:hover,
  &:active {
    &::before,
    & + .SegmentedControl-item::before {
      border-color: transparent;
    }
  }
}

// Variants -----------------------------------------

.SegmentedControl--fullWidth {
  display: flex;
  .SegmentedControl-item {
    flex: 1;
  }
}
