// SegmentedControl

.SegmentedControl {
  display: inline-flex;
  background-color: var(--color-scale-gray-1); // TODO: Create Primitive
  // stylelint-disable-next-line primer/borders
  border-radius: var(--primer-borderRadius-medium, $border-radius);
  // stylelint-disable-next-line primer/box-shadow
  box-shadow: var(--primer-borderInset-thin, inset 0 0 0 $border-width) var(--color-border-default);
}

// Button -----------------------------------------

.SegmentedControl-button {
  position: relative;
  display: inline-flex;
  height: var(--primer-control-medium-size, 32px);
  // stylelint-disable-next-line primer/spacing
  padding: 0 var(--primer-control-medium-paddingInline-normal, 12px);
  // stylelint-disable-next-line primer/typography
  font-size: var(--primer-text-body-size-medium, $body-font-size);
  color: var(--color-fg-default);
  background-color: transparent;
  // stylelint-disable-next-line primer/borders
  border: var(--primer-borderWidth-thin, $border-width) $border-style transparent;
  // stylelint-disable-next-line primer/borders
  border-radius: var(--primer-borderRadius-medium, $border-radius);
  transition: border-color, background-color 180ms cubic-bezier(0.3, 0.1, 0.5, 1);
  align-items: center;
  justify-content: center;
  gap: var(--primer-control-medium-gap, $spacer-2);

  &:hover {
    background-color: var(--color-neutral-muted); // TODO: Replace?
    transition-duration: 120ms;
  }

  &:active {
    // stylelint-disable-next-line primer/colors
    background-color: hsl(210deg 13% 72% / 0.4); // TODO: Replace
    border-color: var(--color-scale-gray-3); // TODO: Remove?
    transition-duration: 60ms;
  }

  // Pressed

  // TODO: Change to aria-current or aria-selected?
  &[aria-pressed='true'] {
    // stylelint-disable-next-line primer/typography
    font-weight: var(--base-text-weight-semibold, $font-weight-bold);
    background-color: var(--color-canvas-subtle);  // TODO: Create Primitive?
    border-color: var(--color-scale-gray-4); // TODO: Create Primitive
    box-shadow: var(--color-shadow-medium);
  }

  // Divider

  // stylelint-disable-next-line scss/selector-no-redundant-nesting-selector
  & + .SegmentedControl-button::before {
    position: absolute;
    top: 1px; // Account for border width
    left: -1px;
    height: var(--primer-text-body-size-large, 16px);
    // stylelint-disable-next-line primer/spacing
    margin-top: var(--primer-control-medium-paddingBlock, 6px);
    content: '';
    // stylelint-disable-next-line primer/borders
    border-left: var(--primer-borderWidth-thin, $border-width) $border-style var(--color-border-default);
    transition: border-color 180ms cubic-bezier(0.3, 0.1, 0.5, 1);
  }

  // Remove dividers

  &[aria-pressed='true'] + .SegmentedControl-button::before {
    border-color: transparent;
  }

  &:hover,
  &:active,
  &:focus-visible {
    &::before,
    + .SegmentedControl-button::before {
      border-color: transparent;
      transition-duration: 60ms;
    }
  }
}

// Icon -----------------------------------------

.SegmentedControl-leadingIcon {
  color: var(--color-fg-muted);
}

// Label -----------------------------------------

.SegmentedControl-label {
  // renders a visibly hidden "copy" of the label in bold, reserving box space for when label becomes bold on selected
  &[data-content]::before {
    display: block;
    height: 0;
    // stylelint-disable-next-line primer/typography
    font-weight: var(--base-text-weight-semibold, $font-weight-bold);
    visibility: hidden;
    content: attr(data-content);
  }
}

// Variants -----------------------------------------

// disabled
.SegmentedControl--disabled { // TODO: Replace with aria-disabled?
  .SegmentedControl-button {
    color: var(--color-primer-fg-disabled);
    pointer-events: none;
    cursor: default;

    &[aria-pressed='true'] {
      border-color: var(--color-border-default);
    }
  }

  .SegmentedControl-leadingIcon {
    color: var(--color-primer-fg-disabled);
  }
}

.SegmentedControl-button--isLoading.SegmentedControl-button--isLoading {
  pointer-events: none;
  cursor: default;

  .SegmentedControl-label,
  .SegmentedControl-leadingIcon {
    color: var(--color-primer-fg-disabled);
  }
}

// fullWidth
.SegmentedControl--fullWidth {
  display: flex;

  .SegmentedControl-button {
    flex: 1;
  }
}

// Icon only
.SegmentedControl-button--iconOnly {
  width: var(--primer-control-medium-size, 32px);
  padding-right: 0;
  padding-left: 0;
}

// Icon only when narrow
@media (max-width: $width-md) { // TODO: use token
  .SegmentedControl--iconOnly-whenNarrow {
    .SegmentedControl-button {
      width: var(--primer-control-medium-size, 32px);
      padding-right: 0;
      padding-left: 0;
    }

    .SegmentedControl-label {
      display: none;
    }
  }
}

// Increase touch target
@media (pointer: coarse) {
  .SegmentedControl-button {
    &::after {
      @include minTouchTarget($min-height: 44px);
    }
  }
}
