// stylelint-disable selector-max-specificity

// Filters list
//
// A vertical list of filters.
.filter-list {
  list-style-type: none;

  &.small .filter-item {
    // stylelint-disable-next-line primer/spacing
    padding: 6px 12px;
    font-size: $font-size-small;
  }

  &.pjax-active .filter-item {
    color: var(--fgColor-muted, var(--color-fg-muted));
    background-color: transparent;

    &.pjax-active {
      color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
      background-color: var(--bgColor-accent-emphasis, var(--color-accent-emphasis));
    }
  }
}

.filter-item {
  position: relative;
  display: block;
  padding: $spacer-2 $spacer-3;
  margin-bottom: $spacer-1;
  overflow: hidden;
  font-size: $h5-size;
  color: var(--fgColor-muted, var(--color-fg-muted));
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  }

  &.selected,
  &[aria-selected='true'],
  &[aria-current]:not([aria-current='false']) {
    color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
    background-color: var(--bgColor-accent-emphasis, var(--color-accent-emphasis));

    // fallback :focus state
    &:focus {
      @include focusOutlineOnEmphasis;

      // remove fallback :focus if :focus-visible is supported
      &:not(:focus-visible) {
        outline: solid 1px transparent;
        box-shadow: none;
      }
    }

    // default focus state
    &:focus-visible {
      @include focusOutlineOnEmphasis;
    }
  }

  .count {
    float: right;
    font-weight: $font-weight-bold;
  }

  .bar {
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2px;
    z-index: -1;
    display: inline-block;
    background-color: var(--bgColor-neutral-muted, var(--color-neutral-subtle));
  }
}
