// Side Nav
//
// A vertical list of navigational links, typically used on the left side of a page.

.SideNav-item {
  position: relative;
  display: block;
  width: 100%;
  padding: $spacer-3;
  color: $text-gray;
  text-align: left;
  background-color: transparent;
  border: 0;

  & + & {
    border-top: $border;
  }

  &:last-child {
    // makes sure there is a "bottom border" in case the list is not long enough
    box-shadow: 0 $border-width 0 $border-color;
  }

  // Bar on the left
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 3px;
    pointer-events: none;
    content: "";
    background-color: $gray-300;
    transition: transform 0.24s ease-in;
    transform: scaleX(0);
    transform-origin: center left;
  }
}

// States

.SideNav-item:hover,
.SideNav-item:focus {
  outline: none;
  text-decoration: none;
  color: $text-gray-dark;

  // Bar on the left
  &::before {
    transition: transform 0.12s ease-out;
    transform: scaleX(1);
  }
}

.SideNav-item:active {
  background-color: $bg-white;
}

.SideNav-item[aria-current="page"],
.SideNav-item[aria-selected="true"] {
  font-weight: $font-weight-semibold;
  color: $text-gray-dark;
  background-color: $bg-white;

  // Bar on the left
  &::before {
    background-color: $orange-600;
    transform: scaleX(1);
  }
}

// Square Icon
//
// Makes sure multiple icons are vertically aligned

.SideNav-squareIcon {
  width: 16px;
}

// Side Sub Nav
//
// A more lightweight version, suited as sub nav

.SideSubNav {
  padding: $spacer-3;
}

.SideSubNav-item {
  position: relative;
  display: block;
  width: 100%;
  padding: $spacer-1 0;
  color: $text-gray;
  text-align: left;
  background-color: transparent;
  border: 0;
}

.SideSubNav-item:hover,
.SideSubNav-item:focus {
  outline: none;
  text-decoration: none;
  color: $text-gray-dark;
}

.SideSubNav-item[aria-current="page"],
.SideSubNav-item[aria-selected="true"] {
  font-weight: $font-weight-semibold;
  color: $text-gray-dark;
}
