// stylelint-disable selector-max-specificity

// Needs refactoring
// Sub nav
.subnav {
  margin-bottom: var(--base-size-20);

  @include clearfix();
}

.subnav-bordered {
  padding-bottom: var(--base-size-20);
  border-bottom: var(--borderWidth-default) solid var(--borderColor-muted, var(--color-border-muted));
}

.subnav-flush {
  margin-bottom: 0;
}

.subnav-item {
  position: relative;
  float: left;
  padding: var(--base-size-4) var(--base-size-16);
  font-weight: var(--base-text-weight-light);
  line-height: 20px;
  color: var(--fgColor-default, var(--color-fg-default));
  border: var(--borderWidth-default) solid var(--control-borderColor-rest, var(--color-border-default));

  + .subnav-item {
    margin-left: -1px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  }

  &.selected,
  &[aria-selected='true'],
  &[aria-current]:not([aria-current='false']) {
    z-index: 2;
    color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
    background-color: var(--bgColor-accent-emphasis, var(--color-accent-emphasis));
    border-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis));

    // fallback :focus state
    &:focus {
      @include focusOutlineOnEmphasis;

      // remove fallback :focus if :focus-visible is supported
      &:not(:focus-visible) {
        outline: solid 1px transparent;
        box-shadow: none;
      }
    }

    // default focus state
    &:focus-visible {
      @include focusOutlineOnEmphasis;
    }
  }

  &:first-child {
    border-top-left-radius: var(--borderRadius-default);
    border-bottom-left-radius: var(--borderRadius-default);
  }

  &:last-child {
    border-top-right-radius: var(--borderRadius-default);
    border-bottom-right-radius: var(--borderRadius-default);
  }
}

.subnav-search {
  position: relative;
  margin-left: var(--base-size-12);
}

.subnav-search-input {
  width: 320px;
  padding-left: var(--base-size-32);
  color: var(--fgColor-muted, var(--color-fg-muted));
}

.subnav-search-input-wide {
  // stylelint-disable-next-line primer/responsive-widths
  width: 500px;
}

.subnav-search-icon {
  position: absolute;
  top: var(--base-size-8);
  left: var(--base-size-8);
  display: block;
  color: var(--fgColor-muted, var(--color-fg-muted));
  text-align: center;
  pointer-events: none;
}

.subnav-search-context {
  .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover,
    &:focus,
    &:active,
    &.selected {
      z-index: 2;
    }
  }

  + .subnav-search {
    margin-left: -1px;

    .subnav-search-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .select-menu-modal-holder {
    z-index: 30;
  }

  .select-menu-modal {
    width: 220px;
  }

  .select-menu-item-icon {
    color: inherit;
  }
}

.subnav-spacer-right {
  padding-right: var(--base-size-12);
}
