.UnderlineNav {
  display: flex;
  // stylelint-disable-next-line primer/box-shadow
  box-shadow: inset 0 -1px 0 var(--color-border-muted);
  justify-content: space-between;
  min-height: 48px;
}

.UnderlineNav-body {
  display: flex;
  align-items: center;
  gap: 8px;
}

.UnderlineNav-item {
  padding: 0 $spacer-2;
  font-size: $body-font-size;
  // stylelint-disable-next-line primer/typography
  line-height: 30px;
  color: var(--color-fg-default);
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: $border-radius;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 48px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover {
    color: var(--color-fg-default);
    text-decoration: none;
    background: var(--color-neutral-muted);
    transition: background 0.12s ease-out;
  }

  &.selected,
  &[role='tab'][aria-selected='true'],
  &[aria-current]:not([aria-current='false']) {
    font-weight: $font-weight-bold;
    color: var(--color-fg-default);

    &:after {
      position: absolute;
      width: 100%;
      height: 2px;
      content: '';
      background: var(--color-primer-border-active);
      border-radius: $border-radius;
      right: 50%;
      // 48px total height / 2 (24px) + 1px
      bottom: calc(50% - 25px);
      transform: translate(50%, -50%);
    }

    .UnderlineNav-octicon {
      color: var(--color-fg-muted);
    }
  }

  // remove global offset
  &:focus-visible {
    outline-offset: 0;
  }
}

.UnderlineNav--right {
  justify-content: flex-end;

  .UnderlineNav-actions {
    flex: 1 1 auto;
  }
}

.UnderlineNav-actions {
  align-self: center;
}

.UnderlineNav--full {
  display: block;
}

.UnderlineNav-octicon {
  margin-right: $spacer-1;
  color: var(--color-fg-subtle);
}

.UnderlineNav .Counter {
  margin-left: $spacer-1;
  color: var(--color-fg-default);
  background-color: var(--color-neutral-muted);

  &--primary {
    color: var(--color-fg-on-emphasis);
    background-color: var(--color-neutral-emphasis);
  }
}

.UnderlineNav-container {
  display: flex;
  justify-content: space-between;
}
