// stylelint-disable selector-max-compound-selectors, max-nesting-depth, selector-max-specificity

.Overlay-hidden {
  display: none !important;
}

.Overlay {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  background-color: var(--color-canvas-default);
  // stylelint-disable-next-line primer/borders
  border-radius: 12px;
  box-shadow: var(--color-overlay-shadow);
  opacity: 1;

  &.Overlay--height-auto {
    height: auto;
  }

  &.Overlay--height-xsmall {
    height: 192px;
  }

  &.Overlay--height-small {
    height: 256px;
  }

  &.Overlay--height-medium {
    height: 320px;
  }

  &.Overlay--height-large {
    height: 432px;
  }

  &.Overlay--height-xlarge {
    height: 600px;
  }

  &.Overlay--width-small {
    width: 256px;
  }

  &.Overlay--width-medium {
    width: 320px;
  }

  &.Overlay--width-large {
    width: 480px;
  }

  &.Overlay--width-xlarge {
    width: 640px;
  }

  &.Overlay--width-xxlarge {
    width: 960px;
  }

  &.Overlay--motion-scaleFade {
    @media screen and (prefers-reduced-motion: no-preference) {
      animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running motion--scaleFade;
    }
  }

  @keyframes motion--scaleFade {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.Overlay-header {
  z-index: 1;
  display: flex;
  flex-direction: column;

  &.Overlay-header--divided {
    padding-bottom: $spacer-2;
    // stylelint-disable-next-line primer/box-shadow
    box-shadow: inset 0 #{-$border-width} var(--color-border-default);
  }

  &.Overlay-header--large {
    .Overlay-headerContentWrap {
      .Overlay-titleWrap {
        gap: $spacer-2;

        .Overlay-title {
          font-size: $h3-size;
        }

        .Overlay-description {
          font-size: $body-font-size;
        }
      }
    }
  }

  .Overlay-headerContentWrap {
    display: flex;
    align-items: flex-start;
    gap: $spacer-2;
    padding: $spacer-2 $spacer-2 0 $spacer-2;

    .Overlay-actionWrap {
      display: flex;
      flex-direction: row;
      gap: $spacer-2;
    }

    .Overlay-titleWrap {
      display: flex;
      padding: ($spacer-2 * 0.75) 0 ($spacer-2 * 0.75) $spacer-2;
      flex-direction: column;
      flex-grow: 1;
      gap: $spacer-1;

      .Overlay-title {
        margin: 0;
        font-size: $body-font-size;
        font-weight: $font-weight-bold;
      }

      .Overlay-description {
        margin: 0;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        color: var(--color-fg-muted);
      }
    }
  }
}

// generic body content slot
.Overlay-body {
  flex-grow: 1;
  padding: $spacer-3;
  font-size: $body-font-size;

  &.Overlay-body--paddingCondensed {
    padding: $spacer-2;
  }

  &.Overlay-body--paddingNone {
    padding: 0;
  }
}

// generic footer slot
.Overlay-footer {
  z-index: 1;
  display: flex;
  padding: 0 $spacer-3 $spacer-3 $spacer-3;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;

  &.Overlay-footer--divided {
    padding-top: $spacer-3;
    // stylelint-disable-next-line primer/box-shadow
    box-shadow: inset 0 $border-width var(--color-border-default);
  }

  &.Overlay-footer--alignStart {
    justify-content: flex-start;
    gap: $spacer-2;
  }

  &.Overlay-footer--alignCenter {
    justify-content: center;
    gap: $spacer-2;
  }

  &.Overlay-footer--alignEnd {
    justify-content: flex-end;
    gap: $spacer-2;
  }
}

// TODO: replace with refactored IconButton
.Overlay-closeButton {
  position: relative;
  display: grid;
  width: $spacer-5;
  height: $spacer-5;
  padding: 0;
  color: var(--color-fg-muted);
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: $border-width $border-style transparent;
  border-radius: $border-radius;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  place-content: center;
  align-self: flex-start;
  flex-shrink: 0;

  &:hover,
  &:focus {
    background-color: var(--color-btn-hover-bg);
    border: $border-width $border-style var(--color-btn-hover-bg);
  }
}

// this needs to move to a design token and be inline with JS
// position will depend on conditional positioning logic
.Overlay-backdrop-offset--normal {
  top: 4px;
}

.Overlay-backdrop {
  &.Overlay-backdrop--position-bottom,
  &.Overlay-backdrop--position-center {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    background-color: var(--color-neutral-muted);
    animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running dialog-backdrop-appear;

    @keyframes dialog-backdrop-appear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &.Overlay-backdrop--position-center {
    align-items: center;
    justify-content: center;
  }

  &.Overlay-backdrop--position-bottom {
    align-items: end;
    justify-content: center;

    .Overlay {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .Overlay-backdrop--position-anchor {
    position: absolute;
    display: block;
    background-color: transparent;
    background-color: pink;
    border-radius: 12px;

    // 767px
    @media (max-width: #{map-get($breakpoints, 'md') - 0.02px}) {
      &.Overlay-backdrop--position-fullscreen-whenNarrow {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        display: flex;
      }

      &.Overlay-backdrop--position-bottomSheet-whenNarrow {
        align-items: end;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        display: flex;
        background-color: var(--color-neutral-muted);
      }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      &.Overlay-backdrop--position-bottomSheet-whenNarrow {
        align-items: end;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        display: flex;
        background-color: var(--color-neutral-muted);
      }
    }
  }

  // 767px
  // narrow viewport range
  @media (max-width: #{map-get($breakpoints, 'md') - 0.02px}) {
    &.Overlay-backdrop--position-fullscreen-whenNarrow {
      .Overlay {
        width: 100%;
        max-width: 100vw;
        height: 100%;
        max-height: 100vh;
        // stylelint-disable-next-line primer/borders
        border-radius: unset;
        flex-grow: 1;
      }
    }

    &.Overlay-backdrop--position-bottomSheet-whenNarrow {
      align-items: end;
      justify-content: center;

      .Overlay {
        width: 100%;
        max-width: 100vw;
        height: auto;
        max-height: 100vh;
        // stylelint-disable-next-line primer/spacing
        padding-bottom: env(safe-area-inset-bottom);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    &.Overlay-backdrop--position-bottomSheet-whenNarrow {
      align-items: end;
      justify-content: center;

      .Overlay {
        max-width: 480px;
        height: auto;
        max-height: 100vh;
        // stylelint-disable-next-line primer/spacing
        padding-bottom: env(safe-area-inset-bottom);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

// dialog variant
.Overlay-backdrop--dialog {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 999;
  //   display: flex;
  //   background-color: var(--color-neutral-muted);
  //   animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running dialog-backdrop-appear;

  //   @keyframes dialog-backdrop-appear {
  //     0% {
  //       opacity: 0;
  //     }

  //     100% {
  //       opacity: 1;
  //     }
  //   }

  //   &.Overlay-backdrop--position-center {
  //     align-items: center;
  //     justify-content: center;
  //   }

  //   &.Overlay-backdrop--position-bottom {
  //     align-items: end;
  //     justify-content: center;

  //     .Overlay {
  //       border-bottom-right-radius: 0;
  //       border-bottom-left-radius: 0;
  //     }
  //   }

  //   .Overlay-positionAbsolute {
  //     position: absolute;
  //   }

  //   // 767px
  //   @media (max-width: #{map-get($breakpoints, 'md') - 0.02px}) {
  //     &.Overlay-backdrop--position-fullscreen-whenNarrow {
  //       .Overlay {
  //         width: 100%;
  //         max-width: 100vw;
  //         height: 100%;
  //         max-height: 100vh;
  //         // stylelint-disable-next-line primer/borders
  //         border-radius: unset;
  //         flex-grow: 1;
  //       }
  //     }

  //     &.Overlay-backdrop--position-bottomSheet-whenNarrow {
  //       align-items: end;
  //       justify-content: center;

  //       .Overlay {
  //         width: 100%;
  //         max-width: 100vw;
  //         height: auto;
  //         max-height: 100vh;
  //         // stylelint-disable-next-line primer/spacing
  //         padding-bottom: env(safe-area-inset-bottom);
  //         border-bottom-right-radius: 0;
  //         border-bottom-left-radius: 0;
  //       }
  //     }
  //   }

  //   @media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  //     &.Overlay-backdrop--position-bottomSheet-whenNarrow {
  //       align-items: end;
  //       justify-content: center;

  //       .Overlay {
  //         max-width: 480px;
  //         height: auto;
  //         max-height: 100vh;
  //         // stylelint-disable-next-line primer/spacing
  //         padding-bottom: env(safe-area-inset-bottom);
  //         border-bottom-right-radius: 0;
  //         border-bottom-left-radius: 0;
  //       }
  //     }
  //   }

  .Overlay {
    max-width: calc(100vw - 64px);
    max-height: calc(100vh - 64px);
  }
}

// Popover variant
// .Overlay-backdrop--popover {
