// stylelint-disable selector-max-type

// Link-like buttons
//
// This class is for styling <button> and <input> elements to look like links
.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  color: var(--fgColor-accent);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  appearance: none; // Corrects inability to style clickable `input` types in iOS.

  &:hover {
    text-decoration: underline;
  }

  &:disabled,
  &[aria-disabled='true'] {
    &,
    &:hover {
      color: var(--fgColor-disabled);
      cursor: default;
    }
  }

  &:not(.dropdown-item) {
    &:focus,
    &:focus-visible {
      // stylelint-disable-next-line primer/borders
      border-radius: $border-radius;
      outline-offset: 0;
    }
  }
}

// Invisible button
//
// Typically used as a "cancel" button next to a .btn
.btn-invisible {
  color: var(--fgColor-accent);
  background-color: transparent; // Reset default gradient backgrounds and colors
  border: 0;
  // stylelint-disable-next-line primer/borders
  border-radius: $border-radius;
  box-shadow: none;

  &:hover,
  &.zeroclipboard-is-hover {
    color: var(--fgColor-accent);
    background-color: var(--button-default-bgColor-hover);
    outline: none;
    box-shadow: none;
  }

  &:active,
  &.selected,
  &[aria-selected='true'],
  &.zeroclipboard-is-active {
    color: var(--fgColor-accent);
    background: none;
    border-color: var(--button-default-borderColor-active);

    @include focusOutline;
  }

  &:active &.zeroclipboard-is-active {
    background-color: var(--button-default-bgColor-selected);
  }

  &:disabled,
  &.disabled,
  &[aria-disabled='true'] {
    color: var(--fgColor-disabled);
    background-color: transparent;
  }
}

// Octicon button
//
// Icon-only buttons
.btn-octicon {
  display: inline-block;
  // stylelint-disable-next-line primer/spacing
  padding: 5px;
  // stylelint-disable-next-line primer/spacing
  margin-left: 5px;
  // stylelint-disable-next-line primer/typography
  line-height: $lh-condensed-ultra;
  color: var(--fgColor-muted);
  vertical-align: middle;

  // For `<button>` elements
  background: transparent;
  border: 0;
  box-shadow: none;

  &:hover {
    color: var(--fgColor-accent);
  }

  &:focus,
  &:focus-visible {
    // stylelint-disable-next-line primer/borders
    border-radius: $border-radius;
  }

  &.disabled,
  &[aria-disabled='true'] {
    color: var(--fgColor-disabled);
    cursor: default;

    &:hover {
      color: var(--fgColor-disabled);
    }
  }
}

.btn-octicon-danger:hover {
  color: var(--fgColor-danger);
}

// Close button
//
// Typically used with an octicon-x
.close-button {
  padding: 0;
  color: var(--fgColor-muted);
  background: transparent;
  border: 0;

  &:hover {
    color: var(--fgColor-default);
  }

  &:active {
    @include focusOutline;
  }
}

// Hidden text button
//
// Use `.hidden-text-expander` to indicate and expand hidden text.
.hidden-text-expander {
  display: block;

  &.inline {
    position: relative;
    // stylelint-disable-next-line primer/spacing
    top: -1px;
    display: inline-block;
    // stylelint-disable-next-line primer/spacing
    margin-left: 5px;
    // stylelint-disable-next-line primer/typography
    line-height: 0;
  }
}

.hidden-text-expander a,
.ellipsis-expander {
  display: inline-block;
  height: 12px;
  // stylelint-disable-next-line primer/spacing
  padding: 0 5px 5px;
  // stylelint-disable-next-line primer/typography
  font-size: $font-size-small;
  // stylelint-disable-next-line primer/typography
  font-weight: $font-weight-bold;
  // stylelint-disable-next-line primer/typography
  line-height: 6px;
  color: var(--fgColor-default);
  text-decoration: none;
  vertical-align: middle;
  background: var(--bgColor-neutral-muted);
  border: 0;
  // stylelint-disable-next-line primer/borders
  border-radius: 1px;

  &:hover {
    text-decoration: none;
    background-color: var(--bgColor-accent-muted);
  }

  &:active {
    color: var(--fgColor-onEmphasis);
    background-color: var(--bgColor-accent-emphasis);
  }
}

// Social button count
// TODO: Deprecate? Use BtnGroup instead?

.btn-with-count {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:focus {
    z-index: 1;
  }
}

// Social count bubble
//
// A container that is used for social bubbles counts.

.social-count {
  position: relative;
  float: left;
  // stylelint-disable-next-line primer/spacing
  padding: 3px 12px;
  // stylelint-disable-next-line primer/typography
  font-size: $font-size-small;
  // stylelint-disable-next-line primer/typography
  font-weight: $font-weight-bold;
  // stylelint-disable-next-line primer/typography
  line-height: 20px;
  color: var(--fgColor-default);
  vertical-align: middle;
  background-color: var(--bgColor-default);
  border: $border-width $border-style var(--button-default-borderColor-rest);
  border-left: 0;
  // stylelint-disable-next-line primer/borders
  border-top-right-radius: $border-radius;
  // stylelint-disable-next-line primer/borders
  border-bottom-right-radius: $border-radius;
  box-shadow: var(--shadow-resting-small), var(--shadow-highlight);

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: var(--fgColor-accent);
    cursor: pointer;
  }
}
