// stylelint-disable selector-no-qualifying-type, selector-max-type, selector-max-specificity, selector-max-compound-selectors

// Select Menu

.SelectMenu {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;
  border: $border;

  @include breakpoint($breakpoint) {
    max-height: 300px;
  }
}

// List item within the select-menu.
.SelectMenu-item {
  display: block;
  padding: $spacer-3 $spacer-2 $spacer-3 30px; // extra left padding for negative margined icon
  overflow: hidden;
  color: inherit;
  background-color: $white;
  cursor: pointer;

  & + & {
    border-top: $border-width $border-style lighten($gray-200, 3%);
  }

  @include breakpoint($breakpoint) {
    padding-top: $spacer-2;
    padding-bottom: $spacer-2;
  }


  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: $text-white;
    background-color: $bg-blue;
    text-decoration: none;
  }
}
