// Needs refactoring
// stylelint-disable selector-max-type, selector-no-qualifying-type

.suggester {
  position: relative;
  top: 0;
  left: 0;
  min-width: 180px;
  padding: 0;
  margin: 0;
  margin-top: var(--base-size-24);
  list-style: none;
  cursor: pointer;
  background: var(--overlay-bgColor, var(--color-canvas-overlay));
  border: var(--borderWidth-default) solid var(--borderColor-default, var(--color-border-default));
  border-radius: var(--borderRadius-default);
  box-shadow: var(--shadow-resting-medium, var(--color-shadow-medium));

  li {
    display: block;
    padding: var(--base-size-4) var(--base-size-8);
    font-weight: var(--base-text-weight-light);
    border-bottom: var(--borderWidth-default) solid var(--borderColor-muted, var(--color-border-muted));

    small {
      font-weight: var(--base-text-weight-light);
      color: var(--fgColor-muted, var(--color-fg-muted));
    }

    &:last-child {
      border-bottom: 0;
      border-bottom-right-radius: var(--borderRadius-default);
      border-bottom-left-radius: var(--borderRadius-default);
    }

    &:first-child {
      border-top-left-radius: var(--borderRadius-default);
      border-top-right-radius: var(--borderRadius-default);
    }

    &:hover {
      color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
      text-decoration: none;
      background: var(--bgColor-accent-emphasis, var(--color-accent-emphasis));

      small {
        color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
      }

      .octicon {
        color: inherit !important;
      }
    }

    &[aria-selected='true'],
    &.navigation-focus {
      color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
      text-decoration: none;
      background: var(--bgColor-accent-emphasis, var(--color-accent-emphasis));

      small {
        color: var(--fgColor-onEmphasis, var(--color-fg-on-emphasis));
      }

      .octicon {
        color: inherit !important;
      }
    }
  }
}

.suggester-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

// Responsive

.page-responsive {
  @media (max-width: $width-sm) {
    .suggester-container {
      right: var(--base-size-8) !important;
      left: var(--base-size-8) !important;
    }

    .suggester li {
      padding: var(--base-size-8) var(--base-size-16);
    }
  }
}
