/**
 * Source Sans Pro is an open-source face designed specifically for UI work, and
 * it's our primary face at FreeAgent. We serve it up via @font-face in a number
 * of formats, as required by different browsers. WOFF2 is preferred due to it's
 * better compression, followed by WOFF.
 *
 * Settings for browser support, OpenType vs TrueType, and font directory path
 * can all be changed in _font-settings.scss.
 *
 * Source Sans repo:
 * https://github.com/adobe-fonts/source-sans-pro
 */


/* Extra Light (200) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 200;
   font-style: normal;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-ExtraLight.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-ExtraLight.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-ExtraLight.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-ExtraLight.ttf') format('truetype')
   ));
 }

 /* Extra Light Italic (200) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 200;
   font-style: italic;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-ExtraLightIt.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-ExtraLightIt.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype')
   ));
 }

 /* Light (300) */
 @font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: supported-font-sources((
       embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-Light.eot') format('embedded-opentype'),
       truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
       opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-Light.otf.woff2') format('woff2'),
       truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-Light.ttf.woff') format('woff'),
       opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
       opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-Light.otf') format('opentype'),
       truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-Light.ttf') format('truetype')
   ));
 }

 /* Light Italic (300) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 300;
   font-style: italic;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-LightIt.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-LightIt.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-LightIt.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-LightIt.ttf') format('truetype')
   ));
 }

 /* Regular (400) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-Regular.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-Regular.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-Regular.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-Regular.ttf') format('truetype')
   ));
 }

 /* Regular Italic (400) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-It.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-It.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-It.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-It.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-It.ttf') format('truetype')
   ));
 }
 /* Semi-Bold (600) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-Semibold.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-Semibold.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-Semibold.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-Semibold.ttf') format('truetype')
   ));
 }

 /* Semi-Bold Italic (600) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 600;
   font-style: italic;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-SemiboldIt.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-SemiboldIt.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype')
   ));
 }

 /* Bold (700) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-Bold.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-Bold.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-Bold.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-Bold.ttf') format('truetype')
   ));
 }

 /* Bold Italic (700) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 700;
   font-style: italic;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-BoldIt.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-BoldIt.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-BoldIt.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-BoldIt.ttf') format('truetype')
   ));
 }
 /* Black (900) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-Black.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-Black.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-Black.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-Black.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-Black.ttf') format('truetype')
   ));
}

 /* Black Italic (900) */
 @font-face {
   font-family: 'Source Sans Pro';
   font-weight: 900;
   font-style: italic;
   font-stretch: normal;
   src: supported-font-sources((
      embedded-opentype: url('#{$font-path}/SourceSansPro/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'),
      truetype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
      opentype-woff2:    url('#{$font-path}/SourceSansPro/WOFF2/OTF/SourceSansPro-BlackIt.otf.woff2') format('woff2'),
      truetype-woff:     url('#{$font-path}/SourceSansPro/WOFF/TTF/SourceSansPro-BlackIt.ttf.woff') format('woff'),
      opentype-woff:     url('#{$font-path}/SourceSansPro/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'),
      opentype:          url('#{$font-path}/SourceSansPro/OTF/SourceSansPro-BlackIt.otf') format('opentype'),
      truetype:          url('#{$font-path}/SourceSansPro/TTF/SourceSansPro-BlackIt.ttf') format('truetype')
   ));
}
