// Stacked avatars can be used to show who is participating in thread when
// there is limited space available.

.AvatarStack {
  display: flex;
  position: relative;
  min-width: 20px;
  height: 20px;
  .avatar {
    &:first-child {
      margin-left: 0;
    }
    @for $i from 4 through 100 {
      &:nth-child(#{$i}) {
        display: none;
      }
    }
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        z-index: #{10 - $i};
      }
    }
  }
}

.AvatarStack--two {
  min-width: 30px;
  .avatar {
    @for $i from 3 through 100 {
      &:nth-child(#{$i}) {
        display: none;
      }
    }
  }
}

.AvatarStack--three-plus {
  min-width: 38px;
  .avatar {
    @for $i from 3 through 5 {
      &:nth-child(#{$i}) {
        opacity: #{100% - $i*15};
        margin-left: -17px;
      }
    }
    @for $i from 4 through 100 {
      &:nth-child(#{$i}) {
        display: block;
      }
    }
    @for $i from 6 to 100 {
      &:nth-child(#{$i}) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &.AvatarStack--right {
    .avatar {
      @for $i from 3 through 5 {
        &:nth-child(#{$i}) {
          // stylelint-disable-next-line primer/spacing
          margin-right: -17px;
        }
      }
    }
  }
}

.AvatarStack-body {
  display: flex;
  position: absolute;
  width: 38px;
  
  .avatar {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 1px $white;
    // stylelint-disable-next-line primer/spacing
    margin-left: -11px;
    position: relative;
    overflow: hidden;
    transition: margin 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  &:hover {
    width: auto;
    
    .avatar {
      margin-left: $spacer-1;
      opacity: 100%;
      visibility: visible;
      box-shadow: 0 0 0 4px $white;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.AvatarStack--right {
  justify-content: flex-end;
  
  .avatar {
    margin-left: 0 !important;
    // stylelint-disable-next-line primer/spacing
    margin-right: -11px;
    
    &:first-child {
      margin-right: 0;
    }
  }
  
  .AvatarStack-body {
    flex-direction: row-reverse;
    
    &:hover {
      .avatar {
        margin-right: $spacer-1;
        margin-left: 0 !important;
        
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}