// Typography
$marketing-font-path: "/fonts/" !default;

$font-mktg: $body-font !default;
$mktg-header-spacing-large: -3% !default;
$mktg-header-spacing-default: -1% !default;

// Size steps
$mktg-h-size-0:  96px !default;
$mktg-h-size-1:  72px !default;
$mktg-h-size-2:  64px !default;
$mktg-h-size-3:  56px !default;
$mktg-h-size-4:  48px !default;
$mktg-h-size-5:  40px !default;
$mktg-h-size-6:  32px !default;
$mktg-h-size-7:  28px !default;
$mktg-h-size-8:  24px !default;
$mktg-h-size-9:  20px !default;
$mktg-h-size-10: 16px !default;

// Line-height steps
$mktg-h-lh-0:  100px !default;
$mktg-h-lh-1:  76px !default;
$mktg-h-lh-2:  64px !default;
$mktg-h-lh-3:  60px !default;
$mktg-h-lh-4:  52px !default;
$mktg-h-lh-5:  44px !default;
$mktg-h-lh-6:  36px !default;
$mktg-h-lh-7:  32px !default;
$mktg-h-lh-8:  28px !default;
$mktg-h-lh-9:  24px !default;
$mktg-h-lh-10: 20px !default;

// Variables for responsive utility classes
$mktg-h0-size:    $mktg-h-size-0  !default;
$mktg-h0-lh:      $mktg-h-lh-0    !default;
$mktg-h0-size-md: $mktg-h-size-1  !default;
$mktg-h0-lh-md:   $mktg-h-lh-1    !default;
$mktg-h0-size-sm: $mktg-h-size-4  !default;
$mktg-h0-lh-sm:   $mktg-h-lh-4    !default;

$mktg-h1-size:    $mktg-h-size-1  !default;
$mktg-h1-lh:      $mktg-h-lh-1    !default;
$mktg-h1-size-md: $mktg-h-size-3  !default;
$mktg-h1-lh-md:   $mktg-h-lh-3    !default;
$mktg-h1-size-sm: $mktg-h-size-5  !default;
$mktg-h1-lh-sm:   $mktg-h-lh-5    !default;

$mktg-h2-size:    $mktg-h-size-2  !default;
$mktg-h2-lh:      $mktg-h-lh-2    !default;
$mktg-h2-size-md: $mktg-h-size-4  !default;
$mktg-h2-lh-md:   $mktg-h-lh-4    !default;
$mktg-h2-size-sm: $mktg-h-size-6  !default;
$mktg-h2-lh-sm:   $mktg-h-lh-6    !default;

$mktg-h3-size:    $mktg-h-size-4  !default;
$mktg-h3-lh:      $mktg-h-lh-4    !default;
$mktg-h3-size-md: $mktg-h-size-5  !default;
$mktg-h3-lh-md:   $mktg-h-lh-5    !default;
$mktg-h3-size-sm: $mktg-h-size-7  !default;
$mktg-h3-lh-sm:   $mktg-h-lh-7    !default;

$mktg-h4-size:    $mktg-h-size-6  !default;
$mktg-h4-lh:      $mktg-h-lh-6    !default;
$mktg-h4-size-md: $mktg-h-size-7  !default;
$mktg-h4-lh-md:   $mktg-h-lh-7    !default;
$mktg-h4-size-sm: $mktg-h-size-8  !default;
$mktg-h4-lh-sm:   $mktg-h-lh-8    !default;

$mktg-h5-size:    $mktg-h-size-8  !default;
$mktg-h5-lh:      $mktg-h-lh-8    !default;
$mktg-h5-size-md: $mktg-h-size-8  !default;
$mktg-h5-lh-md:   $mktg-h-lh-8    !default;
$mktg-h5-size-sm: $mktg-h-size-9  !default;
$mktg-h5-lh-sm:   $mktg-h-lh-9    !default;

$mktg-h6-size:    $mktg-h-size-9  !default;
$mktg-h6-lh:      $mktg-h-lh-9    !default;
$mktg-h6-size-md: $mktg-h-size-9  !default;
$mktg-h6-lh-md:   $mktg-h-lh-9    !default;
$mktg-h6-size-sm: $mktg-h-size-10 !default;
$mktg-h6-lh-sm:   $mktg-h-lh-10   !default;

// Animations
$transition-time: 0.4s !default;
$ease-mktg: cubic-bezier(0.16, 1, 0.3, 1) !default;

// Increases the core spacing scale first by 8px for $spacer-7, then by 16px
// increments from $spacer-8 to $spacer-12, i.e. after 40px, we have 48, 64,
// 80, 96, etc.
$spacer-7:  $spacer * 6 !default;  // 48px
$spacer-8:  $spacer * 8 !default;  // 64px
$spacer-9:  $spacer * 10 !default; // 80px
$spacer-10: $spacer * 12 !default; // 96px
$spacer-11: $spacer * 14 !default; // 112px
$spacer-12: $spacer * 16 !default; // 128px

$marketing-spacers: (
  7: $spacer-7,
  8: $spacer-8,
  9: $spacer-9,
  10: $spacer-10,
  11: $spacer-11,
  12: $spacer-12,
) !default;

$marketing-all-spacers: map-merge(
  (
    0: 0,
    1: $spacer-1,
    2: $spacer-2,
    3: $spacer-3,
    4: $spacer-4,
    5: $spacer-5,
    6: $spacer-6,
  ),
  $marketing-spacers,
) !default;

$marketing-position-variants: (
  "": "",
  md: "-md",
  lg: "-lg",
) !default;
