$marketing-font-path: "/fonts/" !default;

$font-mktg: $body-font !default;

// Builds upon @primer/css/support/variables/typography.scss
$h000-size: 64px !default;
$h000-size-mobile: 48px !default;

// Animations
$transition-time: 0.4s !default;
$ease-mktg: cubic-bezier(0.16, 1, 0.3, 1) !default;

$marketing-position-variants: (
  "": "",
  md: "-md",
  lg: "-lg",
) !default;
