// Keyboard shortcuts
// stylelint-disable selector-max-type

kbd {
  display: inline-block;
  padding: var(--base-size-4);
  // stylelint-disable-next-line primer/typography
  font: 11px $mono-font;
  // stylelint-disable-next-line primer/typography
  line-height: 10px;
  color: var(--fgColor-default, var(--color-fg-default));
  vertical-align: middle;
  background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  // stylelint-disable-next-line primer/borders, primer/colors
  border: $border-style $border-width var(--borderColor-neutral-muted, var(--color-neutral-muted));
  border-bottom-color: var(--borderColor-neutral-muted, var(--color-neutral-muted));
  // stylelint-disable-next-line primer/borders
  border-radius: $border-radius;
  // stylelint-disable-next-line primer/box-shadow
  box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted, var(--color-neutral-muted));
}
