// Keyboard shortcuts
// stylelint-disable selector-max-type

kbd {
  display: inline-block;
  padding: var(--base-size-4);
  , declaration-property-value-no-unknown
  font: 11px var(--fontStack-monospace);

  line-height: 10px;
  color: var(--fgColor-default, var(--color-fg-default));
  vertical-align: middle;
  background-color: var(--bgColor-muted, var(--color-canvas-subtle));

  border: $border-style var(--borderWidth-default) var(--borderColor-neutral-muted, var(--color-neutral-muted));
  border-bottom-color: var(--borderColor-neutral-muted, var(--color-neutral-muted));

  border-radius: var(--borderRadius-default);
  // stylelint-disable-next-line primer/box-shadow
  box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted, var(--color-neutral-muted));
}
