// Headings
// --------------------------------------------------
// stylelint-disable selector-max-type primer/typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: $h1-size;
  font-weight: var(--primer-text-title-weight, 600);
  line-height: var(--primer-text-title-lineHeight-large);
}

h2 {
  font-size: $h2-size;
  font-weight: var(--primer-text-title-weight, 600);
  line-height: var(--primer-text-title-lineHeight-medium);
}

h3 {
  font-size: $h3-size;
  font-weight: var(--primer-text-subtitle-weight, 600);
  line-height: var(--primer-text-subtitle-lineHeight);
}

h4 {
  font-size: $h4-size;
  font-weight: var(--primer-text-body-weight, 600);
  line-height: var(--primer-text-body-lineHeight-large);
}

h5 {
  font-size: $h5-size;
  font-weight: var(--primer-text-body-weight, 600);
  line-height: var(--primer-text-body-lineHeight-medium);
}

h6 {
  font-size: $h6-size;
  font-weight: var(--primer-text-body-weight, 600);
  line-height: var(--primer-text-body-lineHeight-small);
}

// Body text
// --------------------------------------------------

p {
  margin-top: 0;
  // stylelint-disable-next-line primer/spacing
  margin-bottom: var(--base-size-8, 10px);
}

small {
  // stylelint-disable-next-line primer/typography
  font-size: 90%;
}

blockquote {
  margin: 0;
}

// Lists
// --------------------------------------------------

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

// Monospaced
// --------------------------------------------------

tt,
code,
samp {
  font-family: $mono-font;
  font-size: $font-size-small;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $mono-font;
  font-size: $font-size-small;
}

// Octicons
// --------------------------------------------------

// Move this over here as a temporary override to the octicons source repo
// instead of updating that upstream.
.octicon {
  vertical-align: text-bottom;
}
