name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - run: npm run dist
      - name: Lint source files
        run: npm run stylelint:fix
      - name: Push up any fixes
        if: ${{ github.event_name == 'pull_request' }}
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Fixing stylelint issues
          commit_user_name: GitHub Design Engineering Bot
          commit_user_email: primer-css@users.noreply.github.com
          commit_author: primer-css <primer-css@users.noreply.github.com>
          file_pattern: src/**/*.scss

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - name: Lint workflow files
        run: npm run eslint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - name: Jest
        run: npm test
