.PageHeader {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    'titleWrap'
    'description'
    'navigationWrap';
  

  // Title

  .PageHeader-titleWrap {
    display: grid;
    grid-area: titleWrap;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
      'eyebrow eyebrowActions'
      'title titleActions';
    column-gap: 8px;
  }

  // Title/eyebrow

  .PageHeader-eyebrow {
    grid-area: eyebrow;
    align-self: center;
  }

  .PageHeader-actions {
    grid-area: titleActions;

    &.PageHeader-actions--pos-title {
      grid-area: titleActions;
    }

    &.PageHeader-actions--pos-eyebrow {
      grid-area: eyebrowActions;
    }
  }

  .PageHeader-title {
    grid-area: title;
  }

  //////////////

  .PageHeader-parentLink {

    a {
      display: inline-grid;
      grid-template-columns: min-content auto;
      gap: var(--gh-gutter-small);
      gap: 4px; // fixme
      align-items: center;
      color: var(--color-fg-muted);
      font-size: var(--gh-text-caption-size);
      line-height: var(--gh-text-caption-lineHeight);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 4px 8px;
      margin: -4px -8px;
      border-radius: 6px;

      &:hover {
        color: var(--color-fg-default);
        text-decoration: none;
        background: #ececec; //fixme
      }
    }
  }

  // Title
  
  .PageHeader-title {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    gap: 8px;

    // Replace with Primer primitives

    // title-large
    --gh-text-title-large-fontSize: 2rem; /* 32px */
    --gh-text-title-large-fontWeight: 600;
    --gh-text-title-large-lineHeight: calc(40 / 32);
    --gh-text-title-large-lineBoxHeight: 2.5rem; /* 40px */

    // title-medium
    --gh-text-title-medium-fontSize: 1.25rem; /* 20px */
    --gh-text-title-medium-fontWeight: 600;
    --gh-text-title-medium-lineHeight: calc(32 / 20);
    --gh-text-title-medium-lineBoxHeight: 2rem; /* 32px */

    // subtitle
    --gh-text-subtitle-fontSize: 1.25rem; /* 20px */
    --gh-text-subtitle-fontWeight: 400;
    --gh-text-subtitle-lineHeight: calc(32 / 20);
    --gh-text-subtitle-lineBoxHeight: 2rem; /* 32px */

    &.PageHeader-title--large {
      font-size: var(--gh-text-title-large-fontSize);
      line-height: var(--gh-text-title-large-lineHeight);
      font-weight: var(--gh-text-title-large-fontWeight);

      .PageHeader-backButton a {
        height: var(--gh-text-title-large-lineBoxHeight);
      }
    }
    &.PageHeader-title--medium {
      font-size: var(--gh-text-title-medium-fontSize);
      line-height: var(--gh-text-title-medium-lineHeight);
      font-weight: var(--gh-text-title-medium-fontWeight);
    }
    &.PageHeader-title--subtitle {
      font-size: var(--gh-text-subtitle-fontSize);
      line-height: var(--gh-text-subtitle-lineHeight);
      font-weight: var(--gh-text-subtitle-fontWeight);
    }

    &.PageHeader-title--hasLeadingVisual {
      background: pink;
    }

    &.PageHeader-title--hasBackButton {
      //background: yellow;
      //margin-left: -8px;
      grid-template-columns: min-content auto;
    }

    &.PageHeader-title--hasInteractiveTitle {
      background: orange;
    }

    h1, h2, h3, h4 {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      //outline: 1px solid red;
    }
  }

  // Back button

  .PageHeader-backButton {
    a {
      display: grid;
      width: 16px;
      height: var(--gh-text-title-medium-lineBoxHeight);
      //background: red;
      align-items: center;
      border-radius: 6px;
      color: inherit;
      position: relative;

      &:hover {
        background: orange;
      }

      @media (pointer: coarse) {
        &:after {
          position: absolute;
          content: "";
          inset: 0;
          background: red;
        }
      }
    }
  }
}