.PageHeader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'contextBar',
    'titleBar'
    'description'
    'navigation';
  
  // Context bar

  .PageHeader-contextBar {
    display: flex;
    column-gap: 16px;
    align-items: center;

    .PageHeader-parentLink {
      flex: 1 1 auto;
    }

    .PageHeader-actions {
      flex: 0 0 auto;
    }
  }

  // Title bar

  .PageHeader-titleBar {
    display: flex;
    column-gap: 16px;

    .PageHeader-title {
      flex: 1 1 auto;
    }

    .PageHeader-actions {
      flex: 0 0 auto;
    }
  }

  // Title

  .PageHeader-title {
    grid-area: title;
  }

  //////////////

  .PageHeader-parentLink {

    a {
      display: inline-grid;
      grid-template-columns: min-content auto;
      gap: var(--gh-gutter-small);
      gap: 4px; // fixme
      align-items: center;
      color: var(--color-fg-muted);
      font-size: var(--gh-text-caption-size);
      line-height: var(--gh-text-caption-lineHeight);
      padding: 4px 8px;
      margin: -4px -8px;
      border-radius: 6px;

      &:hover {
        color: var(--color-fg-default);
        text-decoration: none;
        background: #ececec; //fixme
      }
    }

    .PageHeader-parentLink-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  // Title
  
  .PageHeader-title {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    gap: 8px;

    // Title variants

    &.PageHeader-title--large {
      // Replace with Primer primitives design tokens: `title-large` 
      font: 400 2rem/calc(40 / 32) $body-font;

      .PageHeader-backButton a {
        // Replace with Primer primitives `title-large` lineBoxHeight
        height: 2.5rem;
      }

      + .PageHeader-actions {
        // Replace with viewport range variables: `regular`
        @media (min-width: 768px) {
          // This centralizes vertically the action in a 40px tall line height
          // for a title-large.
          //
          // Replace with Primer primitives `title-large` lineBoxHeight
          // calc((titleLarge-lineBoxHeight - uiControl-medium-size) / 2)
          padding-block: calc((2.5rem - 2rem) / 2) 0;
        }
      }
    }
    &.PageHeader-title--medium {
      // Replace with Primer primitives design tokens: `title-medium` 
      font: 600 1.25rem/calc(32 / 20) $body-font;
    }
    &.PageHeader-title--subtitle {
      // Replace with Primer primitives design tokens: `subtitle` 
      font: 400 1.25rem/calc(32 / 20) $body-font;
    }

    // Reponsive title variants

    // Replace with viewport range variables: `narrow`
    @media (max-width: 768px) {
      &.PageHeader-title--medium-whenNarrow {
        // Replace with Primer primitives design tokens: `title-medium` 
        font: 600 1.25rem/calc(32 / 20) $body-font;
      }

      &.PageHeader-title--subtitle-whenNarrow {
        // Replace with Primer primitives design tokens: `title-medium` 
        font: 400 1.25rem/calc(32 / 20) $body-font;
      }
    }

    &.PageHeader-title--hasLeadingVisual {
      background: pink;
    }

    &.PageHeader-title--hasBackButton {
      //background: yellow;
      //margin-left: -8px;
      grid-template-columns: min-content auto;
    }

    &.PageHeader-title--hasInteractiveTitle {
      background: orange;
    }

    h1, h2, h3, h4 {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      //outline: 1px solid red;
    }
  }

  // Back button

  .PageHeader-backButton {
    a {
      display: grid;
      width: 16px;
      height: var(--gh-text-title-medium-lineBoxHeight);
      //background: red;
      align-items: center;
      border-radius: 6px;
      color: inherit;
      position: relative;

      &:hover {
        background: orange;
      }

      @media (pointer: coarse) {
        &:after {
          position: absolute;
          content: "";
          inset: 0;
          background: red;
        }
      }
    }
  }

  // Description slot

  .PageHeader-description {
    margin-top: 8px;
    overflow: auto;
  }

  // Navigation slot

  .PageHeader-navigation {
    margin-top: 16px;
    overflow: auto;
  }
}