// Stack layout helper component

.Stack {
  
  // Structure
  // =========
  //
  // .Stack
  // ├─ &.Stack--dir-[ inline | block ] [ -whenNarrow ]
  // ├─ &.Stack--gap-[ none | condensed | normal | spacious ] [ -whenNarrow ]
  // ├─ &.Stack--align-[ start | center | end | baseline ] [ -whenNarrow ]
  // ├─ &.Stack--alignWrap-[ start | center | end | distribute | distributeEvenly ] [ -whenNarrow ]
  // ├─ &.Stack--spread-[ start | center | end | distribute | distributeEvenly ] [ -whenNarrow ]
  // ├─ &.Stack--wrap [ -whenNarrow ]
  // ├─ &.Stack--nowrap [ -whenNarrow ]
  // ├─ &.Stack--showDividers [ -whenNarrow ]
  // ├─ &.Stack--hideDividers-whenNarrow
  // │
  // ├─ .Stack-divider

  --Stack-gap: var(--primer-stack-gap-normal, 16px);
  --Stack-gap-whenNarrow: var(--Stack-gap);
  --Stack-divider-color: var(--color-border-default);

  display: flex;
  flex-flow: column;
  gap: var(--Stack-gap);
  min-block-size: fit-content;
  min-inline-size: fit-content;
  align-items: stretch;

  @media ($viewport-narrow) {
    gap: var(--Stack-gap-whenNarrow);
  }
}

/* Direction */

.Stack--dir-inline {
  flex-flow: row;
}

.Stack--dir-block {
  flex-flow: column;
}

@media ($viewport-narrow) {
  .Stack--dir-inline-whenNarrow {
    flex-flow: row;
  }

  .Stack--dir-block-whenNarrow {
    flex-flow: column;
  }
}

/* Gap */

.Stack--gap-none {
  --Stack-gap: 0;
}

.Stack--gap-condensed {
  --Stack-gap: var(--primer-stack-gap-condensed, 8px);
}

.Stack--gap-normal {
  --Stack-gap: var(--primer-stack-gap-normal, 16px);
}

@media ($viewport-regular) {
  .Stack--gap-spacious {
    --Stack-gap: var(--primer-stack-gap-spacious, 24px);
  }
}

@media ($viewport-narrow) {
  .Stack--gap-none-whenNarrow {
    --Stack-gap-whenNarrow: 0;
  }

  .Stack--gap-condensed-whenNarrow {
    --Stack-gap-whenNarrow: var(--primer-stack-gap-condensed, 8px);
  }

  .Stack--gap-normal-whenNarrow {
    --Stack-gap-whenNarrow: var(--primer-stack-gap-normal, 16px);
  }
}

/* Align */

.Stack--align-start {
  align-items: flex-start;
}

.Stack--align-center {
  align-items: center;
}

.Stack--align-end {
  align-items: flex-end;
}

.Stack--align-baseline {
  align-items: baseline;
}

@media ($viewport-narrow) {
  .Stack--align-start-whenNarrow {
    align-items: flex-start;
  }

  .Stack--align-center-whenNarrow {
    align-items: center;
  }

  .Stack--align-end-whenNarrow {
    align-items: flex-end;
  }
  .Stack--align-baseline-whenNarrow {
    align-items: baseline;
  }
}

/* AlignWrap */

.Stack--alignWrap-start {
  align-content: flex-start;
}

.Stack--alignWrap-center {
  align-content: center;
}

.Stack--alignWrap-end {
  align-content: flex-end;
}
.Stack--alignWrap-distribute {
  align-content: space-between;
}
.Stack--alignWrap-distributeEvenly {
  align-content: space-evenly;
}

@media ($viewport-narrow) {
  .Stack--alignWrap-start-whenNarrow {
    align-content: flex-start;
  }
  
  .Stack--alignWrap-center-whenNarrow {
    align-content: center;
  }
  
  .Stack--alignWrap-end-whenNarrow {
    align-content: flex-end;
  }
  .Stack--alignWrap-distribute-whenNarrow {
    align-content: space-between;
  }
  .Stack--alignWrap-distributeEvenly-whenNarrow {
    align-content: space-evenly;
  }
}

/* Spread */

.Stack--spread-start {
  justify-content: flex-start;
}
.Stack--spread-center {
  justify-content: center;
}
.Stack--spread-end {
  justify-content: flex-end;
}
.Stack--spread-distribute {
  justify-content: space-between;
}
.Stack--spread-distributeEvenly {
  justify-content: space-evenly;
}

@media ($viewport-narrow) {
  .Stack--spread-start-whenNarrow {
    justify-content: flex-start;
  }
  .Stack--spread-center-whenNarrow {
    justify-content: center;
  }
  .Stack--spread-end-whenNarrow {
    justify-content: flex-end;
  }
  .Stack--spread-distribute-whenNarrow {
    justify-content: space-between;
  }
  .Stack--spread-distributeEvenly-whenNarrow {
    justify-content: space-evenly;
  }
}

/* Wrap */

.Stack--wrap {
  flex-wrap: wrap;
}

.Stack--nowrap {
  flex-wrap: nowrap;
}

@media ($viewport-narrow) {
  .Stack--wrap-whenNarrow {
    flex-wrap: wrap;
  }

  .Stack--nowrap-whenNarrow {
    flex-wrap: nowrap;
  }
}

/* Divider */

.Stack--showDividers .Stack-divider {
  display: block;
}
@media ($viewport-narrow) {
  .Stack--showDividers-whenNarrow .Stack-divider {
    display: block;
  }
  .Stack--hideDividers-whenNarrow .Stack-divider {
    display: none;
  }
}

.Stack-divider {
  margin: 0;
  padding: 0;
  border: none;
  display: none;
  align-self: stretch;
}

.Stack--dir-block .Stack-divider {
  border-inline-end: none;
  border-block-end: var(--primer-borderWidth-thin, 1px) solid var(--Stack-divider-color);
  inline-size: auto;
  block-size: 0;
}

.Stack--dir-inline .Stack-divider {
  border-inline-end: var(--primer-borderWidth-thin, 1px) solid var(--Stack-divider-color);
  border-block-end: none;
  inline-size: 0;
  block-size: auto;
}

@media ($viewport-narrow) {
  .Stack--dir-block-whenNarrow .Stack-divider {
    border-inline-end: none;
    border-block-end: var(--primer-borderWidth-thin, 1px) solid var(--Stack-divider-color);
    inline-size: auto;
    block-size: 0;
  }
  .Stack--dir-inline-whenNarrow .Stack-divider {
    border-inline-end: var(--primer-borderWidth-thin, 1px) solid var(--Stack-divider-color);
    border-block-end: none;
    inline-size: 0;
    block-size: auto;
  }
}