// Headings
.h0-mktg,
.h1-mktg,
.h2-mktg,
.h3-mktg,
.h4-mktg,
.h5-mktg,
.h6-mktg {
  font-family: $font-mktg;
  font-weight: $font-weight-semibold;
  font-feature-settings: "salt" 2;
}

@each $header, $sizes in $mktg-headers {
  .h#{$header}-mktg {
    $pairing: map-get($mktg-header-pairings, nth($sizes, 1));
    font-size: map-get($pairing, "size") !important;
    line-height: map-get($pairing, "lh") !important;
    letter-spacing: $mktg-header-spacing-default;

    @if (nth($sizes, 1) != nth($sizes, 2)) {
      @include breakpoint(md) {
        $pairing: map-get($mktg-header-pairings, nth($sizes, 2));
        font-size: map-get($pairing, "size") !important;
        line-height: map-get($pairing, "lh") !important;
        @if (map-get($pairing, "size") >= 48px) {
          letter-spacing: $mktg-header-spacing-large;
        }
      }
    }

    @if (nth($sizes, 2) != nth($sizes, 3)) {
      @include breakpoint(lg) {
        $pairing: map-get($mktg-header-pairings, nth($sizes, 3));
        font-size: map-get($pairing, "size") !important;
        line-height: map-get($pairing, "lh") !important;
        @if (map-get($pairing, "size") >= 48px) {
          letter-spacing: $mktg-header-spacing-large;
        }
      }
    }
  }
}

@each $body, $sizes in $mktg-bodies {
  .f#{$body}-mktg {
    $pairing: map-get($mktg-body-pairings, nth($sizes, 1));
    font-size: map-get($pairing, "size") !important;
    line-height: map-get($pairing, "lh") !important;
    @if (map-get($pairing, "size") >= 28px) {
      letter-spacing: $mktg-body-spacing-large;
    }

    @if (nth($sizes, 1) != nth($sizes, 2)) {
      @include breakpoint(md) {
        $pairing: map-get($mktg-body-pairings, nth($sizes, 2));
        font-size: map-get($pairing, "size") !important;
        line-height: map-get($pairing, "lh") !important;
        @if (map-get($pairing, "size") >= 28px) {
          letter-spacing: $mktg-body-spacing-large;
        }
      }
    }

    @if (nth($sizes, 2) != nth($sizes, 3)) {
      @include breakpoint(lg) {
        $pairing: map-get($mktg-body-pairings, nth($sizes, 3));
        font-size: map-get($pairing, "size") !important;
        line-height: map-get($pairing, "lh") !important;
        @if (map-get($pairing, "size") >= 28px) {
          letter-spacing: $mktg-body-spacing-large;
        }
      }
    }
  }
}

// Pullquote

@mixin pullquote {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $spacer;
  margin-bottom: $spacer-4;
  font-family: $mono-font;
  font-size: $h4-size;
  line-height: 1.4;
  color: var(--color-color-text-secondary);
  border-left: 3px solid var(--color-border-primary);

  @include breakpoint(md) {
    padding-left: $spacer * 1.5;
    margin-bottom: $spacer-5;
    margin-left: (-$spacer * 1.5) - 3px;
    font-size: 18px;
    line-height: $lh-default;
  }
}

.pullquote {
  @include pullquote;
}
