.DocsExample-preview--text-color--default {
  @include text-color(default);
}

.DocsExample-preview--text-color--dark {
  @include text-color(dark);
}

.DocsExample-preview--text-color--light {
  @include text-color(light);
}

.DocsExample-preview--text-color--x-light {
  @include text-color(x-light);
}

.DocsExample-preview--text-color--xx-light {
  @include text-color(xx-light);
}

.DocsExample-preview--text-color--positive {
  @include text-color(positive);
}

.DocsExample-preview--text-color--warning {
  @include text-color(warning);
}

.DocsExample-preview--text-color--negative {
  @include text-color(negative);
}


.DocsExample-preview--text-color--fa-blue {
  @include text-color(fa-blue);
}

.DocsExample-preview--text-color--fa-blue--dark {
  @include text-color(fa-blue--dark);
}

.DocsExample-preview--text-color--fa-blue--x-dark {
  @include text-color(fa-blue--x-dark);
}

.DocsExample-preview--text-color--fa-green--text {
  @include text-color(fa-green--text);
}

.DocsExample-preview--text-color--fa-green--dark {
  @include text-color(fa-green--dark);
}

.DocsExample-preview--text-color--fa-purple {
  @include text-color(fa-purple);
}

.DocsExample-preview--text-color--fa-red--text {
  @include text-color(fa-red--text);
}

.DocsExample-preview--text-color--fa-red--dark {
  @include text-color(fa-red--dark);
}

.DocsExample-preview--text-color--fa-amber {
  @include text-color(fa-amber);
}

.DocsExample-preview--text-color--gray-1 {
  @include text-color(gray-1);
}

.DocsExample-preview--text-color--gray-2 {
  @include text-color(gray-2);
}

.DocsExample-preview--text-color--gray-3 {
  @include text-color(gray-3);
}

.DocsExample-preview--text-color--gray-4 {
  @include text-color(gray-4);
}

.DocsExample-preview--text-color--gray-5 {
  @include text-color(gray-5);
}

.DocsExample-preview--text-color--gray-6 {
  @include text-color(gray-6);
}

.DocsExample-preview--text-color--gray-7 {
  @include text-color(gray-7);
}

.DocsExample-preview--text-color--gray-8 {
  @include text-color(gray-8);
}

.DocsExample-preview--text-color--gray-9 {
  @include text-color(gray-9);
}

.DocsExample-preview--text-color--gray-10 {
  @include text-color(gray-10);
}

.DocsExample-preview--text-color--gray-11 {
  @include text-color(gray-11);
}
